--cache
--caskroom
--cellar
--env
--prefix
--repository
analytics
autoremove
casks
cleanup
commands
completions
config
deps
desc
developer
doctor
fetch
formulae
gist-logs
help
home
info
install
leaves
link
list
log
migrate
missing
options
outdated
pin
postinstall
readall
reinstall
search
shellenv
tap-info
tap
uninstall
unlink
unpin
untap
update-report
update-reset
update
upgrade
uses
vendor-install
audit
bottle
bump-cask-pr
bump-formula-pr
bump-revision
bump-unversioned-casks
bump
cat
command
create
dispatch-build-bottle
edit
extract
formula
generate-man-completions
install-bundler-gems
irb
linkage
livecheck
pr-automerge
pr-publish
pr-pull
pr-upload
prof
release
rubocop
ruby
sh
sponsors
style
tap-new
test
tests
typecheck
unbottled
unpack
update-license-data
update-maintainers
update-python-resources
update-test
vendor-gems
aspell-dictionaries
determine-rebottle-runners
postgresql-upgrade-database
