Below
description
autocomplete
box
cap
cloud
destroy
docker-exec
docker-logs
docker-run
global-status
halt
help
init
list-commands
login
package
plugin
port
powershell
provider
provision
push
rdp
reload
resume
rsync
rsync-auto
snapshot
ssh
ssh-config
status
suspend
up
upload
validate
vbguest
version
winrm
winrm-config
