alexaforbusiness approve-skill
alexaforbusiness associate-contact-with-address-book
alexaforbusiness associate-device-with-network-profile
alexaforbusiness associate-device-with-room
alexaforbusiness associate-skill-group-with-room
alexaforbusiness associate-skill-with-skill-group
alexaforbusiness associate-skill-with-users
alexaforbusiness create-address-book
alexaforbusiness create-business-report-schedule
alexaforbusiness create-conference-provider
alexaforbusiness create-contact
alexaforbusiness create-gateway-group
alexaforbusiness create-network-profile
alexaforbusiness create-profile
alexaforbusiness create-room
alexaforbusiness create-skill-group
alexaforbusiness create-user
alexaforbusiness delete-address-book
alexaforbusiness delete-business-report-schedule
alexaforbusiness delete-conference-provider
alexaforbusiness delete-contact
alexaforbusiness delete-device
alexaforbusiness delete-device-usage-data
alexaforbusiness delete-gateway-group
alexaforbusiness delete-network-profile
alexaforbusiness delete-profile
alexaforbusiness delete-room
alexaforbusiness delete-room-skill-parameter
alexaforbusiness delete-skill-authorization
alexaforbusiness delete-skill-group
alexaforbusiness delete-user
alexaforbusiness disassociate-contact-from-address-book
alexaforbusiness disassociate-device-from-room
alexaforbusiness disassociate-skill-from-skill-group
alexaforbusiness disassociate-skill-from-users
alexaforbusiness disassociate-skill-group-from-room
alexaforbusiness forget-smart-home-appliances
alexaforbusiness get-address-book
alexaforbusiness get-conference-preference
alexaforbusiness get-conference-provider
alexaforbusiness get-contact
alexaforbusiness get-device
alexaforbusiness get-gateway
alexaforbusiness get-gateway-group
alexaforbusiness get-invitation-configuration
alexaforbusiness get-network-profile
alexaforbusiness get-profile
alexaforbusiness get-room
alexaforbusiness get-room-skill-parameter
alexaforbusiness get-skill-group
alexaforbusiness help
alexaforbusiness list-business-report-schedules
alexaforbusiness list-conference-providers
alexaforbusiness list-device-events
alexaforbusiness list-gateway-groups
alexaforbusiness list-gateways
alexaforbusiness list-skills
alexaforbusiness list-skills-store-categories
alexaforbusiness list-skills-store-skills-by-category
alexaforbusiness list-smart-home-appliances
alexaforbusiness list-tags
alexaforbusiness put-conference-preference
alexaforbusiness put-invitation-configuration
alexaforbusiness put-room-skill-parameter
alexaforbusiness put-skill-authorization
alexaforbusiness register-avs-device
alexaforbusiness reject-skill
alexaforbusiness resolve-room
alexaforbusiness revoke-invitation
alexaforbusiness search-address-books
alexaforbusiness search-contacts
alexaforbusiness search-devices
alexaforbusiness search-network-profiles
alexaforbusiness search-profiles
alexaforbusiness search-rooms
alexaforbusiness search-skill-groups
alexaforbusiness search-users
alexaforbusiness send-announcement
alexaforbusiness send-invitation
alexaforbusiness start-device-sync
alexaforbusiness start-smart-home-appliance-discovery
alexaforbusiness tag-resource
alexaforbusiness untag-resource
alexaforbusiness update-address-book
alexaforbusiness update-business-report-schedule
alexaforbusiness update-conference-provider
alexaforbusiness update-contact
alexaforbusiness update-device
alexaforbusiness update-gateway
alexaforbusiness update-gateway-group
alexaforbusiness update-network-profile
alexaforbusiness update-profile
alexaforbusiness update-room
alexaforbusiness update-skill-group
