amp create-alert-manager-definition
amp create-rule-groups-namespace
amp create-workspace
amp delete-alert-manager-definition
amp delete-rule-groups-namespace
amp delete-workspace
amp describe-alert-manager-definition
amp describe-rule-groups-namespace
amp describe-workspace
amp help
amp list-rule-groups-namespaces
amp list-tags-for-resource
amp list-workspaces
amp put-alert-manager-definition
amp put-rule-groups-namespace
amp tag-resource
amp untag-resource
amp update-workspace-alias
amp wait
