amplifybackend clone-backend
amplifybackend create-backend
amplifybackend create-backend-api
amplifybackend create-backend-auth
amplifybackend create-backend-config
amplifybackend create-backend-storage
amplifybackend create-token
amplifybackend delete-backend
amplifybackend delete-backend-api
amplifybackend delete-backend-auth
amplifybackend delete-backend-storage
amplifybackend delete-token
amplifybackend generate-backend-api-models
amplifybackend get-backend
amplifybackend get-backend-api
amplifybackend get-backend-api-models
amplifybackend get-backend-auth
amplifybackend get-backend-job
amplifybackend get-backend-storage
amplifybackend get-token
amplifybackend help
amplifybackend import-backend-auth
amplifybackend import-backend-storage
amplifybackend list-backend-jobs
amplifybackend list-s3-buckets
amplifybackend remove-all-backends
amplifybackend remove-backend-config
amplifybackend update-backend-api
amplifybackend update-backend-auth
amplifybackend update-backend-config
amplifybackend update-backend-job
amplifybackend update-backend-storage
