amplify create-app
amplify create-backend-environment
amplify create-branch
amplify create-deployment
amplify create-domain-association
amplify create-webhook
amplify delete-app
amplify delete-backend-environment
amplify delete-branch
amplify delete-domain-association
amplify delete-job
amplify delete-webhook
amplify generate-access-logs
amplify get-app
amplify get-artifact-url
amplify get-backend-environment
amplify get-branch
amplify get-domain-association
amplify get-job
amplify get-webhook
amplify help
amplify list-apps
amplify list-artifacts
amplify list-backend-environments
amplify list-branches
amplify list-domain-associations
amplify list-jobs
amplify list-tags-for-resource
amplify list-webhooks
amplify start-deployment
amplify start-job
amplify stop-job
amplify tag-resource
amplify untag-resource
amplify update-app
amplify update-branch
amplify update-domain-association
amplify update-webhook
