appconfig create-application
appconfig create-configuration-profile
appconfig create-deployment-strategy
appconfig create-environment
appconfig create-hosted-configuration-version
appconfig delete-application
appconfig delete-configuration-profile
appconfig delete-deployment-strategy
appconfig delete-environment
appconfig delete-hosted-configuration-version
appconfig get-application
appconfig get-configuration
appconfig get-configuration-profile
appconfig get-deployment
appconfig get-deployment-strategy
appconfig get-environment
appconfig get-hosted-configuration-version
appconfig help
appconfig list-applications
appconfig list-configuration-profiles
appconfig list-deployment-strategies
appconfig list-deployments
appconfig list-environments
appconfig list-hosted-configuration-versions
appconfig list-tags-for-resource
appconfig start-deployment
appconfig stop-deployment
appconfig tag-resource
appconfig untag-resource
appconfig update-application
appconfig update-configuration-profile
appconfig update-deployment-strategy
appconfig update-environment
appconfig validate-configuration
