appflow create-connector-profile
appflow create-flow
appflow delete-connector-profile
appflow delete-flow
appflow describe-connector-entity
appflow describe-connector-profiles
appflow describe-connectors
appflow describe-flow
appflow describe-flow-execution-records
appflow help
appflow list-connector-entities
appflow list-flows
appflow list-tags-for-resource
appflow start-flow
appflow stop-flow
appflow tag-resource
appflow untag-resource
appflow update-connector-profile
appflow update-flow
