application-insights create-application
application-insights create-component
application-insights create-log-pattern
application-insights delete-application
application-insights delete-component
application-insights delete-log-pattern
application-insights describe-application
application-insights describe-component
application-insights describe-component-configuration
application-insights describe-component-configuration-recommendation
application-insights describe-log-pattern
application-insights describe-observation
application-insights describe-problem
application-insights describe-problem-observations
application-insights help
application-insights list-applications
application-insights list-components
application-insights list-configuration-history
application-insights list-log-pattern-sets
application-insights list-log-patterns
application-insights list-problems
application-insights list-tags-for-resource
application-insights tag-resource
application-insights untag-resource
application-insights update-application
application-insights update-component
application-insights update-component-configuration
application-insights update-log-pattern
