appstream associate-application-fleet
appstream associate-application-to-entitlement
appstream associate-fleet
appstream batch-associate-user-stack
appstream batch-disassociate-user-stack
appstream copy-image
appstream create-app-block
appstream create-application
appstream create-directory-config
appstream create-entitlement
appstream create-fleet
appstream create-image-builder
appstream create-image-builder-streaming-url
appstream create-stack
appstream create-streaming-url
appstream create-updated-image
appstream create-usage-report-subscription
appstream create-user
appstream delete-app-block
appstream delete-application
appstream delete-directory-config
appstream delete-entitlement
appstream delete-fleet
appstream delete-image
appstream delete-image-builder
appstream delete-image-permissions
appstream delete-stack
appstream delete-usage-report-subscription
appstream delete-user
appstream describe-app-blocks
appstream describe-application-fleet-associations
appstream describe-applications
appstream describe-directory-configs
appstream describe-entitlements
appstream describe-fleets
appstream describe-image-builders
appstream describe-image-permissions
appstream describe-images
appstream describe-sessions
appstream describe-stacks
appstream describe-usage-report-subscriptions
appstream describe-user-stack-associations
appstream describe-users
appstream disable-user
appstream disassociate-application-fleet
appstream disassociate-application-from-entitlement
appstream disassociate-fleet
appstream enable-user
appstream expire-session
appstream help
appstream list-associated-fleets
appstream list-associated-stacks
appstream list-entitled-applications
appstream list-tags-for-resource
appstream start-fleet
appstream start-image-builder
appstream stop-fleet
appstream stop-image-builder
appstream tag-resource
appstream untag-resource
appstream update-application
appstream update-directory-config
appstream update-entitlement
appstream update-fleet
appstream update-image-permissions
appstream update-stack
appstream wait
