appsync associate-api
appsync create-api-cache
appsync create-api-key
appsync create-data-source
appsync create-domain-name
appsync create-function
appsync create-graphql-api
appsync create-resolver
appsync create-type
appsync delete-api-cache
appsync delete-api-key
appsync delete-data-source
appsync delete-domain-name
appsync delete-function
appsync delete-graphql-api
appsync delete-resolver
appsync delete-type
appsync disassociate-api
appsync flush-api-cache
appsync get-api-association
appsync get-api-cache
appsync get-data-source
appsync get-domain-name
appsync get-function
appsync get-graphql-api
appsync get-introspection-schema
appsync get-resolver
appsync get-schema-creation-status
appsync get-type
appsync help
appsync list-api-keys
appsync list-data-sources
appsync list-domain-names
appsync list-functions
appsync list-graphql-apis
appsync list-resolvers
appsync list-resolvers-by-function
appsync list-tags-for-resource
appsync list-types
appsync start-schema-creation
appsync tag-resource
appsync untag-resource
appsync update-api-cache
appsync update-api-key
appsync update-data-source
appsync update-domain-name
appsync update-function
appsync update-graphql-api
appsync update-resolver
appsync update-type
