athena batch-get-named-query
athena batch-get-query-execution
athena create-data-catalog
athena create-named-query
athena create-prepared-statement
athena create-work-group
athena delete-data-catalog
athena delete-named-query
athena delete-prepared-statement
athena delete-work-group
athena get-data-catalog
athena get-database
athena get-named-query
athena get-prepared-statement
athena get-query-execution
athena get-query-results
athena get-table-metadata
athena get-work-group
athena help
athena list-data-catalogs
athena list-databases
athena list-engine-versions
athena list-named-queries
athena list-prepared-statements
athena list-query-executions
athena list-table-metadata
athena list-tags-for-resource
athena list-work-groups
athena start-query-execution
athena stop-query-execution
athena tag-resource
athena untag-resource
athena update-data-catalog
athena update-prepared-statement
athena update-work-group
