auditmanager associate-assessment-report-evidence-folder
auditmanager batch-associate-assessment-report-evidence
auditmanager batch-create-delegation-by-assessment
auditmanager batch-delete-delegation-by-assessment
auditmanager batch-disassociate-assessment-report-evidence
auditmanager batch-import-evidence-to-assessment-control
auditmanager create-assessment
auditmanager create-assessment-framework
auditmanager create-assessment-report
auditmanager create-control
auditmanager delete-assessment
auditmanager delete-assessment-framework
auditmanager delete-assessment-framework-share
auditmanager delete-assessment-report
auditmanager delete-control
auditmanager deregister-account
auditmanager deregister-organization-admin-account
auditmanager disassociate-assessment-report-evidence-folder
auditmanager get-account-status
auditmanager get-assessment
auditmanager get-assessment-framework
auditmanager get-assessment-report-url
auditmanager get-change-logs
auditmanager get-control
auditmanager get-delegations
auditmanager get-evidence
auditmanager get-evidence-by-evidence-folder
auditmanager get-evidence-folder
auditmanager get-evidence-folders-by-assessment
auditmanager get-evidence-folders-by-assessment-control
auditmanager get-insights
auditmanager get-insights-by-assessment
auditmanager get-organization-admin-account
auditmanager get-services-in-scope
auditmanager get-settings
auditmanager help
auditmanager list-assessment-control-insights-by-control-domain
auditmanager list-assessment-framework-share-requests
auditmanager list-assessment-frameworks
auditmanager list-assessment-reports
auditmanager list-assessments
auditmanager list-control-domain-insights
auditmanager list-control-domain-insights-by-assessment
auditmanager list-control-insights-by-control-domain
auditmanager list-controls
auditmanager list-keywords-for-data-source
auditmanager list-notifications
auditmanager list-tags-for-resource
auditmanager register-account
auditmanager register-organization-admin-account
auditmanager start-assessment-framework-share
auditmanager tag-resource
auditmanager untag-resource
auditmanager update-assessment
auditmanager update-assessment-control
auditmanager update-assessment-control-set-status
auditmanager update-assessment-framework
auditmanager update-assessment-framework-share
auditmanager update-assessment-status
auditmanager update-control
auditmanager update-settings
auditmanager validate-assessment-report-integrity
