autoscaling-plans create-scaling-plan
autoscaling-plans delete-scaling-plan
autoscaling-plans describe-scaling-plan-resources
autoscaling-plans describe-scaling-plans
autoscaling-plans get-scaling-plan-resource-forecast-data
autoscaling-plans help
autoscaling-plans update-scaling-plan
