backup create-backup-plan
backup create-backup-selection
backup create-backup-vault
backup create-framework
backup create-report-plan
backup delete-backup-plan
backup delete-backup-selection
backup delete-backup-vault
backup delete-backup-vault-access-policy
backup delete-backup-vault-lock-configuration
backup delete-backup-vault-notifications
backup delete-framework
backup delete-recovery-point
backup delete-report-plan
backup describe-backup-job
backup describe-backup-vault
backup describe-copy-job
backup describe-framework
backup describe-global-settings
backup describe-protected-resource
backup describe-recovery-point
backup describe-region-settings
backup describe-report-job
backup describe-report-plan
backup describe-restore-job
backup disassociate-recovery-point
backup export-backup-plan-template
backup get-backup-plan
backup get-backup-plan-from-json
backup get-backup-plan-from-template
backup get-backup-selection
backup get-backup-vault-access-policy
backup get-backup-vault-notifications
backup get-recovery-point-restore-metadata
backup get-supported-resource-types
backup help
backup list-backup-jobs
backup list-backup-plan-templates
backup list-backup-plan-versions
backup list-backup-plans
backup list-backup-selections
backup list-backup-vaults
backup list-copy-jobs
backup list-frameworks
backup list-protected-resources
backup list-recovery-points-by-backup-vault
backup list-recovery-points-by-resource
backup list-report-jobs
backup list-report-plans
backup list-restore-jobs
backup list-tags
backup put-backup-vault-access-policy
backup put-backup-vault-lock-configuration
backup put-backup-vault-notifications
backup start-backup-job
backup start-copy-job
backup start-report-job
backup start-restore-job
backup stop-backup-job
backup tag-resource
backup untag-resource
backup update-backup-plan
backup update-framework
backup update-global-settings
backup update-recovery-point-lifecycle
backup update-region-settings
backup update-report-plan
