batch cancel-job
batch create-compute-environment
batch create-job-queue
batch create-scheduling-policy
batch delete-compute-environment
batch delete-job-queue
batch delete-scheduling-policy
batch deregister-job-definition
batch describe-compute-environments
batch describe-job-definitions
batch describe-job-queues
batch describe-jobs
batch describe-scheduling-policies
batch help
batch list-jobs
batch list-scheduling-policies
batch list-tags-for-resource
batch register-job-definition
batch submit-job
batch tag-resource
batch terminate-job
batch untag-resource
batch update-compute-environment
batch update-job-queue
batch update-scheduling-policy
