budgets create-budget
budgets create-budget-action
budgets create-notification
budgets create-subscriber
budgets delete-budget
budgets delete-budget-action
budgets delete-notification
budgets delete-subscriber
budgets describe-budget
budgets describe-budget-action
budgets describe-budget-action-histories
budgets describe-budget-actions-for-account
budgets describe-budget-actions-for-budget
budgets describe-budget-performance-history
budgets describe-budgets
budgets describe-notifications-for-budget
budgets describe-subscribers-for-notification
budgets execute-budget-action
budgets help
budgets update-budget
budgets update-budget-action
budgets update-notification
budgets update-subscriber
