ce create-anomaly-monitor
ce create-anomaly-subscription
ce create-cost-category-definition
ce delete-anomaly-monitor
ce delete-anomaly-subscription
ce delete-cost-category-definition
ce describe-cost-category-definition
ce get-anomalies
ce get-anomaly-monitors
ce get-anomaly-subscriptions
ce get-cost-and-usage
ce get-cost-and-usage-with-resources
ce get-cost-categories
ce get-cost-forecast
ce get-dimension-values
ce get-reservation-coverage
ce get-reservation-purchase-recommendation
ce get-reservation-utilization
ce get-rightsizing-recommendation
ce get-savings-plans-coverage
ce get-savings-plans-purchase-recommendation
ce get-savings-plans-utilization
ce get-savings-plans-utilization-details
ce get-tags
ce get-usage-forecast
ce help
ce list-cost-category-definitions
ce provide-anomaly-feedback
ce update-anomaly-monitor
ce update-anomaly-subscription
ce update-cost-category-definition
