chime-sdk-identity create-app-instance
chime-sdk-identity create-app-instance-admin
chime-sdk-identity create-app-instance-user
chime-sdk-identity delete-app-instance
chime-sdk-identity delete-app-instance-admin
chime-sdk-identity delete-app-instance-user
chime-sdk-identity deregister-app-instance-user-endpoint
chime-sdk-identity describe-app-instance
chime-sdk-identity describe-app-instance-admin
chime-sdk-identity describe-app-instance-user
chime-sdk-identity describe-app-instance-user-endpoint
chime-sdk-identity get-app-instance-retention-settings
chime-sdk-identity help
chime-sdk-identity list-app-instance-admins
chime-sdk-identity list-app-instance-user-endpoints
chime-sdk-identity list-app-instance-users
chime-sdk-identity list-app-instances
chime-sdk-identity list-tags-for-resource
chime-sdk-identity put-app-instance-retention-settings
chime-sdk-identity register-app-instance-user-endpoint
chime-sdk-identity tag-resource
chime-sdk-identity untag-resource
chime-sdk-identity update-app-instance
chime-sdk-identity update-app-instance-user
chime-sdk-identity update-app-instance-user-endpoint
