clouddirectory add-facet-to-object
clouddirectory apply-schema
clouddirectory attach-object
clouddirectory attach-policy
clouddirectory attach-to-index
clouddirectory attach-typed-link
clouddirectory batch-read
clouddirectory batch-write
clouddirectory create-directory
clouddirectory create-facet
clouddirectory create-index
clouddirectory create-object
clouddirectory create-schema
clouddirectory create-typed-link-facet
clouddirectory delete-directory
clouddirectory delete-facet
clouddirectory delete-object
clouddirectory delete-schema
clouddirectory delete-typed-link-facet
clouddirectory detach-from-index
clouddirectory detach-object
clouddirectory detach-policy
clouddirectory detach-typed-link
clouddirectory disable-directory
clouddirectory enable-directory
clouddirectory get-applied-schema-version
clouddirectory get-directory
clouddirectory get-facet
clouddirectory get-link-attributes
clouddirectory get-object-attributes
clouddirectory get-object-information
clouddirectory get-schema-as-json
clouddirectory get-typed-link-facet-information
clouddirectory help
clouddirectory list-applied-schema-arns
clouddirectory list-attached-indices
clouddirectory list-development-schema-arns
clouddirectory list-directories
clouddirectory list-facet-attributes
clouddirectory list-facet-names
clouddirectory list-incoming-typed-links
clouddirectory list-index
clouddirectory list-managed-schema-arns
clouddirectory list-object-attributes
clouddirectory list-object-children
clouddirectory list-object-parent-paths
clouddirectory list-object-parents
clouddirectory list-object-policies
clouddirectory list-outgoing-typed-links
clouddirectory list-policy-attachments
clouddirectory list-published-schema-arns
clouddirectory list-tags-for-resource
clouddirectory list-typed-link-facet-attributes
clouddirectory list-typed-link-facet-names
clouddirectory lookup-policy
clouddirectory publish-schema
clouddirectory put-schema-from-json
clouddirectory remove-facet-from-object
clouddirectory tag-resource
clouddirectory untag-resource
clouddirectory update-facet
clouddirectory update-link-attributes
clouddirectory update-object-attributes
clouddirectory update-schema
clouddirectory update-typed-link-facet
clouddirectory upgrade-applied-schema
clouddirectory upgrade-published-schema
