cloudwatch delete-alarms
cloudwatch delete-anomaly-detector
cloudwatch delete-dashboards
cloudwatch delete-insight-rules
cloudwatch delete-metric-stream
cloudwatch describe-alarm-history
cloudwatch describe-alarms
cloudwatch describe-alarms-for-metric
cloudwatch describe-anomaly-detectors
cloudwatch describe-insight-rules
cloudwatch disable-alarm-actions
cloudwatch disable-insight-rules
cloudwatch enable-alarm-actions
cloudwatch enable-insight-rules
cloudwatch get-dashboard
cloudwatch get-insight-rule-report
cloudwatch get-metric-data
cloudwatch get-metric-statistics
cloudwatch get-metric-stream
cloudwatch get-metric-widget-image
cloudwatch help
cloudwatch list-dashboards
cloudwatch list-metric-streams
cloudwatch list-metrics
cloudwatch list-tags-for-resource
cloudwatch put-anomaly-detector
cloudwatch put-composite-alarm
cloudwatch put-dashboard
cloudwatch put-insight-rule
cloudwatch put-metric-alarm
cloudwatch put-metric-data
cloudwatch put-metric-stream
cloudwatch set-alarm-state
cloudwatch start-metric-streams
cloudwatch stop-metric-streams
cloudwatch tag-resource
cloudwatch untag-resource
cloudwatch wait
