cloudtrail add-tags
cloudtrail cancel-query
cloudtrail create-event-data-store
cloudtrail create-trail
cloudtrail delete-event-data-store
cloudtrail delete-trail
cloudtrail describe-query
cloudtrail describe-trails
cloudtrail get-event-data-store
cloudtrail get-event-selectors
cloudtrail get-insight-selectors
cloudtrail get-query-results
cloudtrail get-trail
cloudtrail get-trail-status
cloudtrail help
cloudtrail list-event-data-stores
cloudtrail list-public-keys
cloudtrail list-queries
cloudtrail list-tags
cloudtrail list-trails
cloudtrail lookup-events
cloudtrail put-event-selectors
cloudtrail put-insight-selectors
cloudtrail remove-tags
cloudtrail restore-event-data-store
cloudtrail start-logging
cloudtrail start-query
cloudtrail stop-logging
cloudtrail update-event-data-store
cloudtrail update-trail
cloudtrail validate-logs
