codestar associate-team-member
codestar create-project
codestar create-user-profile
codestar delete-project
codestar delete-user-profile
codestar describe-project
codestar describe-user-profile
codestar disassociate-team-member
codestar help
codestar list-projects
codestar list-resources
codestar list-tags-for-project
codestar list-team-members
codestar list-user-profiles
codestar tag-project
codestar untag-project
codestar update-project
codestar update-team-member
codestar update-user-profile
