codepipeline acknowledge-job
codepipeline acknowledge-third-party-job
codepipeline create-custom-action-type
codepipeline create-pipeline
codepipeline delete-custom-action-type
codepipeline delete-pipeline
codepipeline delete-webhook
codepipeline deregister-webhook-with-third-party
codepipeline disable-stage-transition
codepipeline enable-stage-transition
codepipeline get-action-type
codepipeline get-job-details
codepipeline get-pipeline
codepipeline get-pipeline-execution
codepipeline get-pipeline-state
codepipeline get-third-party-job-details
codepipeline help
codepipeline list-action-executions
codepipeline list-action-types
codepipeline list-pipeline-executions
codepipeline list-pipelines
codepipeline list-tags-for-resource
codepipeline list-webhooks
codepipeline poll-for-jobs
codepipeline poll-for-third-party-jobs
codepipeline put-action-revision
codepipeline put-approval-result
codepipeline put-job-failure-result
codepipeline put-job-success-result
codepipeline put-third-party-job-failure-result
codepipeline put-third-party-job-success-result
codepipeline put-webhook
codepipeline register-webhook-with-third-party
codepipeline retry-stage-execution
codepipeline start-pipeline-execution
codepipeline stop-pipeline-execution
codepipeline tag-resource
codepipeline untag-resource
codepipeline update-action-type
codepipeline update-pipeline
