codecommit associate-approval-rule-template-with-repository
codecommit batch-associate-approval-rule-template-with-repositories
codecommit batch-describe-merge-conflicts
codecommit batch-disassociate-approval-rule-template-from-repositories
codecommit batch-get-commits
codecommit batch-get-repositories
codecommit create-approval-rule-template
codecommit create-branch
codecommit create-commit
codecommit create-pull-request
codecommit create-pull-request-approval-rule
codecommit create-repository
codecommit create-unreferenced-merge-commit
codecommit credential-helper
codecommit delete-approval-rule-template
codecommit delete-branch
codecommit delete-comment-content
codecommit delete-file
codecommit delete-pull-request-approval-rule
codecommit delete-repository
codecommit describe-merge-conflicts
codecommit describe-pull-request-events
codecommit disassociate-approval-rule-template-from-repository
codecommit evaluate-pull-request-approval-rules
codecommit get-approval-rule-template
codecommit get-blob
codecommit get-branch
codecommit get-comment
codecommit get-comment-reactions
codecommit get-comments-for-compared-commit
codecommit get-comments-for-pull-request
codecommit get-commit
codecommit get-differences
codecommit get-file
codecommit get-folder
codecommit get-merge-commit
codecommit get-merge-conflicts
codecommit get-merge-options
codecommit get-pull-request
codecommit get-pull-request-approval-states
codecommit get-pull-request-override-state
codecommit get-repository
codecommit get-repository-triggers
codecommit help
codecommit list-approval-rule-templates
codecommit list-associated-approval-rule-templates-for-repository
codecommit list-branches
codecommit list-pull-requests
codecommit list-repositories
codecommit list-repositories-for-approval-rule-template
codecommit list-tags-for-resource
codecommit merge-branches-by-fast-forward
codecommit merge-branches-by-squash
codecommit merge-branches-by-three-way
codecommit merge-pull-request-by-fast-forward
codecommit merge-pull-request-by-squash
codecommit merge-pull-request-by-three-way
codecommit override-pull-request-approval-rules
codecommit post-comment-for-compared-commit
codecommit post-comment-for-pull-request
codecommit post-comment-reply
codecommit put-comment-reaction
codecommit put-file
codecommit put-repository-triggers
codecommit tag-resource
codecommit test-repository-triggers
codecommit untag-resource
codecommit update-approval-rule-template-content
codecommit update-approval-rule-template-description
codecommit update-approval-rule-template-name
codecommit update-comment
codecommit update-default-branch
codecommit update-pull-request-approval-rule-content
codecommit update-pull-request-approval-state
codecommit update-pull-request-description
codecommit update-pull-request-status
codecommit update-pull-request-title
codecommit update-repository-description
codecommit update-repository-name
