codebuild batch-delete-builds
codebuild batch-get-build-batches
codebuild batch-get-builds
codebuild batch-get-projects
codebuild batch-get-report-groups
codebuild batch-get-reports
codebuild create-project
codebuild create-report-group
codebuild create-webhook
codebuild delete-build-batch
codebuild delete-project
codebuild delete-report
codebuild delete-report-group
codebuild delete-resource-policy
codebuild delete-source-credentials
codebuild delete-webhook
codebuild describe-code-coverages
codebuild describe-test-cases
codebuild get-report-group-trend
codebuild get-resource-policy
codebuild help
codebuild import-source-credentials
codebuild invalidate-project-cache
codebuild list-build-batches
codebuild list-build-batches-for-project
codebuild list-builds
codebuild list-builds-for-project
codebuild list-curated-environment-images
codebuild list-projects
codebuild list-report-groups
codebuild list-reports
codebuild list-reports-for-report-group
codebuild list-shared-projects
codebuild list-shared-report-groups
codebuild list-source-credentials
codebuild put-resource-policy
codebuild retry-build
codebuild retry-build-batch
codebuild start-build
codebuild start-build-batch
codebuild stop-build
codebuild stop-build-batch
codebuild update-project
codebuild update-project-visibility
codebuild update-report-group
codebuild update-webhook
