codeguruprofiler add-notification-channels
codeguruprofiler batch-get-frame-metric-data
codeguruprofiler configure-agent
codeguruprofiler create-profiling-group
codeguruprofiler delete-profiling-group
codeguruprofiler describe-profiling-group
codeguruprofiler get-findings-report-account-summary
codeguruprofiler get-notification-configuration
codeguruprofiler get-policy
codeguruprofiler get-profile
codeguruprofiler get-recommendations
codeguruprofiler help
codeguruprofiler list-findings-reports
codeguruprofiler list-profile-times
codeguruprofiler list-profiling-groups
codeguruprofiler list-tags-for-resource
codeguruprofiler post-agent-profile
codeguruprofiler put-permission
codeguruprofiler remove-notification-channel
codeguruprofiler remove-permission
codeguruprofiler submit-feedback
codeguruprofiler tag-resource
codeguruprofiler untag-resource
codeguruprofiler update-profiling-group
