cognito-identity create-identity-pool
cognito-identity delete-identities
cognito-identity delete-identity-pool
cognito-identity describe-identity
cognito-identity describe-identity-pool
cognito-identity get-credentials-for-identity
cognito-identity get-id
cognito-identity get-identity-pool-roles
cognito-identity get-open-id-token
cognito-identity get-open-id-token-for-developer-identity
cognito-identity get-principal-tag-attribute-map
cognito-identity help
cognito-identity list-identities
cognito-identity list-identity-pools
cognito-identity list-tags-for-resource
cognito-identity lookup-developer-identity
cognito-identity merge-developer-identities
cognito-identity set-identity-pool-roles
cognito-identity set-principal-tag-attribute-map
cognito-identity tag-resource
cognito-identity unlink-developer-identity
cognito-identity unlink-identity
cognito-identity untag-resource
cognito-identity update-identity-pool
