cognito-sync bulk-publish
cognito-sync delete-dataset
cognito-sync describe-dataset
cognito-sync describe-identity-pool-usage
cognito-sync describe-identity-usage
cognito-sync get-bulk-publish-details
cognito-sync get-cognito-events
cognito-sync get-identity-pool-configuration
cognito-sync help
cognito-sync list-datasets
cognito-sync list-identity-pool-usage
cognito-sync list-records
cognito-sync register-device
cognito-sync set-cognito-events
cognito-sync set-identity-pool-configuration
cognito-sync subscribe-to-dataset
cognito-sync unsubscribe-from-dataset
cognito-sync update-records
