cognito-idp add-custom-attributes
cognito-idp admin-add-user-to-group
cognito-idp admin-confirm-sign-up
cognito-idp admin-create-user
cognito-idp admin-delete-user
cognito-idp admin-delete-user-attributes
cognito-idp admin-disable-provider-for-user
cognito-idp admin-disable-user
cognito-idp admin-enable-user
cognito-idp admin-forget-device
cognito-idp admin-get-device
cognito-idp admin-get-user
cognito-idp admin-initiate-auth
cognito-idp admin-link-provider-for-user
cognito-idp admin-list-devices
cognito-idp admin-list-groups-for-user
cognito-idp admin-list-user-auth-events
cognito-idp admin-remove-user-from-group
cognito-idp admin-reset-user-password
cognito-idp admin-respond-to-auth-challenge
cognito-idp admin-set-user-mfa-preference
cognito-idp admin-set-user-password
cognito-idp admin-set-user-settings
cognito-idp admin-update-auth-event-feedback
cognito-idp admin-update-device-status
cognito-idp admin-update-user-attributes
cognito-idp admin-user-global-sign-out
cognito-idp associate-software-token
cognito-idp change-password
cognito-idp confirm-device
cognito-idp confirm-forgot-password
cognito-idp confirm-sign-up
cognito-idp create-group
cognito-idp create-identity-provider
cognito-idp create-resource-server
cognito-idp create-user-import-job
cognito-idp create-user-pool
cognito-idp create-user-pool-client
cognito-idp create-user-pool-domain
cognito-idp delete-group
cognito-idp delete-identity-provider
cognito-idp delete-resource-server
cognito-idp delete-user
cognito-idp delete-user-attributes
cognito-idp delete-user-pool
cognito-idp delete-user-pool-client
cognito-idp delete-user-pool-domain
cognito-idp describe-identity-provider
cognito-idp describe-resource-server
cognito-idp describe-risk-configuration
cognito-idp describe-user-import-job
cognito-idp describe-user-pool
cognito-idp describe-user-pool-client
cognito-idp describe-user-pool-domain
cognito-idp forget-device
cognito-idp forgot-password
cognito-idp get-csv-header
cognito-idp get-device
cognito-idp get-group
cognito-idp get-identity-provider-by-identifier
cognito-idp get-signing-certificate
cognito-idp get-ui-customization
cognito-idp get-user
cognito-idp get-user-attribute-verification-code
cognito-idp get-user-pool-mfa-config
cognito-idp global-sign-out
cognito-idp help
cognito-idp initiate-auth
cognito-idp list-devices
cognito-idp list-groups
cognito-idp list-identity-providers
cognito-idp list-resource-servers
cognito-idp list-tags-for-resource
cognito-idp list-user-import-jobs
cognito-idp list-user-pool-clients
cognito-idp list-user-pools
cognito-idp list-users
cognito-idp list-users-in-group
cognito-idp resend-confirmation-code
cognito-idp respond-to-auth-challenge
cognito-idp revoke-token
cognito-idp set-risk-configuration
cognito-idp set-ui-customization
cognito-idp set-user-mfa-preference
cognito-idp set-user-pool-mfa-config
cognito-idp set-user-settings
cognito-idp sign-up
cognito-idp start-user-import-job
cognito-idp stop-user-import-job
cognito-idp tag-resource
cognito-idp untag-resource
cognito-idp update-auth-event-feedback
cognito-idp update-device-status
cognito-idp update-group
cognito-idp update-identity-provider
cognito-idp update-resource-server
cognito-idp update-user-attributes
cognito-idp update-user-pool
cognito-idp update-user-pool-client
cognito-idp update-user-pool-domain
cognito-idp verify-software-token
cognito-idp verify-user-attribute
