comprehend batch-detect-dominant-language
comprehend batch-detect-entities
comprehend batch-detect-key-phrases
comprehend batch-detect-sentiment
comprehend batch-detect-syntax
comprehend classify-document
comprehend contains-pii-entities
comprehend create-document-classifier
comprehend create-endpoint
comprehend create-entity-recognizer
comprehend delete-document-classifier
comprehend delete-endpoint
comprehend delete-entity-recognizer
comprehend describe-document-classification-job
comprehend describe-document-classifier
comprehend describe-dominant-language-detection-job
comprehend describe-endpoint
comprehend describe-entities-detection-job
comprehend describe-entity-recognizer
comprehend describe-events-detection-job
comprehend describe-key-phrases-detection-job
comprehend describe-pii-entities-detection-job
comprehend describe-sentiment-detection-job
comprehend describe-topics-detection-job
comprehend detect-dominant-language
comprehend detect-entities
comprehend detect-key-phrases
comprehend detect-pii-entities
comprehend detect-sentiment
comprehend detect-syntax
comprehend help
comprehend list-document-classification-jobs
comprehend list-document-classifier-summaries
comprehend list-document-classifiers
comprehend list-dominant-language-detection-jobs
comprehend list-endpoints
comprehend list-entities-detection-jobs
comprehend list-entity-recognizer-summaries
comprehend list-entity-recognizers
comprehend list-events-detection-jobs
comprehend list-key-phrases-detection-jobs
comprehend list-pii-entities-detection-jobs
comprehend list-sentiment-detection-jobs
comprehend list-tags-for-resource
comprehend list-topics-detection-jobs
comprehend start-document-classification-job
comprehend start-dominant-language-detection-job
comprehend start-entities-detection-job
comprehend start-events-detection-job
comprehend start-key-phrases-detection-job
comprehend start-pii-entities-detection-job
comprehend start-sentiment-detection-job
comprehend start-topics-detection-job
comprehend stop-dominant-language-detection-job
comprehend stop-entities-detection-job
comprehend stop-events-detection-job
comprehend stop-key-phrases-detection-job
comprehend stop-pii-entities-detection-job
comprehend stop-sentiment-detection-job
comprehend stop-training-document-classifier
comprehend stop-training-entity-recognizer
comprehend tag-resource
comprehend untag-resource
comprehend update-endpoint
