compute-optimizer delete-recommendation-preferences
compute-optimizer describe-recommendation-export-jobs
compute-optimizer export-auto-scaling-group-recommendations
compute-optimizer export-ebs-volume-recommendations
compute-optimizer export-ec2-instance-recommendations
compute-optimizer export-lambda-function-recommendations
compute-optimizer get-auto-scaling-group-recommendations
compute-optimizer get-ebs-volume-recommendations
compute-optimizer get-ec2-instance-recommendations
compute-optimizer get-ec2-recommendation-projected-metrics
compute-optimizer get-effective-recommendation-preferences
compute-optimizer get-enrollment-status
compute-optimizer get-enrollment-statuses-for-organization
compute-optimizer get-lambda-function-recommendations
compute-optimizer get-recommendation-preferences
compute-optimizer get-recommendation-summaries
compute-optimizer help
compute-optimizer put-recommendation-preferences
compute-optimizer update-enrollment-status
