configservice batch-get-aggregate-resource-config
configservice batch-get-resource-config
configservice delete-aggregation-authorization
configservice delete-config-rule
configservice delete-configuration-aggregator
configservice delete-configuration-recorder
configservice delete-conformance-pack
configservice delete-delivery-channel
configservice delete-evaluation-results
configservice delete-organization-config-rule
configservice delete-organization-conformance-pack
configservice delete-pending-aggregation-request
configservice delete-remediation-configuration
configservice delete-remediation-exceptions
configservice delete-resource-config
configservice delete-retention-configuration
configservice delete-stored-query
configservice deliver-config-snapshot
configservice describe-aggregate-compliance-by-config-rules
configservice describe-aggregate-compliance-by-conformance-packs
configservice describe-aggregation-authorizations
configservice describe-compliance-by-config-rule
configservice describe-compliance-by-resource
configservice describe-config-rule-evaluation-status
configservice describe-config-rules
configservice describe-configuration-aggregator-sources-status
configservice describe-configuration-aggregators
configservice describe-configuration-recorder-status
configservice describe-configuration-recorders
configservice describe-conformance-pack-compliance
configservice describe-conformance-pack-status
configservice describe-conformance-packs
configservice describe-delivery-channel-status
configservice describe-delivery-channels
configservice describe-organization-config-rule-statuses
configservice describe-organization-config-rules
configservice describe-organization-conformance-pack-statuses
configservice describe-organization-conformance-packs
configservice describe-pending-aggregation-requests
configservice describe-remediation-configurations
configservice describe-remediation-exceptions
configservice describe-remediation-execution-status
configservice describe-retention-configurations
configservice get-aggregate-compliance-details-by-config-rule
configservice get-aggregate-config-rule-compliance-summary
configservice get-aggregate-conformance-pack-compliance-summary
configservice get-aggregate-discovered-resource-counts
configservice get-aggregate-resource-config
configservice get-compliance-details-by-config-rule
configservice get-compliance-details-by-resource
configservice get-compliance-summary-by-config-rule
configservice get-compliance-summary-by-resource-type
configservice get-conformance-pack-compliance-details
configservice get-conformance-pack-compliance-summary
configservice get-discovered-resource-counts
configservice get-organization-config-rule-detailed-status
configservice get-organization-conformance-pack-detailed-status
configservice get-resource-config-history
configservice get-status
configservice get-stored-query
configservice help
configservice list-aggregate-discovered-resources
configservice list-discovered-resources
configservice list-stored-queries
configservice list-tags-for-resource
configservice put-aggregation-authorization
configservice put-config-rule
configservice put-configuration-aggregator
configservice put-configuration-recorder
configservice put-conformance-pack
configservice put-delivery-channel
configservice put-evaluations
configservice put-external-evaluation
configservice put-organization-config-rule
configservice put-organization-conformance-pack
configservice put-remediation-configurations
configservice put-remediation-exceptions
configservice put-resource-config
configservice put-retention-configuration
configservice put-stored-query
configservice select-aggregate-resource-config
configservice select-resource-config
configservice start-config-rules-evaluation
configservice start-configuration-recorder
configservice start-remediation-execution
configservice stop-configuration-recorder
configservice subscribe
configservice tag-resource
configservice untag-resource
