dataexchange cancel-job
dataexchange create-data-set
dataexchange create-event-action
dataexchange create-job
dataexchange create-revision
dataexchange delete-asset
dataexchange delete-data-set
dataexchange delete-event-action
dataexchange delete-revision
dataexchange get-asset
dataexchange get-data-set
dataexchange get-event-action
dataexchange get-job
dataexchange get-revision
dataexchange help
dataexchange list-data-set-revisions
dataexchange list-data-sets
dataexchange list-event-actions
dataexchange list-jobs
dataexchange list-revision-assets
dataexchange list-tags-for-resource
dataexchange send-api-asset
dataexchange start-job
dataexchange tag-resource
dataexchange untag-resource
dataexchange update-asset
dataexchange update-data-set
dataexchange update-event-action
dataexchange update-revision
