datasync cancel-task-execution
datasync create-agent
datasync create-location-efs
datasync create-location-fsx-lustre
datasync create-location-fsx-windows
datasync create-location-hdfs
datasync create-location-nfs
datasync create-location-object-storage
datasync create-location-s3
datasync create-location-smb
datasync create-task
datasync delete-agent
datasync delete-location
datasync delete-task
datasync describe-agent
datasync describe-location-efs
datasync describe-location-fsx-lustre
datasync describe-location-fsx-windows
datasync describe-location-hdfs
datasync describe-location-nfs
datasync describe-location-object-storage
datasync describe-location-s3
datasync describe-location-smb
datasync describe-task
datasync describe-task-execution
datasync help
datasync list-agents
datasync list-locations
datasync list-tags-for-resource
datasync list-task-executions
datasync list-tasks
datasync start-task-execution
datasync tag-resource
datasync untag-resource
datasync update-agent
datasync update-location-hdfs
datasync update-location-nfs
datasync update-location-object-storage
datasync update-location-smb
datasync update-task
datasync update-task-execution
