datapipeline activate-pipeline
datapipeline add-tags
datapipeline create-default-roles
datapipeline create-pipeline
datapipeline deactivate-pipeline
datapipeline delete-pipeline
datapipeline describe-objects
datapipeline describe-pipelines
datapipeline evaluate-expression
datapipeline get-pipeline-definition
datapipeline help
datapipeline list-pipelines
datapipeline list-runs
datapipeline poll-for-task
datapipeline put-pipeline-definition
datapipeline query-objects
datapipeline remove-tags
datapipeline report-task-progress
datapipeline report-task-runner-heartbeat
datapipeline set-status
datapipeline set-task-status
datapipeline validate-pipeline-definition
