dax create-cluster
dax create-parameter-group
dax create-subnet-group
dax decrease-replication-factor
dax delete-cluster
dax delete-parameter-group
dax delete-subnet-group
dax describe-clusters
dax describe-default-parameters
dax describe-events
dax describe-parameter-groups
dax describe-parameters
dax describe-subnet-groups
dax help
dax increase-replication-factor
dax list-tags
dax reboot-node
dax tag-resource
dax untag-resource
dax update-cluster
dax update-parameter-group
dax update-subnet-group
