detective accept-invitation
detective create-graph
detective create-members
detective delete-graph
detective delete-members
detective describe-organization-configuration
detective disable-organization-admin-account
detective disassociate-membership
detective enable-organization-admin-account
detective get-members
detective help
detective list-graphs
detective list-invitations
detective list-members
detective list-organization-admin-accounts
detective list-tags-for-resource
detective reject-invitation
detective start-monitoring-member
detective tag-resource
detective untag-resource
detective update-organization-configuration
