devicefarm create-device-pool
devicefarm create-instance-profile
devicefarm create-network-profile
devicefarm create-project
devicefarm create-remote-access-session
devicefarm create-test-grid-project
devicefarm create-test-grid-url
devicefarm create-upload
devicefarm create-vpce-configuration
devicefarm delete-device-pool
devicefarm delete-instance-profile
devicefarm delete-network-profile
devicefarm delete-project
devicefarm delete-remote-access-session
devicefarm delete-run
devicefarm delete-test-grid-project
devicefarm delete-upload
devicefarm delete-vpce-configuration
devicefarm get-account-settings
devicefarm get-device
devicefarm get-device-instance
devicefarm get-device-pool
devicefarm get-device-pool-compatibility
devicefarm get-instance-profile
devicefarm get-job
devicefarm get-network-profile
devicefarm get-offering-status
devicefarm get-project
devicefarm get-remote-access-session
devicefarm get-run
devicefarm get-suite
devicefarm get-test
devicefarm get-test-grid-project
devicefarm get-test-grid-session
devicefarm get-upload
devicefarm get-vpce-configuration
devicefarm help
devicefarm install-to-remote-access-session
devicefarm list-artifacts
devicefarm list-device-instances
devicefarm list-device-pools
devicefarm list-devices
devicefarm list-instance-profiles
devicefarm list-jobs
devicefarm list-network-profiles
devicefarm list-offering-promotions
devicefarm list-offering-transactions
devicefarm list-offerings
devicefarm list-projects
devicefarm list-remote-access-sessions
devicefarm list-runs
devicefarm list-samples
devicefarm list-suites
devicefarm list-tags-for-resource
devicefarm list-test-grid-projects
devicefarm list-test-grid-session-actions
devicefarm list-test-grid-session-artifacts
devicefarm list-test-grid-sessions
devicefarm list-tests
devicefarm list-unique-problems
devicefarm list-uploads
devicefarm list-vpce-configurations
devicefarm purchase-offering
devicefarm renew-offering
devicefarm schedule-run
devicefarm stop-job
devicefarm stop-remote-access-session
devicefarm stop-run
devicefarm tag-resource
devicefarm untag-resource
devicefarm update-device-instance
devicefarm update-device-pool
devicefarm update-instance-profile
devicefarm update-network-profile
devicefarm update-project
devicefarm update-test-grid-project
devicefarm update-upload
devicefarm update-vpce-configuration
