devops-guru add-notification-channel
devops-guru describe-account-health
devops-guru describe-account-overview
devops-guru describe-anomaly
devops-guru describe-feedback
devops-guru describe-insight
devops-guru describe-organization-health
devops-guru describe-organization-overview
devops-guru describe-organization-resource-collection-health
devops-guru describe-resource-collection-health
devops-guru describe-service-integration
devops-guru get-cost-estimation
devops-guru get-resource-collection
devops-guru help
devops-guru list-anomalies-for-insight
devops-guru list-events
devops-guru list-insights
devops-guru list-notification-channels
devops-guru list-organization-insights
devops-guru list-recommendations
devops-guru put-feedback
devops-guru remove-notification-channel
devops-guru search-insights
devops-guru search-organization-insights
devops-guru start-cost-estimation
devops-guru update-resource-collection
devops-guru update-service-integration
