directconnect accept-direct-connect-gateway-association-proposal
directconnect allocate-connection-on-interconnect
directconnect allocate-hosted-connection
directconnect allocate-private-virtual-interface
directconnect allocate-public-virtual-interface
directconnect allocate-transit-virtual-interface
directconnect associate-connection-with-lag
directconnect associate-hosted-connection
directconnect associate-mac-sec-key
directconnect associate-virtual-interface
directconnect confirm-connection
directconnect confirm-customer-agreement
directconnect confirm-private-virtual-interface
directconnect confirm-public-virtual-interface
directconnect confirm-transit-virtual-interface
directconnect create-bgp-peer
directconnect create-connection
directconnect create-direct-connect-gateway
directconnect create-direct-connect-gateway-association
directconnect create-direct-connect-gateway-association-proposal
directconnect create-interconnect
directconnect create-lag
directconnect create-private-virtual-interface
directconnect create-public-virtual-interface
directconnect create-transit-virtual-interface
directconnect delete-bgp-peer
directconnect delete-connection
directconnect delete-direct-connect-gateway
directconnect delete-direct-connect-gateway-association
directconnect delete-direct-connect-gateway-association-proposal
directconnect delete-interconnect
directconnect delete-lag
directconnect delete-virtual-interface
directconnect describe-connection-loa
directconnect describe-connections
directconnect describe-connections-on-interconnect
directconnect describe-customer-metadata
directconnect describe-direct-connect-gateway-association-proposals
directconnect describe-direct-connect-gateway-associations
directconnect describe-direct-connect-gateway-attachments
directconnect describe-direct-connect-gateways
directconnect describe-hosted-connections
directconnect describe-interconnect-loa
directconnect describe-interconnects
directconnect describe-lags
directconnect describe-loa
directconnect describe-locations
directconnect describe-router-configuration
directconnect describe-tags
directconnect describe-virtual-gateways
directconnect describe-virtual-interfaces
directconnect disassociate-connection-from-lag
directconnect disassociate-mac-sec-key
directconnect help
directconnect list-virtual-interface-test-history
directconnect start-bgp-failover-test
directconnect stop-bgp-failover-test
directconnect tag-resource
directconnect untag-resource
directconnect update-connection
directconnect update-direct-connect-gateway
directconnect update-direct-connect-gateway-association
directconnect update-lag
directconnect update-virtual-interface-attributes
