discovery associate-configuration-items-to-application
discovery batch-delete-import-data
discovery create-application
discovery create-tags
discovery delete-applications
discovery delete-tags
discovery describe-agents
discovery describe-configurations
discovery describe-continuous-exports
discovery describe-export-configurations
discovery describe-export-tasks
discovery describe-import-tasks
discovery describe-tags
discovery disassociate-configuration-items-from-application
discovery export-configurations
discovery get-discovery-summary
discovery help
discovery list-configurations
discovery list-server-neighbors
discovery start-continuous-export
discovery start-data-collection-by-agent-ids
discovery start-export-task
discovery start-import-task
discovery stop-continuous-export
discovery stop-data-collection-by-agent-ids
discovery update-application
