dms add-tags-to-resource
dms apply-pending-maintenance-action
dms cancel-replication-task-assessment-run
dms create-endpoint
dms create-event-subscription
dms create-replication-instance
dms create-replication-subnet-group
dms create-replication-task
dms delete-certificate
dms delete-connection
dms delete-endpoint
dms delete-event-subscription
dms delete-replication-instance
dms delete-replication-subnet-group
dms delete-replication-task
dms delete-replication-task-assessment-run
dms describe-account-attributes
dms describe-applicable-individual-assessments
dms describe-certificates
dms describe-connections
dms describe-endpoint-settings
dms describe-endpoint-types
dms describe-endpoints
dms describe-event-categories
dms describe-event-subscriptions
dms describe-events
dms describe-orderable-replication-instances
dms describe-pending-maintenance-actions
dms describe-refresh-schemas-status
dms describe-replication-instance-task-logs
dms describe-replication-instances
dms describe-replication-subnet-groups
dms describe-replication-task-assessment-results
dms describe-replication-task-assessment-runs
dms describe-replication-task-individual-assessments
dms describe-replication-tasks
dms describe-schemas
dms describe-table-statistics
dms help
dms import-certificate
dms list-tags-for-resource
dms modify-endpoint
dms modify-event-subscription
dms modify-replication-instance
dms modify-replication-subnet-group
dms modify-replication-task
dms move-replication-task
dms reboot-replication-instance
dms refresh-schemas
dms reload-tables
dms remove-tags-from-resource
dms start-replication-task
dms start-replication-task-assessment
dms start-replication-task-assessment-run
dms stop-replication-task
dms test-connection
dms wait
