docdb add-source-identifier-to-subscription
docdb add-tags-to-resource
docdb apply-pending-maintenance-action
docdb copy-db-cluster-parameter-group
docdb copy-db-cluster-snapshot
docdb create-db-cluster
docdb create-db-cluster-parameter-group
docdb create-db-cluster-snapshot
docdb create-db-instance
docdb create-db-subnet-group
docdb create-event-subscription
docdb create-global-cluster
docdb delete-db-cluster
docdb delete-db-cluster-parameter-group
docdb delete-db-cluster-snapshot
docdb delete-db-instance
docdb delete-db-subnet-group
docdb delete-event-subscription
docdb delete-global-cluster
docdb describe-certificates
docdb describe-db-cluster-parameter-groups
docdb describe-db-cluster-parameters
docdb describe-db-cluster-snapshot-attributes
docdb describe-db-cluster-snapshots
docdb describe-db-clusters
docdb describe-db-engine-versions
docdb describe-db-instances
docdb describe-db-subnet-groups
docdb describe-engine-default-cluster-parameters
docdb describe-event-categories
docdb describe-event-subscriptions
docdb describe-events
docdb describe-global-clusters
docdb describe-orderable-db-instance-options
docdb describe-pending-maintenance-actions
docdb failover-db-cluster
docdb help
docdb list-tags-for-resource
docdb modify-db-cluster
docdb modify-db-cluster-parameter-group
docdb modify-db-cluster-snapshot-attribute
docdb modify-db-instance
docdb modify-db-subnet-group
docdb modify-event-subscription
docdb modify-global-cluster
docdb reboot-db-instance
docdb remove-from-global-cluster
docdb remove-source-identifier-from-subscription
docdb remove-tags-from-resource
docdb reset-db-cluster-parameter-group
docdb restore-db-cluster-from-snapshot
docdb restore-db-cluster-to-point-in-time
docdb start-db-cluster
docdb stop-db-cluster
docdb wait
