drs create-replication-configuration-template
drs delete-job
drs delete-recovery-instance
drs delete-replication-configuration-template
drs delete-source-server
drs describe-job-log-items
drs describe-jobs
drs describe-recovery-instances
drs describe-recovery-snapshots
drs describe-replication-configuration-templates
drs describe-source-servers
drs disconnect-recovery-instance
drs disconnect-source-server
drs get-failback-replication-configuration
drs get-launch-configuration
drs get-replication-configuration
drs help
drs initialize-service
drs list-tags-for-resource
drs retry-data-replication
drs start-failback-launch
drs start-recovery
drs stop-failback
drs tag-resource
drs terminate-recovery-instances
drs untag-resource
drs update-failback-replication-configuration
drs update-launch-configuration
drs update-replication-configuration
drs update-replication-configuration-template
