ds accept-shared-directory
ds add-ip-routes
ds add-region
ds add-tags-to-resource
ds cancel-schema-extension
ds connect-directory
ds create-alias
ds create-computer
ds create-conditional-forwarder
ds create-directory
ds create-log-subscription
ds create-microsoft-ad
ds create-snapshot
ds create-trust
ds delete-conditional-forwarder
ds delete-directory
ds delete-log-subscription
ds delete-snapshot
ds delete-trust
ds deregister-certificate
ds deregister-event-topic
ds describe-certificate
ds describe-client-authentication-settings
ds describe-conditional-forwarders
ds describe-directories
ds describe-domain-controllers
ds describe-event-topics
ds describe-ldaps-settings
ds describe-regions
ds describe-shared-directories
ds describe-snapshots
ds describe-trusts
ds disable-client-authentication
ds disable-ldaps
ds disable-radius
ds disable-sso
ds enable-client-authentication
ds enable-ldaps
ds enable-radius
ds enable-sso
ds get-directory-limits
ds get-snapshot-limits
ds help
ds list-certificates
ds list-ip-routes
ds list-log-subscriptions
ds list-schema-extensions
ds list-tags-for-resource
ds register-certificate
ds register-event-topic
ds reject-shared-directory
ds remove-ip-routes
ds remove-region
ds remove-tags-from-resource
ds reset-user-password
ds restore-from-snapshot
ds share-directory
ds start-schema-extension
ds unshare-directory
ds update-conditional-forwarder
ds update-number-of-domain-controllers
ds update-radius
ds update-trust
ds verify-trust
