dynamodb batch-execute-statement
dynamodb batch-get-item
dynamodb batch-write-item
dynamodb create-backup
dynamodb create-global-table
dynamodb create-table
dynamodb delete-backup
dynamodb delete-item
dynamodb delete-table
dynamodb describe-backup
dynamodb describe-continuous-backups
dynamodb describe-contributor-insights
dynamodb describe-endpoints
dynamodb describe-export
dynamodb describe-global-table
dynamodb describe-global-table-settings
dynamodb describe-kinesis-streaming-destination
dynamodb describe-limits
dynamodb describe-table
dynamodb describe-table-replica-auto-scaling
dynamodb describe-time-to-live
dynamodb disable-kinesis-streaming-destination
dynamodb enable-kinesis-streaming-destination
dynamodb execute-statement
dynamodb execute-transaction
dynamodb export-table-to-point-in-time
dynamodb get-item
dynamodb help
dynamodb list-backups
dynamodb list-contributor-insights
dynamodb list-exports
dynamodb list-global-tables
dynamodb list-tables
dynamodb list-tags-of-resource
dynamodb put-item
dynamodb query
dynamodb restore-table-from-backup
dynamodb restore-table-to-point-in-time
dynamodb scan
dynamodb tag-resource
dynamodb transact-get-items
dynamodb transact-write-items
dynamodb untag-resource
dynamodb update-continuous-backups
dynamodb update-contributor-insights
dynamodb update-global-table
dynamodb update-global-table-settings
dynamodb update-item
dynamodb update-table
dynamodb update-table-replica-auto-scaling
dynamodb update-time-to-live
dynamodb wait
dynamodb wizard
