ec2 accept-reserved-instances-exchange-quote
ec2 accept-transit-gateway-multicast-domain-associations
ec2 accept-transit-gateway-peering-attachment
ec2 accept-transit-gateway-vpc-attachment
ec2 accept-vpc-endpoint-connections
ec2 accept-vpc-peering-connection
ec2 advertise-byoip-cidr
ec2 allocate-address
ec2 allocate-hosts
ec2 allocate-ipam-pool-cidr
ec2 apply-security-groups-to-client-vpn-target-network
ec2 assign-ipv6-addresses
ec2 assign-private-ip-addresses
ec2 associate-address
ec2 associate-client-vpn-target-network
ec2 associate-dhcp-options
ec2 associate-enclave-certificate-iam-role
ec2 associate-iam-instance-profile
ec2 associate-instance-event-window
ec2 associate-route-table
ec2 associate-subnet-cidr-block
ec2 associate-transit-gateway-multicast-domain
ec2 associate-transit-gateway-route-table
ec2 associate-trunk-interface
ec2 associate-vpc-cidr-block
ec2 attach-classic-link-vpc
ec2 attach-internet-gateway
ec2 attach-network-interface
ec2 attach-volume
ec2 attach-vpn-gateway
ec2 authorize-client-vpn-ingress
ec2 authorize-security-group-egress
ec2 authorize-security-group-ingress
ec2 bundle-instance
ec2 cancel-bundle-task
ec2 cancel-capacity-reservation
ec2 cancel-capacity-reservation-fleets
ec2 cancel-conversion-task
ec2 cancel-export-task
ec2 cancel-import-task
ec2 cancel-reserved-instances-listing
ec2 cancel-spot-fleet-requests
ec2 cancel-spot-instance-requests
ec2 confirm-product-instance
ec2 copy-fpga-image
ec2 copy-image
ec2 copy-snapshot
ec2 create-capacity-reservation
ec2 create-capacity-reservation-fleet
ec2 create-carrier-gateway
ec2 create-client-vpn-endpoint
ec2 create-client-vpn-route
ec2 create-customer-gateway
ec2 create-default-subnet
ec2 create-default-vpc
ec2 create-dhcp-options
ec2 create-egress-only-internet-gateway
ec2 create-fleet
ec2 create-flow-logs
ec2 create-fpga-image
ec2 create-image
ec2 create-instance-event-window
ec2 create-instance-export-task
ec2 create-internet-gateway
ec2 create-ipam
ec2 create-ipam-pool
ec2 create-ipam-scope
ec2 create-key-pair
ec2 create-launch-template
ec2 create-launch-template-version
ec2 create-local-gateway-route
ec2 create-local-gateway-route-table-vpc-association
ec2 create-managed-prefix-list
ec2 create-nat-gateway
ec2 create-network-acl
ec2 create-network-acl-entry
ec2 create-network-insights-access-scope
ec2 create-network-insights-path
ec2 create-network-interface
ec2 create-network-interface-permission
ec2 create-placement-group
ec2 create-public-ipv4-pool
ec2 create-replace-root-volume-task
ec2 create-reserved-instances-listing
ec2 create-restore-image-task
ec2 create-route
ec2 create-route-table
ec2 create-security-group
ec2 create-snapshot
ec2 create-snapshots
ec2 create-spot-datafeed-subscription
ec2 create-store-image-task
ec2 create-subnet
ec2 create-subnet-cidr-reservation
ec2 create-tags
ec2 create-traffic-mirror-filter
ec2 create-traffic-mirror-filter-rule
ec2 create-traffic-mirror-session
ec2 create-traffic-mirror-target
ec2 create-transit-gateway
ec2 create-transit-gateway-connect
ec2 create-transit-gateway-connect-peer
ec2 create-transit-gateway-multicast-domain
ec2 create-transit-gateway-peering-attachment
ec2 create-transit-gateway-prefix-list-reference
ec2 create-transit-gateway-route
ec2 create-transit-gateway-route-table
ec2 create-transit-gateway-vpc-attachment
ec2 create-volume
ec2 create-vpc
ec2 create-vpc-endpoint
ec2 create-vpc-endpoint-connection-notification
ec2 create-vpc-endpoint-service-configuration
ec2 create-vpc-peering-connection
ec2 create-vpn-connection
ec2 create-vpn-connection-route
ec2 create-vpn-gateway
ec2 delete-carrier-gateway
ec2 delete-client-vpn-endpoint
ec2 delete-client-vpn-route
ec2 delete-customer-gateway
ec2 delete-dhcp-options
ec2 delete-egress-only-internet-gateway
ec2 delete-fleets
ec2 delete-flow-logs
ec2 delete-fpga-image
ec2 delete-instance-event-window
ec2 delete-internet-gateway
ec2 delete-ipam
ec2 delete-ipam-pool
ec2 delete-ipam-scope
ec2 delete-key-pair
ec2 delete-launch-template
ec2 delete-launch-template-versions
ec2 delete-local-gateway-route
ec2 delete-local-gateway-route-table-vpc-association
ec2 delete-managed-prefix-list
ec2 delete-nat-gateway
ec2 delete-network-acl
ec2 delete-network-acl-entry
ec2 delete-network-insights-access-scope
ec2 delete-network-insights-access-scope-analysis
ec2 delete-network-insights-analysis
ec2 delete-network-insights-path
ec2 delete-network-interface
ec2 delete-network-interface-permission
ec2 delete-placement-group
ec2 delete-public-ipv4-pool
ec2 delete-queued-reserved-instances
ec2 delete-route
ec2 delete-route-table
ec2 delete-security-group
ec2 delete-snapshot
ec2 delete-spot-datafeed-subscription
ec2 delete-subnet
ec2 delete-subnet-cidr-reservation
ec2 delete-tags
ec2 delete-traffic-mirror-filter
ec2 delete-traffic-mirror-filter-rule
ec2 delete-traffic-mirror-session
ec2 delete-traffic-mirror-target
ec2 delete-transit-gateway
ec2 delete-transit-gateway-connect
ec2 delete-transit-gateway-connect-peer
ec2 delete-transit-gateway-multicast-domain
ec2 delete-transit-gateway-peering-attachment
ec2 delete-transit-gateway-prefix-list-reference
ec2 delete-transit-gateway-route
ec2 delete-transit-gateway-route-table
ec2 delete-transit-gateway-vpc-attachment
ec2 delete-volume
ec2 delete-vpc
ec2 delete-vpc-endpoint-connection-notifications
ec2 delete-vpc-endpoint-service-configurations
ec2 delete-vpc-endpoints
ec2 delete-vpc-peering-connection
ec2 delete-vpn-connection
ec2 delete-vpn-connection-route
ec2 delete-vpn-gateway
ec2 deprovision-byoip-cidr
ec2 deprovision-ipam-pool-cidr
ec2 deprovision-public-ipv4-pool-cidr
ec2 deregister-image
ec2 deregister-instance-event-notification-attributes
ec2 deregister-transit-gateway-multicast-group-members
ec2 deregister-transit-gateway-multicast-group-sources
ec2 describe-account-attributes
ec2 describe-addresses
ec2 describe-addresses-attribute
ec2 describe-aggregate-id-format
ec2 describe-availability-zones
ec2 describe-bundle-tasks
ec2 describe-byoip-cidrs
ec2 describe-capacity-reservation-fleets
ec2 describe-capacity-reservations
ec2 describe-carrier-gateways
ec2 describe-classic-link-instances
ec2 describe-client-vpn-authorization-rules
ec2 describe-client-vpn-connections
ec2 describe-client-vpn-endpoints
ec2 describe-client-vpn-routes
ec2 describe-client-vpn-target-networks
ec2 describe-coip-pools
ec2 describe-conversion-tasks
ec2 describe-customer-gateways
ec2 describe-dhcp-options
ec2 describe-egress-only-internet-gateways
ec2 describe-elastic-gpus
ec2 describe-export-image-tasks
ec2 describe-export-tasks
ec2 describe-fast-launch-images
ec2 describe-fast-snapshot-restores
ec2 describe-fleet-history
ec2 describe-fleet-instances
ec2 describe-fleets
ec2 describe-flow-logs
ec2 describe-fpga-image-attribute
ec2 describe-fpga-images
ec2 describe-host-reservation-offerings
ec2 describe-host-reservations
ec2 describe-hosts
ec2 describe-iam-instance-profile-associations
ec2 describe-id-format
ec2 describe-identity-id-format
ec2 describe-image-attribute
ec2 describe-images
ec2 describe-import-image-tasks
ec2 describe-import-snapshot-tasks
ec2 describe-instance-attribute
ec2 describe-instance-credit-specifications
ec2 describe-instance-event-notification-attributes
ec2 describe-instance-event-windows
ec2 describe-instance-status
ec2 describe-instance-type-offerings
ec2 describe-instance-types
ec2 describe-instances
ec2 describe-internet-gateways
ec2 describe-ipam-pools
ec2 describe-ipam-scopes
ec2 describe-ipams
ec2 describe-ipv6-pools
ec2 describe-key-pairs
ec2 describe-launch-template-versions
ec2 describe-launch-templates
ec2 describe-local-gateway-route-table-virtual-interface-group-associations
ec2 describe-local-gateway-route-table-vpc-associations
ec2 describe-local-gateway-route-tables
ec2 describe-local-gateway-virtual-interface-groups
ec2 describe-local-gateway-virtual-interfaces
ec2 describe-local-gateways
ec2 describe-managed-prefix-lists
ec2 describe-moving-addresses
ec2 describe-nat-gateways
ec2 describe-network-acls
ec2 describe-network-insights-access-scope-analyses
ec2 describe-network-insights-access-scopes
ec2 describe-network-insights-analyses
ec2 describe-network-insights-paths
ec2 describe-network-interface-attribute
ec2 describe-network-interface-permissions
ec2 describe-network-interfaces
ec2 describe-placement-groups
ec2 describe-prefix-lists
ec2 describe-principal-id-format
ec2 describe-public-ipv4-pools
ec2 describe-regions
ec2 describe-replace-root-volume-tasks
ec2 describe-reserved-instances
ec2 describe-reserved-instances-listings
ec2 describe-reserved-instances-modifications
ec2 describe-reserved-instances-offerings
ec2 describe-route-tables
ec2 describe-scheduled-instance-availability
ec2 describe-scheduled-instances
ec2 describe-security-group-references
ec2 describe-security-group-rules
ec2 describe-security-groups
ec2 describe-snapshot-attribute
ec2 describe-snapshot-tier-status
ec2 describe-snapshots
ec2 describe-spot-datafeed-subscription
ec2 describe-spot-fleet-instances
ec2 describe-spot-fleet-request-history
ec2 describe-spot-fleet-requests
ec2 describe-spot-instance-requests
ec2 describe-spot-price-history
ec2 describe-stale-security-groups
ec2 describe-store-image-tasks
ec2 describe-subnets
ec2 describe-tags
ec2 describe-traffic-mirror-filters
ec2 describe-traffic-mirror-sessions
ec2 describe-traffic-mirror-targets
ec2 describe-transit-gateway-attachments
ec2 describe-transit-gateway-connect-peers
ec2 describe-transit-gateway-connects
ec2 describe-transit-gateway-multicast-domains
ec2 describe-transit-gateway-peering-attachments
ec2 describe-transit-gateway-route-tables
ec2 describe-transit-gateway-vpc-attachments
ec2 describe-transit-gateways
ec2 describe-trunk-interface-associations
ec2 describe-volume-attribute
ec2 describe-volume-status
ec2 describe-volumes
ec2 describe-volumes-modifications
ec2 describe-vpc-attribute
ec2 describe-vpc-classic-link
ec2 describe-vpc-classic-link-dns-support
ec2 describe-vpc-endpoint-connection-notifications
ec2 describe-vpc-endpoint-connections
ec2 describe-vpc-endpoint-service-configurations
ec2 describe-vpc-endpoint-service-permissions
ec2 describe-vpc-endpoint-services
ec2 describe-vpc-endpoints
ec2 describe-vpc-peering-connections
ec2 describe-vpcs
ec2 describe-vpn-connections
ec2 describe-vpn-gateways
ec2 detach-classic-link-vpc
ec2 detach-internet-gateway
ec2 detach-network-interface
ec2 detach-volume
ec2 detach-vpn-gateway
ec2 disable-ebs-encryption-by-default
ec2 disable-fast-launch
ec2 disable-fast-snapshot-restores
ec2 disable-image-deprecation
ec2 disable-ipam-organization-admin-account
ec2 disable-serial-console-access
ec2 disable-transit-gateway-route-table-propagation
ec2 disable-vgw-route-propagation
ec2 disable-vpc-classic-link
ec2 disable-vpc-classic-link-dns-support
ec2 disassociate-address
ec2 disassociate-client-vpn-target-network
ec2 disassociate-enclave-certificate-iam-role
ec2 disassociate-iam-instance-profile
ec2 disassociate-instance-event-window
ec2 disassociate-route-table
ec2 disassociate-subnet-cidr-block
ec2 disassociate-transit-gateway-multicast-domain
ec2 disassociate-transit-gateway-route-table
ec2 disassociate-trunk-interface
ec2 disassociate-vpc-cidr-block
ec2 enable-ebs-encryption-by-default
ec2 enable-fast-launch
ec2 enable-fast-snapshot-restores
ec2 enable-image-deprecation
ec2 enable-ipam-organization-admin-account
ec2 enable-serial-console-access
ec2 enable-transit-gateway-route-table-propagation
ec2 enable-vgw-route-propagation
ec2 enable-volume-io
ec2 enable-vpc-classic-link
ec2 enable-vpc-classic-link-dns-support
ec2 export-client-vpn-client-certificate-revocation-list
ec2 export-client-vpn-client-configuration
ec2 export-image
ec2 export-transit-gateway-routes
ec2 get-associated-enclave-certificate-iam-roles
ec2 get-associated-ipv6-pool-cidrs
ec2 get-capacity-reservation-usage
ec2 get-coip-pool-usage
ec2 get-console-output
ec2 get-console-screenshot
ec2 get-default-credit-specification
ec2 get-ebs-default-kms-key-id
ec2 get-ebs-encryption-by-default
ec2 get-flow-logs-integration-template
ec2 get-groups-for-capacity-reservation
ec2 get-host-reservation-purchase-preview
ec2 get-instance-types-from-instance-requirements
ec2 get-ipam-address-history
ec2 get-ipam-pool-allocations
ec2 get-ipam-pool-cidrs
ec2 get-ipam-resource-cidrs
ec2 get-launch-template-data
ec2 get-managed-prefix-list-associations
ec2 get-managed-prefix-list-entries
ec2 get-network-insights-access-scope-analysis-findings
ec2 get-network-insights-access-scope-content
ec2 get-password-data
ec2 get-reserved-instances-exchange-quote
ec2 get-serial-console-access-status
ec2 get-spot-placement-scores
ec2 get-subnet-cidr-reservations
ec2 get-transit-gateway-attachment-propagations
ec2 get-transit-gateway-multicast-domain-associations
ec2 get-transit-gateway-prefix-list-references
ec2 get-transit-gateway-route-table-associations
ec2 get-transit-gateway-route-table-propagations
ec2 get-vpn-connection-device-sample-configuration
ec2 get-vpn-connection-device-types
ec2 help
ec2 import-client-vpn-client-certificate-revocation-list
ec2 import-image
ec2 import-key-pair
ec2 import-snapshot
ec2 list-snapshots-in-recycle-bin
ec2 modify-address-attribute
ec2 modify-availability-zone-group
ec2 modify-capacity-reservation
ec2 modify-capacity-reservation-fleet
ec2 modify-client-vpn-endpoint
ec2 modify-default-credit-specification
ec2 modify-ebs-default-kms-key-id
ec2 modify-fleet
ec2 modify-fpga-image-attribute
ec2 modify-hosts
ec2 modify-id-format
ec2 modify-identity-id-format
ec2 modify-image-attribute
ec2 modify-instance-attribute
ec2 modify-instance-capacity-reservation-attributes
ec2 modify-instance-credit-specification
ec2 modify-instance-event-start-time
ec2 modify-instance-event-window
ec2 modify-instance-metadata-options
ec2 modify-instance-placement
ec2 modify-ipam
ec2 modify-ipam-pool
ec2 modify-ipam-resource-cidr
ec2 modify-ipam-scope
ec2 modify-launch-template
ec2 modify-managed-prefix-list
ec2 modify-network-interface-attribute
ec2 modify-private-dns-name-options
ec2 modify-reserved-instances
ec2 modify-security-group-rules
ec2 modify-snapshot-attribute
ec2 modify-snapshot-tier
ec2 modify-spot-fleet-request
ec2 modify-subnet-attribute
ec2 modify-traffic-mirror-filter-network-services
ec2 modify-traffic-mirror-filter-rule
ec2 modify-traffic-mirror-session
ec2 modify-transit-gateway
ec2 modify-transit-gateway-prefix-list-reference
ec2 modify-transit-gateway-vpc-attachment
ec2 modify-volume
ec2 modify-volume-attribute
ec2 modify-vpc-attribute
ec2 modify-vpc-endpoint
ec2 modify-vpc-endpoint-connection-notification
ec2 modify-vpc-endpoint-service-configuration
ec2 modify-vpc-endpoint-service-payer-responsibility
ec2 modify-vpc-endpoint-service-permissions
ec2 modify-vpc-peering-connection-options
ec2 modify-vpc-tenancy
ec2 modify-vpn-connection
ec2 modify-vpn-connection-options
ec2 modify-vpn-tunnel-certificate
ec2 modify-vpn-tunnel-options
ec2 monitor-instances
ec2 move-address-to-vpc
ec2 move-byoip-cidr-to-ipam
ec2 provision-byoip-cidr
ec2 provision-ipam-pool-cidr
ec2 provision-public-ipv4-pool-cidr
ec2 purchase-host-reservation
ec2 purchase-reserved-instances-offering
ec2 purchase-scheduled-instances
ec2 reboot-instances
ec2 register-image
ec2 register-instance-event-notification-attributes
ec2 register-transit-gateway-multicast-group-members
ec2 register-transit-gateway-multicast-group-sources
ec2 reject-transit-gateway-multicast-domain-associations
ec2 reject-transit-gateway-peering-attachment
ec2 reject-transit-gateway-vpc-attachment
ec2 reject-vpc-endpoint-connections
ec2 reject-vpc-peering-connection
ec2 release-address
ec2 release-hosts
ec2 release-ipam-pool-allocation
ec2 replace-iam-instance-profile-association
ec2 replace-network-acl-association
ec2 replace-network-acl-entry
ec2 replace-route
ec2 replace-route-table-association
ec2 replace-transit-gateway-route
ec2 report-instance-status
ec2 request-spot-fleet
ec2 request-spot-instances
ec2 reset-address-attribute
ec2 reset-ebs-default-kms-key-id
ec2 reset-fpga-image-attribute
ec2 reset-image-attribute
ec2 reset-instance-attribute
ec2 reset-network-interface-attribute
ec2 reset-snapshot-attribute
ec2 restore-address-to-classic
ec2 restore-managed-prefix-list-version
ec2 restore-snapshot-from-recycle-bin
ec2 restore-snapshot-tier
ec2 revoke-client-vpn-ingress
ec2 revoke-security-group-egress
ec2 revoke-security-group-ingress
ec2 run-instances
ec2 run-scheduled-instances
ec2 search-local-gateway-routes
ec2 search-transit-gateway-multicast-groups
ec2 search-transit-gateway-routes
ec2 send-diagnostic-interrupt
ec2 start-instances
ec2 start-network-insights-access-scope-analysis
ec2 start-network-insights-analysis
ec2 start-vpc-endpoint-service-private-dns-verification
ec2 stop-instances
ec2 terminate-client-vpn-connections
ec2 terminate-instances
ec2 unassign-ipv6-addresses
ec2 unassign-private-ip-addresses
ec2 unmonitor-instances
ec2 update-security-group-rule-descriptions-egress
ec2 update-security-group-rule-descriptions-ingress
ec2 wait
ec2 withdraw-byoip-cidr
