ecr-public batch-check-layer-availability
ecr-public batch-delete-image
ecr-public complete-layer-upload
ecr-public create-repository
ecr-public delete-repository
ecr-public delete-repository-policy
ecr-public describe-image-tags
ecr-public describe-images
ecr-public describe-registries
ecr-public describe-repositories
ecr-public get-authorization-token
ecr-public get-login-password
ecr-public get-registry-catalog-data
ecr-public get-repository-catalog-data
ecr-public get-repository-policy
ecr-public help
ecr-public initiate-layer-upload
ecr-public list-tags-for-resource
ecr-public put-image
ecr-public put-registry-catalog-data
ecr-public put-repository-catalog-data
ecr-public set-repository-policy
ecr-public tag-resource
ecr-public untag-resource
ecr-public upload-layer-part
