ecs create-capacity-provider
ecs create-cluster
ecs create-service
ecs create-task-set
ecs delete-account-setting
ecs delete-attributes
ecs delete-capacity-provider
ecs delete-cluster
ecs delete-service
ecs delete-task-set
ecs deploy
ecs deregister-container-instance
ecs deregister-task-definition
ecs describe-capacity-providers
ecs describe-clusters
ecs describe-container-instances
ecs describe-services
ecs describe-task-definition
ecs describe-task-sets
ecs describe-tasks
ecs discover-poll-endpoint
ecs execute-command
ecs help
ecs list-account-settings
ecs list-attributes
ecs list-clusters
ecs list-container-instances
ecs list-services
ecs list-tags-for-resource
ecs list-task-definition-families
ecs list-task-definitions
ecs list-tasks
ecs put-account-setting
ecs put-account-setting-default
ecs put-attributes
ecs put-cluster-capacity-providers
ecs register-container-instance
ecs register-task-definition
ecs run-task
ecs start-task
ecs stop-task
ecs submit-attachment-state-changes
ecs submit-container-state-change
ecs submit-task-state-change
ecs tag-resource
ecs untag-resource
ecs update-capacity-provider
ecs update-cluster
ecs update-cluster-settings
ecs update-container-agent
ecs update-container-instances-state
ecs update-service
ecs update-service-primary-task-set
ecs update-task-set
ecs wait
