efs create-access-point
efs create-file-system
efs create-mount-target
efs create-replication-configuration
efs create-tags
efs delete-access-point
efs delete-file-system
efs delete-file-system-policy
efs delete-mount-target
efs delete-replication-configuration
efs delete-tags
efs describe-access-points
efs describe-account-preferences
efs describe-backup-policy
efs describe-file-system-policy
efs describe-file-systems
efs describe-lifecycle-configuration
efs describe-mount-target-security-groups
efs describe-mount-targets
efs describe-replication-configurations
efs describe-tags
efs help
efs list-tags-for-resource
efs modify-mount-target-security-groups
efs put-account-preferences
efs put-backup-policy
efs put-file-system-policy
efs put-lifecycle-configuration
efs tag-resource
efs untag-resource
efs update-file-system
