eks associate-encryption-config
eks associate-identity-provider-config
eks create-addon
eks create-cluster
eks create-fargate-profile
eks create-nodegroup
eks delete-addon
eks delete-cluster
eks delete-fargate-profile
eks delete-nodegroup
eks deregister-cluster
eks describe-addon
eks describe-addon-versions
eks describe-cluster
eks describe-fargate-profile
eks describe-identity-provider-config
eks describe-nodegroup
eks describe-update
eks disassociate-identity-provider-config
eks get-token
eks help
eks list-addons
eks list-clusters
eks list-fargate-profiles
eks list-identity-provider-configs
eks list-nodegroups
eks list-tags-for-resource
eks list-updates
eks register-cluster
eks tag-resource
eks untag-resource
eks update-addon
eks update-cluster-config
eks update-cluster-version
eks update-kubeconfig
eks update-nodegroup-config
eks update-nodegroup-version
eks wait
