elasticache add-tags-to-resource
elasticache authorize-cache-security-group-ingress
elasticache batch-apply-update-action
elasticache batch-stop-update-action
elasticache complete-migration
elasticache copy-snapshot
elasticache create-cache-cluster
elasticache create-cache-parameter-group
elasticache create-cache-security-group
elasticache create-cache-subnet-group
elasticache create-global-replication-group
elasticache create-replication-group
elasticache create-snapshot
elasticache create-user
elasticache create-user-group
elasticache decrease-node-groups-in-global-replication-group
elasticache decrease-replica-count
elasticache delete-cache-cluster
elasticache delete-cache-parameter-group
elasticache delete-cache-security-group
elasticache delete-cache-subnet-group
elasticache delete-global-replication-group
elasticache delete-replication-group
elasticache delete-snapshot
elasticache delete-user
elasticache delete-user-group
elasticache describe-cache-clusters
elasticache describe-cache-engine-versions
elasticache describe-cache-parameter-groups
elasticache describe-cache-parameters
elasticache describe-cache-security-groups
elasticache describe-cache-subnet-groups
elasticache describe-engine-default-parameters
elasticache describe-events
elasticache describe-global-replication-groups
elasticache describe-replication-groups
elasticache describe-reserved-cache-nodes
elasticache describe-reserved-cache-nodes-offerings
elasticache describe-service-updates
elasticache describe-snapshots
elasticache describe-update-actions
elasticache describe-user-groups
elasticache describe-users
elasticache disassociate-global-replication-group
elasticache failover-global-replication-group
elasticache help
elasticache increase-node-groups-in-global-replication-group
elasticache increase-replica-count
elasticache list-allowed-node-type-modifications
elasticache list-tags-for-resource
elasticache modify-cache-cluster
elasticache modify-cache-parameter-group
elasticache modify-cache-subnet-group
elasticache modify-global-replication-group
elasticache modify-replication-group
elasticache modify-replication-group-shard-configuration
elasticache modify-user
elasticache modify-user-group
elasticache purchase-reserved-cache-nodes-offering
elasticache rebalance-slots-in-global-replication-group
elasticache reboot-cache-cluster
elasticache remove-tags-from-resource
elasticache reset-cache-parameter-group
elasticache revoke-cache-security-group-ingress
elasticache start-migration
elasticache test-failover
elasticache wait
