elasticbeanstalk abort-environment-update
elasticbeanstalk apply-environment-managed-action
elasticbeanstalk associate-environment-operations-role
elasticbeanstalk check-dns-availability
elasticbeanstalk compose-environments
elasticbeanstalk create-application
elasticbeanstalk create-application-version
elasticbeanstalk create-configuration-template
elasticbeanstalk create-environment
elasticbeanstalk create-platform-version
elasticbeanstalk create-storage-location
elasticbeanstalk delete-application
elasticbeanstalk delete-application-version
elasticbeanstalk delete-configuration-template
elasticbeanstalk delete-environment-configuration
elasticbeanstalk delete-platform-version
elasticbeanstalk describe-account-attributes
elasticbeanstalk describe-application-versions
elasticbeanstalk describe-applications
elasticbeanstalk describe-configuration-options
elasticbeanstalk describe-configuration-settings
elasticbeanstalk describe-environment-health
elasticbeanstalk describe-environment-managed-action-history
elasticbeanstalk describe-environment-managed-actions
elasticbeanstalk describe-environment-resources
elasticbeanstalk describe-environments
elasticbeanstalk describe-events
elasticbeanstalk describe-instances-health
elasticbeanstalk describe-platform-version
elasticbeanstalk disassociate-environment-operations-role
elasticbeanstalk help
elasticbeanstalk list-available-solution-stacks
elasticbeanstalk list-platform-branches
elasticbeanstalk list-platform-versions
elasticbeanstalk list-tags-for-resource
elasticbeanstalk rebuild-environment
elasticbeanstalk request-environment-info
elasticbeanstalk restart-app-server
elasticbeanstalk retrieve-environment-info
elasticbeanstalk swap-environment-cnames
elasticbeanstalk terminate-environment
elasticbeanstalk update-application
elasticbeanstalk update-application-resource-lifecycle
elasticbeanstalk update-application-version
elasticbeanstalk update-configuration-template
elasticbeanstalk update-environment
elasticbeanstalk update-tags-for-resource
elasticbeanstalk validate-configuration-settings
elasticbeanstalk wait
