elastictranscoder cancel-job
elastictranscoder create-job
elastictranscoder create-pipeline
elastictranscoder create-preset
elastictranscoder delete-pipeline
elastictranscoder delete-preset
elastictranscoder help
elastictranscoder list-jobs-by-pipeline
elastictranscoder list-jobs-by-status
elastictranscoder list-pipelines
elastictranscoder list-presets
elastictranscoder read-job
elastictranscoder read-pipeline
elastictranscoder read-preset
elastictranscoder test-role
elastictranscoder update-pipeline
elastictranscoder update-pipeline-notifications
elastictranscoder update-pipeline-status
elastictranscoder wait
