emr-containers cancel-job-run
emr-containers create-managed-endpoint
emr-containers create-virtual-cluster
emr-containers delete-managed-endpoint
emr-containers delete-virtual-cluster
emr-containers describe-job-run
emr-containers describe-managed-endpoint
emr-containers describe-virtual-cluster
emr-containers help
emr-containers list-job-runs
emr-containers list-managed-endpoints
emr-containers list-tags-for-resource
emr-containers list-virtual-clusters
emr-containers start-job-run
emr-containers tag-resource
emr-containers untag-resource
emr-containers update-role-trust-policy
