emr add-instance-fleet
emr add-instance-groups
emr add-steps
emr add-tags
emr cancel-steps
emr create-cluster
emr create-default-roles
emr create-hbase-backup
emr create-security-configuration
emr create-studio
emr create-studio-session-mapping
emr delete-security-configuration
emr delete-studio
emr delete-studio-session-mapping
emr describe-cluster
emr describe-notebook-execution
emr describe-release-label
emr describe-security-configuration
emr describe-step
emr describe-studio
emr disable-hbase-backups
emr get
emr get-auto-termination-policy
emr get-block-public-access-configuration
emr get-managed-scaling-policy
emr get-studio-session-mapping
emr help
emr install-applications
emr list-clusters
emr list-instance-fleets
emr list-instances
emr list-notebook-executions
emr list-release-labels
emr list-security-configurations
emr list-steps
emr list-studio-session-mappings
emr list-studios
emr modify-cluster
emr modify-cluster-attributes
emr modify-instance-fleet
emr modify-instance-groups
emr put
emr put-auto-scaling-policy
emr put-auto-termination-policy
emr put-block-public-access-configuration
emr put-managed-scaling-policy
emr remove-auto-scaling-policy
emr remove-auto-termination-policy
emr remove-managed-scaling-policy
emr remove-tags
emr restore-from-hbase-backup
emr schedule-hbase-backup
emr socks
emr ssh
emr start-notebook-execution
emr stop-notebook-execution
emr terminate-clusters
emr update-studio
emr update-studio-session-mapping
emr wait
