es accept-inbound-cross-cluster-search-connection
es add-tags
es associate-package
es cancel-elasticsearch-service-software-update
es create-elasticsearch-domain
es create-outbound-cross-cluster-search-connection
es create-package
es delete-elasticsearch-domain
es delete-elasticsearch-service-role
es delete-inbound-cross-cluster-search-connection
es delete-outbound-cross-cluster-search-connection
es delete-package
es describe-domain-auto-tunes
es describe-elasticsearch-domain
es describe-elasticsearch-domain-config
es describe-elasticsearch-domains
es describe-elasticsearch-instance-type-limits
es describe-inbound-cross-cluster-search-connections
es describe-outbound-cross-cluster-search-connections
es describe-packages
es describe-reserved-elasticsearch-instance-offerings
es describe-reserved-elasticsearch-instances
es dissociate-package
es get-compatible-elasticsearch-versions
es get-package-version-history
es get-upgrade-history
es get-upgrade-status
es help
es list-domain-names
es list-domains-for-package
es list-elasticsearch-instance-types
es list-elasticsearch-versions
es list-packages-for-domain
es list-tags
es purchase-reserved-elasticsearch-instance-offering
es reject-inbound-cross-cluster-search-connection
es remove-tags
es start-elasticsearch-service-software-update
es update-elasticsearch-domain-config
es update-package
es upgrade-elasticsearch-domain
