events activate-event-source
events cancel-replay
events create-api-destination
events create-archive
events create-connection
events create-event-bus
events create-partner-event-source
events deactivate-event-source
events deauthorize-connection
events delete-api-destination
events delete-archive
events delete-connection
events delete-event-bus
events delete-partner-event-source
events delete-rule
events describe-api-destination
events describe-archive
events describe-connection
events describe-event-bus
events describe-event-source
events describe-partner-event-source
events describe-replay
events describe-rule
events disable-rule
events enable-rule
events help
events list-api-destinations
events list-archives
events list-connections
events list-event-buses
events list-event-sources
events list-partner-event-source-accounts
events list-partner-event-sources
events list-replays
events list-rule-names-by-target
events list-rules
events list-tags-for-resource
events list-targets-by-rule
events put-events
events put-partner-events
events put-permission
events put-rule
events put-targets
events remove-permission
events remove-targets
events start-replay
events tag-resource
events test-event-pattern
events untag-resource
events update-api-destination
events update-archive
events update-connection
events wizard
