evidently batch-evaluate-feature
evidently create-experiment
evidently create-feature
evidently create-launch
evidently create-project
evidently delete-experiment
evidently delete-feature
evidently delete-launch
evidently delete-project
evidently evaluate-feature
evidently get-experiment
evidently get-experiment-results
evidently get-feature
evidently get-launch
evidently get-project
evidently help
evidently list-experiments
evidently list-features
evidently list-launches
evidently list-projects
evidently list-tags-for-resource
evidently put-project-events
evidently start-experiment
evidently start-launch
evidently stop-experiment
evidently stop-launch
evidently tag-resource
evidently untag-resource
evidently update-experiment
evidently update-feature
evidently update-launch
evidently update-project
evidently update-project-data-delivery
