fms associate-admin-account
fms delete-apps-list
fms delete-notification-channel
fms delete-policy
fms delete-protocols-list
fms disassociate-admin-account
fms get-admin-account
fms get-apps-list
fms get-compliance-detail
fms get-notification-channel
fms get-policy
fms get-protection-status
fms get-protocols-list
fms get-violation-details
fms help
fms list-apps-lists
fms list-compliance-status
fms list-member-accounts
fms list-policies
fms list-protocols-lists
fms list-tags-for-resource
fms put-apps-list
fms put-notification-channel
fms put-policy
fms put-protocols-list
fms tag-resource
fms untag-resource
