forecast create-auto-predictor
forecast create-dataset
forecast create-dataset-group
forecast create-dataset-import-job
forecast create-explainability
forecast create-explainability-export
forecast create-forecast
forecast create-forecast-export-job
forecast create-predictor
forecast create-predictor-backtest-export-job
forecast delete-dataset
forecast delete-dataset-group
forecast delete-dataset-import-job
forecast delete-explainability
forecast delete-explainability-export
forecast delete-forecast
forecast delete-forecast-export-job
forecast delete-predictor
forecast delete-predictor-backtest-export-job
forecast delete-resource-tree
forecast describe-auto-predictor
forecast describe-dataset
forecast describe-dataset-group
forecast describe-dataset-import-job
forecast describe-explainability
forecast describe-explainability-export
forecast describe-forecast
forecast describe-forecast-export-job
forecast describe-predictor
forecast describe-predictor-backtest-export-job
forecast get-accuracy-metrics
forecast help
forecast list-dataset-groups
forecast list-dataset-import-jobs
forecast list-datasets
forecast list-explainabilities
forecast list-explainability-exports
forecast list-forecast-export-jobs
forecast list-forecasts
forecast list-predictor-backtest-export-jobs
forecast list-predictors
forecast list-tags-for-resource
forecast stop-resource
forecast tag-resource
forecast untag-resource
forecast update-dataset-group
