fsx associate-file-system-aliases
fsx cancel-data-repository-task
fsx copy-backup
fsx create-backup
fsx create-data-repository-association
fsx create-data-repository-task
fsx create-file-system
fsx create-file-system-from-backup
fsx create-snapshot
fsx create-storage-virtual-machine
fsx create-volume
fsx create-volume-from-backup
fsx delete-backup
fsx delete-data-repository-association
fsx delete-file-system
fsx delete-snapshot
fsx delete-storage-virtual-machine
fsx delete-volume
fsx describe-backups
fsx describe-data-repository-associations
fsx describe-data-repository-tasks
fsx describe-file-system-aliases
fsx describe-file-systems
fsx describe-snapshots
fsx describe-storage-virtual-machines
fsx describe-volumes
fsx disassociate-file-system-aliases
fsx help
fsx list-tags-for-resource
fsx release-file-system-nfs-v3-locks
fsx restore-volume-from-snapshot
fsx tag-resource
fsx untag-resource
fsx update-data-repository-association
fsx update-file-system
fsx update-snapshot
fsx update-storage-virtual-machine
fsx update-volume
