greengrass associate-role-to-group
greengrass associate-service-role-to-account
greengrass create-connector-definition
greengrass create-connector-definition-version
greengrass create-core-definition
greengrass create-core-definition-version
greengrass create-deployment
greengrass create-device-definition
greengrass create-device-definition-version
greengrass create-function-definition
greengrass create-function-definition-version
greengrass create-group
greengrass create-group-certificate-authority
greengrass create-group-version
greengrass create-logger-definition
greengrass create-logger-definition-version
greengrass create-resource-definition
greengrass create-resource-definition-version
greengrass create-software-update-job
greengrass create-subscription-definition
greengrass create-subscription-definition-version
greengrass delete-connector-definition
greengrass delete-core-definition
greengrass delete-device-definition
greengrass delete-function-definition
greengrass delete-group
greengrass delete-logger-definition
greengrass delete-resource-definition
greengrass delete-subscription-definition
greengrass disassociate-role-from-group
greengrass disassociate-service-role-from-account
greengrass get-associated-role
greengrass get-bulk-deployment-status
greengrass get-connectivity-info
greengrass get-connector-definition
greengrass get-connector-definition-version
greengrass get-core-definition
greengrass get-core-definition-version
greengrass get-deployment-status
greengrass get-device-definition
greengrass get-device-definition-version
greengrass get-function-definition
greengrass get-function-definition-version
greengrass get-group
greengrass get-group-certificate-authority
greengrass get-group-certificate-configuration
greengrass get-group-version
greengrass get-logger-definition
greengrass get-logger-definition-version
greengrass get-resource-definition
greengrass get-resource-definition-version
greengrass get-service-role-for-account
greengrass get-subscription-definition
greengrass get-subscription-definition-version
greengrass get-thing-runtime-configuration
greengrass help
greengrass list-bulk-deployment-detailed-reports
greengrass list-bulk-deployments
greengrass list-connector-definition-versions
greengrass list-connector-definitions
greengrass list-core-definition-versions
greengrass list-core-definitions
greengrass list-deployments
greengrass list-device-definition-versions
greengrass list-device-definitions
greengrass list-function-definition-versions
greengrass list-function-definitions
greengrass list-group-certificate-authorities
greengrass list-group-versions
greengrass list-groups
greengrass list-logger-definition-versions
greengrass list-logger-definitions
greengrass list-resource-definition-versions
greengrass list-resource-definitions
greengrass list-subscription-definition-versions
greengrass list-subscription-definitions
greengrass list-tags-for-resource
greengrass reset-deployments
greengrass start-bulk-deployment
greengrass stop-bulk-deployment
greengrass tag-resource
greengrass untag-resource
greengrass update-connectivity-info
greengrass update-connector-definition
greengrass update-core-definition
greengrass update-device-definition
greengrass update-function-definition
greengrass update-group
greengrass update-group-certificate-configuration
greengrass update-logger-definition
greengrass update-resource-definition
greengrass update-subscription-definition
greengrass update-thing-runtime-configuration
