greengrassv2 associate-service-role-to-account
greengrassv2 batch-associate-client-device-with-core-device
greengrassv2 batch-disassociate-client-device-from-core-device
greengrassv2 cancel-deployment
greengrassv2 create-component-version
greengrassv2 create-deployment
greengrassv2 delete-component
greengrassv2 delete-core-device
greengrassv2 describe-component
greengrassv2 disassociate-service-role-from-account
greengrassv2 get-component
greengrassv2 get-component-version-artifact
greengrassv2 get-connectivity-info
greengrassv2 get-core-device
greengrassv2 get-deployment
greengrassv2 get-service-role-for-account
greengrassv2 help
greengrassv2 list-client-devices-associated-with-core-device
greengrassv2 list-component-versions
greengrassv2 list-components
greengrassv2 list-core-devices
greengrassv2 list-deployments
greengrassv2 list-effective-deployments
greengrassv2 list-installed-components
greengrassv2 list-tags-for-resource
greengrassv2 resolve-component-candidates
greengrassv2 tag-resource
greengrassv2 untag-resource
greengrassv2 update-connectivity-info
