iam add-client-id-to-open-id-connect-provider
iam add-role-to-instance-profile
iam add-user-to-group
iam attach-group-policy
iam attach-role-policy
iam attach-user-policy
iam change-password
iam create-access-key
iam create-account-alias
iam create-group
iam create-instance-profile
iam create-login-profile
iam create-open-id-connect-provider
iam create-policy
iam create-policy-version
iam create-role
iam create-saml-provider
iam create-service-linked-role
iam create-service-specific-credential
iam create-user
iam create-virtual-mfa-device
iam deactivate-mfa-device
iam delete-access-key
iam delete-account-alias
iam delete-account-password-policy
iam delete-group
iam delete-group-policy
iam delete-instance-profile
iam delete-login-profile
iam delete-open-id-connect-provider
iam delete-policy
iam delete-policy-version
iam delete-role
iam delete-role-permissions-boundary
iam delete-role-policy
iam delete-saml-provider
iam delete-server-certificate
iam delete-service-linked-role
iam delete-service-specific-credential
iam delete-signing-certificate
iam delete-ssh-public-key
iam delete-user
iam delete-user-permissions-boundary
iam delete-user-policy
iam delete-virtual-mfa-device
iam detach-group-policy
iam detach-role-policy
iam detach-user-policy
iam enable-mfa-device
iam generate-credential-report
iam generate-organizations-access-report
iam generate-service-last-accessed-details
iam get-access-key-last-used
iam get-account-authorization-details
iam get-account-password-policy
iam get-account-summary
iam get-context-keys-for-custom-policy
iam get-context-keys-for-principal-policy
iam get-credential-report
iam get-group
iam get-group-policy
iam get-instance-profile
iam get-login-profile
iam get-open-id-connect-provider
iam get-organizations-access-report
iam get-policy
iam get-policy-version
iam get-role
iam get-role-policy
iam get-saml-provider
iam get-server-certificate
iam get-service-last-accessed-details
iam get-service-last-accessed-details-with-entities
iam get-service-linked-role-deletion-status
iam get-ssh-public-key
iam get-user
iam get-user-policy
iam help
iam list-access-keys
iam list-account-aliases
iam list-attached-group-policies
iam list-attached-role-policies
iam list-attached-user-policies
iam list-entities-for-policy
iam list-group-policies
iam list-groups
iam list-groups-for-user
iam list-instance-profile-tags
iam list-instance-profiles
iam list-instance-profiles-for-role
iam list-mfa-device-tags
iam list-mfa-devices
iam list-open-id-connect-provider-tags
iam list-open-id-connect-providers
iam list-policies
iam list-policies-granting-service-access
iam list-policy-tags
iam list-policy-versions
iam list-role-policies
iam list-role-tags
iam list-roles
iam list-saml-provider-tags
iam list-saml-providers
iam list-server-certificate-tags
iam list-server-certificates
iam list-service-specific-credentials
iam list-signing-certificates
iam list-ssh-public-keys
iam list-user-policies
iam list-user-tags
iam list-users
iam list-virtual-mfa-devices
iam put-group-policy
iam put-role-permissions-boundary
iam put-role-policy
iam put-user-permissions-boundary
iam put-user-policy
iam remove-client-id-from-open-id-connect-provider
iam remove-role-from-instance-profile
iam remove-user-from-group
iam reset-service-specific-credential
iam resync-mfa-device
iam set-default-policy-version
iam set-security-token-service-preferences
iam simulate-custom-policy
iam simulate-principal-policy
iam tag-instance-profile
iam tag-mfa-device
iam tag-open-id-connect-provider
iam tag-policy
iam tag-role
iam tag-saml-provider
iam tag-server-certificate
iam tag-user
iam untag-instance-profile
iam untag-mfa-device
iam untag-open-id-connect-provider
iam untag-policy
iam untag-role
iam untag-saml-provider
iam untag-server-certificate
iam untag-user
iam update-access-key
iam update-account-password-policy
iam update-assume-role-policy
iam update-group
iam update-login-profile
iam update-open-id-connect-provider-thumbprint
iam update-role
iam update-role-description
iam update-saml-provider
iam update-server-certificate
iam update-service-specific-credential
iam update-signing-certificate
iam update-ssh-public-key
iam update-user
iam upload-server-certificate
iam upload-signing-certificate
iam upload-ssh-public-key
iam wait
iam wizard
