inspector add-attributes-to-findings
inspector create-assessment-target
inspector create-assessment-template
inspector create-exclusions-preview
inspector create-resource-group
inspector delete-assessment-run
inspector delete-assessment-target
inspector delete-assessment-template
inspector describe-assessment-runs
inspector describe-assessment-targets
inspector describe-assessment-templates
inspector describe-cross-account-access-role
inspector describe-exclusions
inspector describe-findings
inspector describe-resource-groups
inspector describe-rules-packages
inspector get-assessment-report
inspector get-exclusions-preview
inspector get-telemetry-metadata
inspector help
inspector list-assessment-run-agents
inspector list-assessment-runs
inspector list-assessment-targets
inspector list-assessment-templates
inspector list-event-subscriptions
inspector list-exclusions
inspector list-findings
inspector list-rules-packages
inspector list-tags-for-resource
inspector preview-agents
inspector register-cross-account-access-role
inspector remove-attributes-from-findings
inspector set-tags-for-resource
inspector start-assessment-run
inspector stop-assessment-run
inspector subscribe-to-event
inspector unsubscribe-from-event
inspector update-assessment-target
