inspector2 associate-member
inspector2 batch-get-account-status
inspector2 batch-get-free-trial-info
inspector2 cancel-findings-report
inspector2 create-filter
inspector2 create-findings-report
inspector2 delete-filter
inspector2 describe-organization-configuration
inspector2 disable
inspector2 disable-delegated-admin-account
inspector2 disassociate-member
inspector2 enable
inspector2 enable-delegated-admin-account
inspector2 get-delegated-admin-account
inspector2 get-findings-report-status
inspector2 get-member
inspector2 help
inspector2 list-account-permissions
inspector2 list-coverage
inspector2 list-coverage-statistics
inspector2 list-delegated-admin-accounts
inspector2 list-filters
inspector2 list-finding-aggregations
inspector2 list-findings
inspector2 list-members
inspector2 list-tags-for-resource
inspector2 list-usage-totals
inspector2 tag-resource
inspector2 untag-resource
inspector2 update-filter
inspector2 update-organization-configuration
