iottwinmaker batch-put-property-values
iottwinmaker create-component-type
iottwinmaker create-entity
iottwinmaker create-scene
iottwinmaker create-workspace
iottwinmaker delete-component-type
iottwinmaker delete-entity
iottwinmaker delete-scene
iottwinmaker delete-workspace
iottwinmaker get-component-type
iottwinmaker get-entity
iottwinmaker get-property-value
iottwinmaker get-property-value-history
iottwinmaker get-scene
iottwinmaker get-workspace
iottwinmaker help
iottwinmaker list-component-types
iottwinmaker list-entities
iottwinmaker list-scenes
iottwinmaker list-tags-for-resource
iottwinmaker list-workspaces
iottwinmaker tag-resource
iottwinmaker untag-resource
iottwinmaker update-component-type
iottwinmaker update-entity
iottwinmaker update-scene
iottwinmaker update-workspace
