kafka batch-associate-scram-secret
kafka batch-disassociate-scram-secret
kafka create-cluster
kafka create-cluster-v2
kafka create-configuration
kafka delete-cluster
kafka delete-configuration
kafka describe-cluster
kafka describe-cluster-operation
kafka describe-cluster-v2
kafka describe-configuration
kafka describe-configuration-revision
kafka get-bootstrap-brokers
kafka get-compatible-kafka-versions
kafka help
kafka list-cluster-operations
kafka list-clusters
kafka list-clusters-v2
kafka list-configuration-revisions
kafka list-configurations
kafka list-kafka-versions
kafka list-nodes
kafka list-scram-secrets
kafka list-tags-for-resource
kafka reboot-broker
kafka tag-resource
kafka untag-resource
kafka update-broker-count
kafka update-broker-storage
kafka update-broker-type
kafka update-cluster-configuration
kafka update-cluster-kafka-version
kafka update-configuration
kafka update-connectivity
kafka update-monitoring
kafka update-security
