kinesisanalyticsv2 add-application-cloud-watch-logging-option
kinesisanalyticsv2 add-application-input
kinesisanalyticsv2 add-application-input-processing-configuration
kinesisanalyticsv2 add-application-output
kinesisanalyticsv2 add-application-reference-data-source
kinesisanalyticsv2 add-application-vpc-configuration
kinesisanalyticsv2 create-application
kinesisanalyticsv2 create-application-presigned-url
kinesisanalyticsv2 create-application-snapshot
kinesisanalyticsv2 delete-application
kinesisanalyticsv2 delete-application-cloud-watch-logging-option
kinesisanalyticsv2 delete-application-input-processing-configuration
kinesisanalyticsv2 delete-application-output
kinesisanalyticsv2 delete-application-reference-data-source
kinesisanalyticsv2 delete-application-snapshot
kinesisanalyticsv2 delete-application-vpc-configuration
kinesisanalyticsv2 describe-application
kinesisanalyticsv2 describe-application-snapshot
kinesisanalyticsv2 describe-application-version
kinesisanalyticsv2 discover-input-schema
kinesisanalyticsv2 help
kinesisanalyticsv2 list-application-snapshots
kinesisanalyticsv2 list-application-versions
kinesisanalyticsv2 list-applications
kinesisanalyticsv2 list-tags-for-resource
kinesisanalyticsv2 rollback-application
kinesisanalyticsv2 start-application
kinesisanalyticsv2 stop-application
kinesisanalyticsv2 tag-resource
kinesisanalyticsv2 untag-resource
kinesisanalyticsv2 update-application
kinesisanalyticsv2 update-application-maintenance-configuration
