kinesisanalytics add-application-cloud-watch-logging-option
kinesisanalytics add-application-input
kinesisanalytics add-application-input-processing-configuration
kinesisanalytics add-application-output
kinesisanalytics add-application-reference-data-source
kinesisanalytics create-application
kinesisanalytics delete-application
kinesisanalytics delete-application-cloud-watch-logging-option
kinesisanalytics delete-application-input-processing-configuration
kinesisanalytics delete-application-output
kinesisanalytics delete-application-reference-data-source
kinesisanalytics describe-application
kinesisanalytics discover-input-schema
kinesisanalytics help
kinesisanalytics list-applications
kinesisanalytics list-tags-for-resource
kinesisanalytics start-application
kinesisanalytics stop-application
kinesisanalytics tag-resource
kinesisanalytics untag-resource
kinesisanalytics update-application
