kinesisvideo create-signaling-channel
kinesisvideo create-stream
kinesisvideo delete-signaling-channel
kinesisvideo delete-stream
kinesisvideo describe-signaling-channel
kinesisvideo describe-stream
kinesisvideo get-data-endpoint
kinesisvideo get-signaling-channel-endpoint
kinesisvideo help
kinesisvideo list-signaling-channels
kinesisvideo list-streams
kinesisvideo list-tags-for-resource
kinesisvideo list-tags-for-stream
kinesisvideo tag-resource
kinesisvideo tag-stream
kinesisvideo untag-resource
kinesisvideo untag-stream
kinesisvideo update-data-retention
kinesisvideo update-signaling-channel
kinesisvideo update-stream
