kinesis add-tags-to-stream
kinesis create-stream
kinesis decrease-stream-retention-period
kinesis delete-stream
kinesis deregister-stream-consumer
kinesis describe-limits
kinesis describe-stream
kinesis describe-stream-consumer
kinesis describe-stream-summary
kinesis disable-enhanced-monitoring
kinesis enable-enhanced-monitoring
kinesis get-records
kinesis get-shard-iterator
kinesis help
kinesis increase-stream-retention-period
kinesis list-shards
kinesis list-stream-consumers
kinesis list-streams
kinesis list-tags-for-stream
kinesis merge-shards
kinesis put-record
kinesis put-records
kinesis register-stream-consumer
kinesis remove-tags-from-stream
kinesis split-shard
kinesis start-stream-encryption
kinesis stop-stream-encryption
kinesis update-shard-count
kinesis update-stream-mode
kinesis wait
