kms cancel-key-deletion
kms connect-custom-key-store
kms create-alias
kms create-custom-key-store
kms create-grant
kms create-key
kms decrypt
kms delete-alias
kms delete-custom-key-store
kms delete-imported-key-material
kms describe-custom-key-stores
kms describe-key
kms disable-key
kms disable-key-rotation
kms disconnect-custom-key-store
kms enable-key
kms enable-key-rotation
kms encrypt
kms generate-data-key
kms generate-data-key-pair
kms generate-data-key-pair-without-plaintext
kms generate-data-key-without-plaintext
kms generate-random
kms get-key-policy
kms get-key-rotation-status
kms get-parameters-for-import
kms get-public-key
kms help
kms import-key-material
kms list-aliases
kms list-grants
kms list-key-policies
kms list-keys
kms list-resource-tags
kms list-retirable-grants
kms put-key-policy
kms re-encrypt
kms replicate-key
kms retire-grant
kms revoke-grant
kms schedule-key-deletion
kms sign
kms tag-resource
kms untag-resource
kms update-alias
kms update-custom-key-store
kms update-key-description
kms update-primary-region
kms verify
