lakeformation add-lf-tags-to-resource
lakeformation batch-grant-permissions
lakeformation batch-revoke-permissions
lakeformation cancel-transaction
lakeformation commit-transaction
lakeformation create-data-cells-filter
lakeformation create-lf-tag
lakeformation delete-data-cells-filter
lakeformation delete-lf-tag
lakeformation delete-objects-on-cancel
lakeformation deregister-resource
lakeformation describe-resource
lakeformation describe-transaction
lakeformation extend-transaction
lakeformation get-data-lake-settings
lakeformation get-effective-permissions-for-path
lakeformation get-lf-tag
lakeformation get-query-state
lakeformation get-query-statistics
lakeformation get-resource-lf-tags
lakeformation get-table-objects
lakeformation get-temporary-glue-partition-credentials
lakeformation get-temporary-glue-table-credentials
lakeformation get-work-unit-results
lakeformation get-work-units
lakeformation grant-permissions
lakeformation help
lakeformation list-data-cells-filter
lakeformation list-lf-tags
lakeformation list-permissions
lakeformation list-resources
lakeformation list-table-storage-optimizers
lakeformation list-transactions
lakeformation put-data-lake-settings
lakeformation register-resource
lakeformation remove-lf-tags-from-resource
lakeformation revoke-permissions
lakeformation search-databases-by-lf-tags
lakeformation search-tables-by-lf-tags
lakeformation start-query-planning
lakeformation start-transaction
lakeformation update-lf-tag
lakeformation update-resource
lakeformation update-table-objects
lakeformation update-table-storage-optimizer
