lambda add-layer-version-permission
lambda add-permission
lambda create-alias
lambda create-code-signing-config
lambda create-event-source-mapping
lambda create-function
lambda delete-alias
lambda delete-code-signing-config
lambda delete-event-source-mapping
lambda delete-function
lambda delete-function-code-signing-config
lambda delete-function-concurrency
lambda delete-function-event-invoke-config
lambda delete-layer-version
lambda delete-provisioned-concurrency-config
lambda get-account-settings
lambda get-alias
lambda get-code-signing-config
lambda get-event-source-mapping
lambda get-function
lambda get-function-code-signing-config
lambda get-function-concurrency
lambda get-function-configuration
lambda get-function-event-invoke-config
lambda get-layer-version
lambda get-layer-version-by-arn
lambda get-layer-version-policy
lambda get-policy
lambda get-provisioned-concurrency-config
lambda help
lambda invoke
lambda invoke-async
lambda list-aliases
lambda list-code-signing-configs
lambda list-event-source-mappings
lambda list-function-event-invoke-configs
lambda list-functions
lambda list-functions-by-code-signing-config
lambda list-layer-versions
lambda list-layers
lambda list-provisioned-concurrency-configs
lambda list-tags
lambda list-versions-by-function
lambda publish-layer-version
lambda publish-version
lambda put-function-code-signing-config
lambda put-function-concurrency
lambda put-function-event-invoke-config
lambda put-provisioned-concurrency-config
lambda remove-layer-version-permission
lambda remove-permission
lambda tag-resource
lambda untag-resource
lambda update-alias
lambda update-code-signing-config
lambda update-event-source-mapping
lambda update-function-code
lambda update-function-configuration
lambda update-function-event-invoke-config
lambda wait
lambda wizard
