lex-models create-bot-version
lex-models create-intent-version
lex-models create-slot-type-version
lex-models delete-bot
lex-models delete-bot-alias
lex-models delete-bot-channel-association
lex-models delete-bot-version
lex-models delete-intent
lex-models delete-intent-version
lex-models delete-slot-type
lex-models delete-slot-type-version
lex-models delete-utterances
lex-models get-bot
lex-models get-bot-alias
lex-models get-bot-aliases
lex-models get-bot-channel-association
lex-models get-bot-channel-associations
lex-models get-bot-versions
lex-models get-bots
lex-models get-builtin-intent
lex-models get-builtin-intents
lex-models get-builtin-slot-types
lex-models get-export
lex-models get-import
lex-models get-intent
lex-models get-intent-versions
lex-models get-intents
lex-models get-migration
lex-models get-migrations
lex-models get-slot-type
lex-models get-slot-type-versions
lex-models get-slot-types
lex-models get-utterances-view
lex-models help
lex-models list-tags-for-resource
lex-models put-bot
lex-models put-bot-alias
lex-models put-intent
lex-models put-slot-type
lex-models start-import
lex-models start-migration
lex-models tag-resource
lex-models untag-resource
