lexv2-models build-bot-locale
lexv2-models create-bot
lexv2-models create-bot-alias
lexv2-models create-bot-locale
lexv2-models create-bot-version
lexv2-models create-export
lexv2-models create-intent
lexv2-models create-resource-policy
lexv2-models create-resource-policy-statement
lexv2-models create-slot
lexv2-models create-slot-type
lexv2-models create-upload-url
lexv2-models delete-bot
lexv2-models delete-bot-alias
lexv2-models delete-bot-locale
lexv2-models delete-bot-version
lexv2-models delete-custom-vocabulary
lexv2-models delete-export
lexv2-models delete-import
lexv2-models delete-intent
lexv2-models delete-resource-policy
lexv2-models delete-resource-policy-statement
lexv2-models delete-slot
lexv2-models delete-slot-type
lexv2-models delete-utterances
lexv2-models describe-bot
lexv2-models describe-bot-alias
lexv2-models describe-bot-locale
lexv2-models describe-bot-recommendation
lexv2-models describe-bot-version
lexv2-models describe-custom-vocabulary-metadata
lexv2-models describe-export
lexv2-models describe-import
lexv2-models describe-intent
lexv2-models describe-resource-policy
lexv2-models describe-slot
lexv2-models describe-slot-type
lexv2-models help
lexv2-models list-aggregated-utterances
lexv2-models list-bot-aliases
lexv2-models list-bot-locales
lexv2-models list-bot-recommendations
lexv2-models list-bot-versions
lexv2-models list-bots
lexv2-models list-built-in-intents
lexv2-models list-built-in-slot-types
lexv2-models list-exports
lexv2-models list-imports
lexv2-models list-intents
lexv2-models list-recommended-intents
lexv2-models list-slot-types
lexv2-models list-slots
lexv2-models list-tags-for-resource
lexv2-models search-associated-transcripts
lexv2-models start-bot-recommendation
lexv2-models start-import
lexv2-models tag-resource
lexv2-models untag-resource
lexv2-models update-bot
lexv2-models update-bot-alias
lexv2-models update-bot-locale
lexv2-models update-bot-recommendation
lexv2-models update-export
lexv2-models update-intent
lexv2-models update-resource-policy
lexv2-models update-slot
lexv2-models update-slot-type
lexv2-models wait
