license-manager accept-grant
license-manager check-in-license
license-manager checkout-borrow-license
license-manager checkout-license
license-manager create-grant
license-manager create-grant-version
license-manager create-license
license-manager create-license-configuration
license-manager create-license-conversion-task-for-resource
license-manager create-license-manager-report-generator
license-manager create-license-version
license-manager create-token
license-manager delete-grant
license-manager delete-license
license-manager delete-license-configuration
license-manager delete-license-manager-report-generator
license-manager delete-token
license-manager extend-license-consumption
license-manager get-access-token
license-manager get-grant
license-manager get-license
license-manager get-license-configuration
license-manager get-license-conversion-task
license-manager get-license-manager-report-generator
license-manager get-license-usage
license-manager get-service-settings
license-manager help
license-manager list-associations-for-license-configuration
license-manager list-distributed-grants
license-manager list-failures-for-license-configuration-operations
license-manager list-license-configurations
license-manager list-license-conversion-tasks
license-manager list-license-manager-report-generators
license-manager list-license-specifications-for-resource
license-manager list-license-versions
license-manager list-licenses
license-manager list-received-grants
license-manager list-received-licenses
license-manager list-resource-inventory
license-manager list-tags-for-resource
license-manager list-tokens
license-manager list-usage-for-license-configuration
license-manager reject-grant
license-manager tag-resource
license-manager untag-resource
license-manager update-license-configuration
license-manager update-license-manager-report-generator
license-manager update-license-specifications-for-resource
license-manager update-service-settings
