location associate-tracker-consumer
location batch-delete-device-position-history
location batch-delete-geofence
location batch-evaluate-geofences
location batch-get-device-position
location batch-put-geofence
location batch-update-device-position
location calculate-route
location calculate-route-matrix
location create-geofence-collection
location create-map
location create-place-index
location create-route-calculator
location create-tracker
location delete-geofence-collection
location delete-map
location delete-place-index
location delete-route-calculator
location delete-tracker
location describe-geofence-collection
location describe-map
location describe-place-index
location describe-route-calculator
location describe-tracker
location disassociate-tracker-consumer
location get-device-position
location get-device-position-history
location get-geofence
location get-map-glyphs
location get-map-sprites
location get-map-style-descriptor
location get-map-tile
location help
location list-device-positions
location list-geofence-collections
location list-geofences
location list-maps
location list-place-indexes
location list-route-calculators
location list-tags-for-resource
location list-tracker-consumers
location list-trackers
location put-geofence
location search-place-index-for-position
location search-place-index-for-suggestions
location search-place-index-for-text
location tag-resource
location untag-resource
location update-geofence-collection
location update-map
location update-place-index
location update-route-calculator
location update-tracker
