logs associate-kms-key
logs cancel-export-task
logs create-export-task
logs create-log-group
logs create-log-stream
logs delete-destination
logs delete-log-group
logs delete-log-stream
logs delete-metric-filter
logs delete-query-definition
logs delete-resource-policy
logs delete-retention-policy
logs delete-subscription-filter
logs describe-destinations
logs describe-export-tasks
logs describe-log-groups
logs describe-log-streams
logs describe-metric-filters
logs describe-queries
logs describe-query-definitions
logs describe-resource-policies
logs describe-subscription-filters
logs disassociate-kms-key
logs filter-log-events
logs get-log-events
logs get-log-group-fields
logs get-log-record
logs get-query-results
logs help
logs list-tags-log-group
logs put-destination
logs put-destination-policy
logs put-log-events
logs put-metric-filter
logs put-query-definition
logs put-resource-policy
logs put-retention-policy
logs put-subscription-filter
logs start-query
logs stop-query
logs tag-log-group
logs tail
logs test-metric-filter
logs untag-log-group
