lookoutequipment create-dataset
lookoutequipment create-inference-scheduler
lookoutequipment create-model
lookoutequipment delete-dataset
lookoutequipment delete-inference-scheduler
lookoutequipment delete-model
lookoutequipment describe-data-ingestion-job
lookoutequipment describe-dataset
lookoutequipment describe-inference-scheduler
lookoutequipment describe-model
lookoutequipment help
lookoutequipment list-data-ingestion-jobs
lookoutequipment list-datasets
lookoutequipment list-inference-executions
lookoutequipment list-inference-schedulers
lookoutequipment list-models
lookoutequipment list-tags-for-resource
lookoutequipment start-data-ingestion-job
lookoutequipment start-inference-scheduler
lookoutequipment stop-inference-scheduler
lookoutequipment tag-resource
lookoutequipment untag-resource
lookoutequipment update-inference-scheduler
