lookoutmetrics activate-anomaly-detector
lookoutmetrics back-test-anomaly-detector
lookoutmetrics create-alert
lookoutmetrics create-anomaly-detector
lookoutmetrics create-metric-set
lookoutmetrics deactivate-anomaly-detector
lookoutmetrics delete-alert
lookoutmetrics delete-anomaly-detector
lookoutmetrics describe-alert
lookoutmetrics describe-anomaly-detection-executions
lookoutmetrics describe-anomaly-detector
lookoutmetrics describe-metric-set
lookoutmetrics get-anomaly-group
lookoutmetrics get-feedback
lookoutmetrics get-sample-data
lookoutmetrics help
lookoutmetrics list-alerts
lookoutmetrics list-anomaly-detectors
lookoutmetrics list-anomaly-group-related-metrics
lookoutmetrics list-anomaly-group-summaries
lookoutmetrics list-anomaly-group-time-series
lookoutmetrics list-metric-sets
lookoutmetrics list-tags-for-resource
lookoutmetrics put-feedback
lookoutmetrics tag-resource
lookoutmetrics untag-resource
lookoutmetrics update-anomaly-detector
lookoutmetrics update-metric-set
