machinelearning add-tags
machinelearning create-batch-prediction
machinelearning create-data-source-from-rds
machinelearning create-data-source-from-redshift
machinelearning create-data-source-from-s3
machinelearning create-evaluation
machinelearning create-ml-model
machinelearning create-realtime-endpoint
machinelearning delete-batch-prediction
machinelearning delete-data-source
machinelearning delete-evaluation
machinelearning delete-ml-model
machinelearning delete-realtime-endpoint
machinelearning delete-tags
machinelearning describe-batch-predictions
machinelearning describe-data-sources
machinelearning describe-evaluations
machinelearning describe-ml-models
machinelearning describe-tags
machinelearning get-batch-prediction
machinelearning get-data-source
machinelearning get-evaluation
machinelearning get-ml-model
machinelearning help
machinelearning predict
machinelearning update-batch-prediction
machinelearning update-data-source
machinelearning update-evaluation
machinelearning update-ml-model
machinelearning wait
