mediastore create-container
mediastore delete-container
mediastore delete-container-policy
mediastore delete-cors-policy
mediastore delete-lifecycle-policy
mediastore delete-metric-policy
mediastore describe-container
mediastore get-container-policy
mediastore get-cors-policy
mediastore get-lifecycle-policy
mediastore get-metric-policy
mediastore help
mediastore list-containers
mediastore list-tags-for-resource
mediastore put-container-policy
mediastore put-cors-policy
mediastore put-lifecycle-policy
mediastore put-metric-policy
mediastore start-access-logging
mediastore stop-access-logging
mediastore tag-resource
mediastore untag-resource
