mediapackage configure-logs
mediapackage create-channel
mediapackage create-harvest-job
mediapackage create-origin-endpoint
mediapackage delete-channel
mediapackage delete-origin-endpoint
mediapackage describe-channel
mediapackage describe-harvest-job
mediapackage describe-origin-endpoint
mediapackage help
mediapackage list-channels
mediapackage list-harvest-jobs
mediapackage list-origin-endpoints
mediapackage list-tags-for-resource
mediapackage rotate-channel-credentials
mediapackage rotate-ingest-endpoint-credentials
mediapackage tag-resource
mediapackage untag-resource
mediapackage update-channel
mediapackage update-origin-endpoint
