medialive accept-input-device-transfer
medialive batch-delete
medialive batch-start
medialive batch-stop
medialive batch-update-schedule
medialive cancel-input-device-transfer
medialive claim-device
medialive create-channel
medialive create-input
medialive create-input-security-group
medialive create-multiplex
medialive create-multiplex-program
medialive create-partner-input
medialive create-tags
medialive delete-channel
medialive delete-input
medialive delete-input-security-group
medialive delete-multiplex
medialive delete-multiplex-program
medialive delete-reservation
medialive delete-schedule
medialive delete-tags
medialive describe-channel
medialive describe-input
medialive describe-input-device
medialive describe-input-device-thumbnail
medialive describe-input-security-group
medialive describe-multiplex
medialive describe-multiplex-program
medialive describe-offering
medialive describe-reservation
medialive describe-schedule
medialive help
medialive list-channels
medialive list-input-device-transfers
medialive list-input-devices
medialive list-input-security-groups
medialive list-inputs
medialive list-multiplex-programs
medialive list-multiplexes
medialive list-offerings
medialive list-reservations
medialive list-tags-for-resource
medialive purchase-offering
medialive reject-input-device-transfer
medialive start-channel
medialive start-multiplex
medialive stop-channel
medialive stop-multiplex
medialive transfer-input-device
medialive update-channel
medialive update-channel-class
medialive update-input
medialive update-input-device
medialive update-input-security-group
medialive update-multiplex
medialive update-multiplex-program
medialive update-reservation
medialive wait
