mediapackage-vod configure-logs
mediapackage-vod create-asset
mediapackage-vod create-packaging-configuration
mediapackage-vod create-packaging-group
mediapackage-vod delete-asset
mediapackage-vod delete-packaging-configuration
mediapackage-vod delete-packaging-group
mediapackage-vod describe-asset
mediapackage-vod describe-packaging-configuration
mediapackage-vod describe-packaging-group
mediapackage-vod help
mediapackage-vod list-assets
mediapackage-vod list-packaging-configurations
mediapackage-vod list-packaging-groups
mediapackage-vod list-tags-for-resource
mediapackage-vod tag-resource
mediapackage-vod untag-resource
mediapackage-vod update-packaging-group
