mediatailor configure-logs-for-playback-configuration
mediatailor create-channel
mediatailor create-prefetch-schedule
mediatailor create-program
mediatailor create-source-location
mediatailor create-vod-source
mediatailor delete-channel
mediatailor delete-channel-policy
mediatailor delete-playback-configuration
mediatailor delete-prefetch-schedule
mediatailor delete-program
mediatailor delete-source-location
mediatailor delete-vod-source
mediatailor describe-channel
mediatailor describe-program
mediatailor describe-source-location
mediatailor describe-vod-source
mediatailor get-channel-policy
mediatailor get-channel-schedule
mediatailor get-playback-configuration
mediatailor get-prefetch-schedule
mediatailor help
mediatailor list-alerts
mediatailor list-channels
mediatailor list-playback-configurations
mediatailor list-prefetch-schedules
mediatailor list-source-locations
mediatailor list-tags-for-resource
mediatailor list-vod-sources
mediatailor put-channel-policy
mediatailor put-playback-configuration
mediatailor start-channel
mediatailor stop-channel
mediatailor tag-resource
mediatailor untag-resource
mediatailor update-channel
mediatailor update-source-location
mediatailor update-vod-source
