memorydb batch-update-cluster
memorydb copy-snapshot
memorydb create-acl
memorydb create-cluster
memorydb create-parameter-group
memorydb create-snapshot
memorydb create-subnet-group
memorydb create-user
memorydb delete-acl
memorydb delete-cluster
memorydb delete-parameter-group
memorydb delete-snapshot
memorydb delete-subnet-group
memorydb delete-user
memorydb describe-acls
memorydb describe-clusters
memorydb describe-engine-versions
memorydb describe-events
memorydb describe-parameter-groups
memorydb describe-parameters
memorydb describe-service-updates
memorydb describe-snapshots
memorydb describe-subnet-groups
memorydb describe-users
memorydb failover-shard
memorydb help
memorydb list-allowed-node-type-updates
memorydb list-tags
memorydb reset-parameter-group
memorydb tag-resource
memorydb untag-resource
memorydb update-acl
memorydb update-cluster
memorydb update-parameter-group
memorydb update-subnet-group
memorydb update-user
