mgh associate-created-artifact
mgh associate-discovered-resource
mgh create-progress-update-stream
mgh delete-progress-update-stream
mgh describe-application-state
mgh describe-migration-task
mgh disassociate-created-artifact
mgh disassociate-discovered-resource
mgh help
mgh import-migration-task
mgh list-application-states
mgh list-created-artifacts
mgh list-discovered-resources
mgh list-migration-tasks
mgh list-progress-update-streams
mgh notify-application-state
mgh notify-migration-task-state
mgh put-resource-attributes
