mgn change-server-life-cycle-state
mgn create-replication-configuration-template
mgn delete-job
mgn delete-replication-configuration-template
mgn delete-source-server
mgn delete-vcenter-client
mgn describe-job-log-items
mgn describe-jobs
mgn describe-replication-configuration-templates
mgn describe-source-servers
mgn describe-vcenter-clients
mgn disconnect-from-service
mgn finalize-cutover
mgn get-launch-configuration
mgn get-replication-configuration
mgn help
mgn initialize-service
mgn list-tags-for-resource
mgn mark-as-archived
mgn retry-data-replication
mgn start-cutover
mgn start-replication
mgn start-test
mgn tag-resource
mgn terminate-target-instances
mgn untag-resource
mgn update-launch-configuration
mgn update-replication-configuration
mgn update-replication-configuration-template
mgn update-source-server-replication-type
