migration-hub-refactor-spaces create-application
migration-hub-refactor-spaces create-environment
migration-hub-refactor-spaces create-route
migration-hub-refactor-spaces create-service
migration-hub-refactor-spaces delete-application
migration-hub-refactor-spaces delete-environment
migration-hub-refactor-spaces delete-resource-policy
migration-hub-refactor-spaces delete-route
migration-hub-refactor-spaces delete-service
migration-hub-refactor-spaces get-application
migration-hub-refactor-spaces get-environment
migration-hub-refactor-spaces get-resource-policy
migration-hub-refactor-spaces get-route
migration-hub-refactor-spaces get-service
migration-hub-refactor-spaces help
migration-hub-refactor-spaces list-applications
migration-hub-refactor-spaces list-environment-vpcs
migration-hub-refactor-spaces list-environments
migration-hub-refactor-spaces list-routes
migration-hub-refactor-spaces list-services
migration-hub-refactor-spaces list-tags-for-resource
migration-hub-refactor-spaces put-resource-policy
migration-hub-refactor-spaces tag-resource
migration-hub-refactor-spaces untag-resource
