migrationhubstrategy get-application-component-details
migrationhubstrategy get-application-component-strategies
migrationhubstrategy get-assessment
migrationhubstrategy get-import-file-task
migrationhubstrategy get-portfolio-preferences
migrationhubstrategy get-portfolio-summary
migrationhubstrategy get-recommendation-report-details
migrationhubstrategy get-server-details
migrationhubstrategy get-server-strategies
migrationhubstrategy help
migrationhubstrategy list-application-components
migrationhubstrategy list-collectors
migrationhubstrategy list-import-file-task
migrationhubstrategy list-servers
migrationhubstrategy put-portfolio-preferences
migrationhubstrategy start-assessment
migrationhubstrategy start-import-file-task
migrationhubstrategy start-recommendation-report-generation
migrationhubstrategy stop-assessment
migrationhubstrategy update-application-component-config
migrationhubstrategy update-server-config
