mq create-broker
mq create-configuration
mq create-tags
mq create-user
mq delete-broker
mq delete-tags
mq delete-user
mq describe-broker
mq describe-broker-engine-types
mq describe-broker-instance-options
mq describe-configuration
mq describe-configuration-revision
mq describe-user
mq help
mq list-brokers
mq list-configuration-revisions
mq list-configurations
mq list-tags
mq list-users
mq reboot-broker
mq update-broker
mq update-configuration
mq update-user
