network-firewall associate-firewall-policy
network-firewall associate-subnets
network-firewall create-firewall
network-firewall create-firewall-policy
network-firewall create-rule-group
network-firewall delete-firewall
network-firewall delete-firewall-policy
network-firewall delete-resource-policy
network-firewall delete-rule-group
network-firewall describe-firewall
network-firewall describe-firewall-policy
network-firewall describe-logging-configuration
network-firewall describe-resource-policy
network-firewall describe-rule-group
network-firewall describe-rule-group-metadata
network-firewall disassociate-subnets
network-firewall help
network-firewall list-firewall-policies
network-firewall list-firewalls
network-firewall list-rule-groups
network-firewall list-tags-for-resource
network-firewall put-resource-policy
network-firewall tag-resource
network-firewall untag-resource
network-firewall update-firewall-delete-protection
network-firewall update-firewall-description
network-firewall update-firewall-policy
network-firewall update-firewall-policy-change-protection
network-firewall update-logging-configuration
network-firewall update-rule-group
network-firewall update-subnet-change-protection
