nimble accept-eulas
nimble create-launch-profile
nimble create-streaming-image
nimble create-streaming-session
nimble create-streaming-session-stream
nimble create-studio
nimble create-studio-component
nimble delete-launch-profile
nimble delete-launch-profile-member
nimble delete-streaming-image
nimble delete-streaming-session
nimble delete-studio
nimble delete-studio-component
nimble delete-studio-member
nimble get-eula
nimble get-launch-profile
nimble get-launch-profile-details
nimble get-launch-profile-initialization
nimble get-launch-profile-member
nimble get-streaming-image
nimble get-streaming-session
nimble get-streaming-session-stream
nimble get-studio
nimble get-studio-component
nimble get-studio-member
nimble help
nimble list-eula-acceptances
nimble list-eulas
nimble list-launch-profile-members
nimble list-launch-profiles
nimble list-streaming-images
nimble list-streaming-sessions
nimble list-studio-components
nimble list-studio-members
nimble list-studios
nimble list-tags-for-resource
nimble put-launch-profile-members
nimble put-studio-members
nimble start-streaming-session
nimble start-studio-sso-configuration-repair
nimble stop-streaming-session
nimble tag-resource
nimble untag-resource
nimble update-launch-profile
nimble update-launch-profile-member
nimble update-streaming-image
nimble update-studio
nimble update-studio-component
nimble wait
