opsworkscm associate-node
opsworkscm create-backup
opsworkscm create-server
opsworkscm delete-backup
opsworkscm delete-server
opsworkscm describe-account-attributes
opsworkscm describe-backups
opsworkscm describe-events
opsworkscm describe-node-association-status
opsworkscm describe-servers
opsworkscm disassociate-node
opsworkscm export-server-engine-attribute
opsworkscm help
opsworkscm list-tags-for-resource
opsworkscm restore-server
opsworkscm start-maintenance
opsworkscm tag-resource
opsworkscm untag-resource
opsworkscm update-server
opsworkscm update-server-engine-attributes
opsworkscm wait
