opsworks-cm associate-node
opsworks-cm create-backup
opsworks-cm create-server
opsworks-cm delete-backup
opsworks-cm delete-server
opsworks-cm describe-account-attributes
opsworks-cm describe-backups
opsworks-cm describe-events
opsworks-cm describe-node-association-status
opsworks-cm describe-servers
opsworks-cm disassociate-node
opsworks-cm export-server-engine-attribute
opsworks-cm help
opsworks-cm list-tags-for-resource
opsworks-cm restore-server
opsworks-cm start-maintenance
opsworks-cm tag-resource
opsworks-cm untag-resource
opsworks-cm update-server
opsworks-cm update-server-engine-attributes
opsworks-cm wait
