organizations accept-handshake
organizations attach-policy
organizations cancel-handshake
organizations create-account
organizations create-gov-cloud-account
organizations create-organization
organizations create-organizational-unit
organizations create-policy
organizations decline-handshake
organizations delete-organization
organizations delete-organizational-unit
organizations delete-policy
organizations deregister-delegated-administrator
organizations describe-account
organizations describe-create-account-status
organizations describe-effective-policy
organizations describe-handshake
organizations describe-organization
organizations describe-organizational-unit
organizations describe-policy
organizations detach-policy
organizations disable-aws-service-access
organizations disable-policy-type
organizations enable-all-features
organizations enable-aws-service-access
organizations enable-policy-type
organizations help
organizations invite-account-to-organization
organizations leave-organization
organizations list-accounts
organizations list-accounts-for-parent
organizations list-aws-service-access-for-organization
organizations list-children
organizations list-create-account-status
organizations list-delegated-administrators
organizations list-delegated-services-for-account
organizations list-handshakes-for-account
organizations list-handshakes-for-organization
organizations list-organizational-units-for-parent
organizations list-parents
organizations list-policies
organizations list-policies-for-target
organizations list-roots
organizations list-tags-for-resource
organizations list-targets-for-policy
organizations move-account
organizations register-delegated-administrator
organizations remove-account-from-organization
organizations tag-resource
organizations untag-resource
organizations update-organizational-unit
organizations update-policy
