outposts cancel-order
outposts create-order
outposts create-outpost
outposts create-site
outposts delete-outpost
outposts delete-site
outposts get-catalog-item
outposts get-order
outposts get-outpost
outposts get-outpost-instance-types
outposts get-site
outposts get-site-address
outposts help
outposts list-catalog-items
outposts list-orders
outposts list-outposts
outposts list-sites
outposts list-tags-for-resource
outposts tag-resource
outposts untag-resource
outposts update-outpost
outposts update-site
outposts update-site-address
outposts update-site-rack-physical-properties
