personalize create-batch-inference-job
personalize create-batch-segment-job
personalize create-campaign
personalize create-dataset
personalize create-dataset-export-job
personalize create-dataset-group
personalize create-dataset-import-job
personalize create-event-tracker
personalize create-filter
personalize create-recommender
personalize create-schema
personalize create-solution
personalize create-solution-version
personalize delete-campaign
personalize delete-dataset
personalize delete-dataset-group
personalize delete-event-tracker
personalize delete-filter
personalize delete-recommender
personalize delete-schema
personalize delete-solution
personalize describe-algorithm
personalize describe-batch-inference-job
personalize describe-batch-segment-job
personalize describe-campaign
personalize describe-dataset
personalize describe-dataset-export-job
personalize describe-dataset-group
personalize describe-dataset-import-job
personalize describe-event-tracker
personalize describe-feature-transformation
personalize describe-filter
personalize describe-recipe
personalize describe-recommender
personalize describe-schema
personalize describe-solution
personalize describe-solution-version
personalize get-solution-metrics
personalize help
personalize list-batch-inference-jobs
personalize list-batch-segment-jobs
personalize list-campaigns
personalize list-dataset-export-jobs
personalize list-dataset-groups
personalize list-dataset-import-jobs
personalize list-datasets
personalize list-event-trackers
personalize list-filters
personalize list-recipes
personalize list-recommenders
personalize list-schemas
personalize list-solution-versions
personalize list-solutions
personalize stop-solution-version-creation
personalize update-campaign
personalize update-recommender
