pinpoint create-app
pinpoint create-campaign
pinpoint create-email-template
pinpoint create-export-job
pinpoint create-import-job
pinpoint create-in-app-template
pinpoint create-journey
pinpoint create-push-template
pinpoint create-recommender-configuration
pinpoint create-segment
pinpoint create-sms-template
pinpoint create-voice-template
pinpoint delete-adm-channel
pinpoint delete-apns-channel
pinpoint delete-apns-sandbox-channel
pinpoint delete-apns-voip-channel
pinpoint delete-apns-voip-sandbox-channel
pinpoint delete-app
pinpoint delete-baidu-channel
pinpoint delete-campaign
pinpoint delete-email-channel
pinpoint delete-email-template
pinpoint delete-endpoint
pinpoint delete-event-stream
pinpoint delete-gcm-channel
pinpoint delete-in-app-template
pinpoint delete-journey
pinpoint delete-push-template
pinpoint delete-recommender-configuration
pinpoint delete-segment
pinpoint delete-sms-channel
pinpoint delete-sms-template
pinpoint delete-user-endpoints
pinpoint delete-voice-channel
pinpoint delete-voice-template
pinpoint get-adm-channel
pinpoint get-apns-channel
pinpoint get-apns-sandbox-channel
pinpoint get-apns-voip-channel
pinpoint get-apns-voip-sandbox-channel
pinpoint get-app
pinpoint get-application-date-range-kpi
pinpoint get-application-settings
pinpoint get-apps
pinpoint get-baidu-channel
pinpoint get-campaign
pinpoint get-campaign-activities
pinpoint get-campaign-date-range-kpi
pinpoint get-campaign-version
pinpoint get-campaign-versions
pinpoint get-campaigns
pinpoint get-channels
pinpoint get-email-channel
pinpoint get-email-template
pinpoint get-endpoint
pinpoint get-event-stream
pinpoint get-export-job
pinpoint get-export-jobs
pinpoint get-gcm-channel
pinpoint get-import-job
pinpoint get-import-jobs
pinpoint get-in-app-messages
pinpoint get-in-app-template
pinpoint get-journey
pinpoint get-journey-date-range-kpi
pinpoint get-journey-execution-activity-metrics
pinpoint get-journey-execution-metrics
pinpoint get-push-template
pinpoint get-recommender-configuration
pinpoint get-recommender-configurations
pinpoint get-segment
pinpoint get-segment-export-jobs
pinpoint get-segment-import-jobs
pinpoint get-segment-version
pinpoint get-segment-versions
pinpoint get-segments
pinpoint get-sms-channel
pinpoint get-sms-template
pinpoint get-user-endpoints
pinpoint get-voice-channel
pinpoint get-voice-template
pinpoint help
pinpoint list-journeys
pinpoint list-tags-for-resource
pinpoint list-template-versions
pinpoint list-templates
pinpoint phone-number-validate
pinpoint put-event-stream
pinpoint put-events
pinpoint remove-attributes
pinpoint send-messages
pinpoint send-otp-message
pinpoint send-users-messages
pinpoint tag-resource
pinpoint untag-resource
pinpoint update-adm-channel
pinpoint update-apns-channel
pinpoint update-apns-sandbox-channel
pinpoint update-apns-voip-channel
pinpoint update-apns-voip-sandbox-channel
pinpoint update-application-settings
pinpoint update-baidu-channel
pinpoint update-campaign
pinpoint update-email-channel
pinpoint update-email-template
pinpoint update-endpoint
pinpoint update-endpoints-batch
pinpoint update-gcm-channel
pinpoint update-in-app-template
pinpoint update-journey
pinpoint update-journey-state
pinpoint update-push-template
pinpoint update-recommender-configuration
pinpoint update-segment
pinpoint update-sms-channel
pinpoint update-sms-template
pinpoint update-template-active-version
pinpoint update-voice-channel
pinpoint update-voice-template
pinpoint verify-otp-message
