pinpoint-email create-configuration-set
pinpoint-email create-configuration-set-event-destination
pinpoint-email create-dedicated-ip-pool
pinpoint-email create-deliverability-test-report
pinpoint-email create-email-identity
pinpoint-email delete-configuration-set
pinpoint-email delete-configuration-set-event-destination
pinpoint-email delete-dedicated-ip-pool
pinpoint-email delete-email-identity
pinpoint-email get-account
pinpoint-email get-blacklist-reports
pinpoint-email get-configuration-set
pinpoint-email get-configuration-set-event-destinations
pinpoint-email get-dedicated-ip
pinpoint-email get-dedicated-ips
pinpoint-email get-deliverability-dashboard-options
pinpoint-email get-deliverability-test-report
pinpoint-email get-domain-deliverability-campaign
pinpoint-email get-domain-statistics-report
pinpoint-email get-email-identity
pinpoint-email help
pinpoint-email list-configuration-sets
pinpoint-email list-dedicated-ip-pools
pinpoint-email list-deliverability-test-reports
pinpoint-email list-domain-deliverability-campaigns
pinpoint-email list-email-identities
pinpoint-email list-tags-for-resource
pinpoint-email put-account-dedicated-ip-warmup-attributes
pinpoint-email put-account-sending-attributes
pinpoint-email put-configuration-set-delivery-options
pinpoint-email put-configuration-set-reputation-options
pinpoint-email put-configuration-set-sending-options
pinpoint-email put-configuration-set-tracking-options
pinpoint-email put-dedicated-ip-in-pool
pinpoint-email put-dedicated-ip-warmup-attributes
pinpoint-email put-deliverability-dashboard-option
pinpoint-email put-email-identity-dkim-attributes
pinpoint-email put-email-identity-feedback-attributes
pinpoint-email put-email-identity-mail-from-attributes
pinpoint-email send-email
pinpoint-email tag-resource
pinpoint-email untag-resource
pinpoint-email update-configuration-set-event-destination
