quicksight cancel-ingestion
quicksight create-account-customization
quicksight create-analysis
quicksight create-dashboard
quicksight create-data-set
quicksight create-data-source
quicksight create-folder
quicksight create-folder-membership
quicksight create-group
quicksight create-group-membership
quicksight create-iam-policy-assignment
quicksight create-ingestion
quicksight create-namespace
quicksight create-template
quicksight create-template-alias
quicksight create-theme
quicksight create-theme-alias
quicksight delete-account-customization
quicksight delete-analysis
quicksight delete-dashboard
quicksight delete-data-set
quicksight delete-data-source
quicksight delete-folder
quicksight delete-folder-membership
quicksight delete-group
quicksight delete-group-membership
quicksight delete-iam-policy-assignment
quicksight delete-namespace
quicksight delete-template
quicksight delete-template-alias
quicksight delete-theme
quicksight delete-theme-alias
quicksight delete-user
quicksight delete-user-by-principal-id
quicksight describe-account-customization
quicksight describe-account-settings
quicksight describe-analysis
quicksight describe-analysis-permissions
quicksight describe-dashboard
quicksight describe-dashboard-permissions
quicksight describe-data-set
quicksight describe-data-set-permissions
quicksight describe-data-source
quicksight describe-data-source-permissions
quicksight describe-folder
quicksight describe-folder-permissions
quicksight describe-folder-resolved-permissions
quicksight describe-group
quicksight describe-iam-policy-assignment
quicksight describe-ingestion
quicksight describe-ip-restriction
quicksight describe-namespace
quicksight describe-template
quicksight describe-template-alias
quicksight describe-template-permissions
quicksight describe-theme
quicksight describe-theme-alias
quicksight describe-theme-permissions
quicksight describe-user
quicksight generate-embed-url-for-anonymous-user
quicksight generate-embed-url-for-registered-user
quicksight get-dashboard-embed-url
quicksight get-session-embed-url
quicksight help
quicksight list-analyses
quicksight list-dashboard-versions
quicksight list-dashboards
quicksight list-data-sets
quicksight list-data-sources
quicksight list-folder-members
quicksight list-folders
quicksight list-group-memberships
quicksight list-groups
quicksight list-iam-policy-assignments
quicksight list-iam-policy-assignments-for-user
quicksight list-ingestions
quicksight list-namespaces
quicksight list-tags-for-resource
quicksight list-template-aliases
quicksight list-template-versions
quicksight list-templates
quicksight list-theme-aliases
quicksight list-theme-versions
quicksight list-themes
quicksight list-user-groups
quicksight list-users
quicksight register-user
quicksight restore-analysis
quicksight search-analyses
quicksight search-dashboards
quicksight search-folders
quicksight tag-resource
quicksight untag-resource
quicksight update-account-customization
quicksight update-account-settings
quicksight update-analysis
quicksight update-analysis-permissions
quicksight update-dashboard
quicksight update-dashboard-permissions
quicksight update-dashboard-published-version
quicksight update-data-set
quicksight update-data-set-permissions
quicksight update-data-source
quicksight update-data-source-permissions
quicksight update-folder
quicksight update-folder-permissions
quicksight update-group
quicksight update-iam-policy-assignment
quicksight update-ip-restriction
quicksight update-template
quicksight update-template-alias
quicksight update-template-permissions
quicksight update-theme
quicksight update-theme-alias
quicksight update-theme-permissions
quicksight update-user
