ram accept-resource-share-invitation
ram associate-resource-share
ram associate-resource-share-permission
ram create-resource-share
ram delete-resource-share
ram disassociate-resource-share
ram disassociate-resource-share-permission
ram enable-sharing-with-aws-organization
ram get-permission
ram get-resource-policies
ram get-resource-share-associations
ram get-resource-share-invitations
ram get-resource-shares
ram help
ram list-pending-invitation-resources
ram list-permission-versions
ram list-permissions
ram list-principals
ram list-resource-share-permissions
ram list-resource-types
ram list-resources
ram promote-resource-share-created-from-policy
ram reject-resource-share-invitation
ram tag-resource
ram untag-resource
ram update-resource-share
