rekognition compare-faces
rekognition create-collection
rekognition create-dataset
rekognition create-project
rekognition create-project-version
rekognition create-stream-processor
rekognition delete-collection
rekognition delete-dataset
rekognition delete-faces
rekognition delete-project
rekognition delete-project-version
rekognition delete-stream-processor
rekognition describe-collection
rekognition describe-dataset
rekognition describe-project-versions
rekognition describe-projects
rekognition describe-stream-processor
rekognition detect-custom-labels
rekognition detect-faces
rekognition detect-labels
rekognition detect-moderation-labels
rekognition detect-protective-equipment
rekognition detect-text
rekognition distribute-dataset-entries
rekognition get-celebrity-info
rekognition get-celebrity-recognition
rekognition get-content-moderation
rekognition get-face-detection
rekognition get-face-search
rekognition get-label-detection
rekognition get-person-tracking
rekognition get-segment-detection
rekognition get-text-detection
rekognition help
rekognition index-faces
rekognition list-collections
rekognition list-dataset-entries
rekognition list-dataset-labels
rekognition list-faces
rekognition list-stream-processors
rekognition list-tags-for-resource
rekognition recognize-celebrities
rekognition search-faces
rekognition search-faces-by-image
rekognition start-celebrity-recognition
rekognition start-content-moderation
rekognition start-face-detection
rekognition start-face-search
rekognition start-label-detection
rekognition start-person-tracking
rekognition start-project-version
rekognition start-segment-detection
rekognition start-stream-processor
rekognition start-text-detection
rekognition stop-project-version
rekognition stop-stream-processor
rekognition tag-resource
rekognition untag-resource
rekognition update-dataset-entries
rekognition wait
