resourcegroupstaggingapi describe-report-creation
resourcegroupstaggingapi get-compliance-summary
resourcegroupstaggingapi get-resources
resourcegroupstaggingapi get-tag-keys
resourcegroupstaggingapi get-tag-values
resourcegroupstaggingapi help
resourcegroupstaggingapi start-report-creation
resourcegroupstaggingapi tag-resources
resourcegroupstaggingapi untag-resources
