route53 activate-key-signing-key
route53 associate-vpc-with-hosted-zone
route53 change-resource-record-sets
route53 change-tags-for-resource
route53 create-health-check
route53 create-hosted-zone
route53 create-key-signing-key
route53 create-query-logging-config
route53 create-reusable-delegation-set
route53 create-traffic-policy
route53 create-traffic-policy-instance
route53 create-traffic-policy-version
route53 create-vpc-association-authorization
route53 deactivate-key-signing-key
route53 delete-health-check
route53 delete-hosted-zone
route53 delete-key-signing-key
route53 delete-query-logging-config
route53 delete-reusable-delegation-set
route53 delete-traffic-policy
route53 delete-traffic-policy-instance
route53 delete-vpc-association-authorization
route53 disable-hosted-zone-dnssec
route53 disassociate-vpc-from-hosted-zone
route53 enable-hosted-zone-dnssec
route53 get-account-limit
route53 get-change
route53 get-checker-ip-ranges
route53 get-dnssec
route53 get-geo-location
route53 get-health-check
route53 get-health-check-count
route53 get-health-check-last-failure-reason
route53 get-health-check-status
route53 get-hosted-zone
route53 get-hosted-zone-count
route53 get-hosted-zone-limit
route53 get-query-logging-config
route53 get-reusable-delegation-set
route53 get-reusable-delegation-set-limit
route53 get-traffic-policy
route53 get-traffic-policy-instance
route53 get-traffic-policy-instance-count
route53 help
route53 list-geo-locations
route53 list-health-checks
route53 list-hosted-zones
route53 list-hosted-zones-by-name
route53 list-hosted-zones-by-vpc
route53 list-query-logging-configs
route53 list-resource-record-sets
route53 list-reusable-delegation-sets
route53 list-tags-for-resource
route53 list-tags-for-resources
route53 list-traffic-policies
route53 list-traffic-policy-instances
route53 list-traffic-policy-instances-by-hosted-zone
route53 list-traffic-policy-instances-by-policy
route53 list-traffic-policy-versions
route53 list-vpc-association-authorizations
route53 test-dns-answer
route53 update-health-check
route53 update-hosted-zone-comment
route53 update-traffic-policy-comment
route53 update-traffic-policy-instance
route53 wait
