route53-recovery-control-config create-cluster
route53-recovery-control-config create-control-panel
route53-recovery-control-config create-routing-control
route53-recovery-control-config create-safety-rule
route53-recovery-control-config delete-cluster
route53-recovery-control-config delete-control-panel
route53-recovery-control-config delete-routing-control
route53-recovery-control-config delete-safety-rule
route53-recovery-control-config describe-cluster
route53-recovery-control-config describe-control-panel
route53-recovery-control-config describe-routing-control
route53-recovery-control-config describe-safety-rule
route53-recovery-control-config help
route53-recovery-control-config list-associated-route53-health-checks
route53-recovery-control-config list-clusters
route53-recovery-control-config list-control-panels
route53-recovery-control-config list-routing-controls
route53-recovery-control-config list-safety-rules
route53-recovery-control-config list-tags-for-resource
route53-recovery-control-config tag-resource
route53-recovery-control-config untag-resource
route53-recovery-control-config update-control-panel
route53-recovery-control-config update-routing-control
route53-recovery-control-config update-safety-rule
route53-recovery-control-config wait
