route53resolver associate-firewall-rule-group
route53resolver associate-resolver-endpoint-ip-address
route53resolver associate-resolver-query-log-config
route53resolver associate-resolver-rule
route53resolver create-firewall-domain-list
route53resolver create-firewall-rule
route53resolver create-firewall-rule-group
route53resolver create-resolver-endpoint
route53resolver create-resolver-query-log-config
route53resolver create-resolver-rule
route53resolver delete-firewall-domain-list
route53resolver delete-firewall-rule
route53resolver delete-firewall-rule-group
route53resolver delete-resolver-endpoint
route53resolver delete-resolver-query-log-config
route53resolver delete-resolver-rule
route53resolver disassociate-firewall-rule-group
route53resolver disassociate-resolver-endpoint-ip-address
route53resolver disassociate-resolver-query-log-config
route53resolver disassociate-resolver-rule
route53resolver get-firewall-config
route53resolver get-firewall-domain-list
route53resolver get-firewall-rule-group
route53resolver get-firewall-rule-group-association
route53resolver get-firewall-rule-group-policy
route53resolver get-resolver-config
route53resolver get-resolver-dnssec-config
route53resolver get-resolver-endpoint
route53resolver get-resolver-query-log-config
route53resolver get-resolver-query-log-config-association
route53resolver get-resolver-query-log-config-policy
route53resolver get-resolver-rule
route53resolver get-resolver-rule-association
route53resolver get-resolver-rule-policy
route53resolver help
route53resolver import-firewall-domains
route53resolver list-firewall-configs
route53resolver list-firewall-domain-lists
route53resolver list-firewall-domains
route53resolver list-firewall-rule-group-associations
route53resolver list-firewall-rule-groups
route53resolver list-firewall-rules
route53resolver list-resolver-configs
route53resolver list-resolver-dnssec-configs
route53resolver list-resolver-endpoint-ip-addresses
route53resolver list-resolver-endpoints
route53resolver list-resolver-query-log-config-associations
route53resolver list-resolver-query-log-configs
route53resolver list-resolver-rule-associations
route53resolver list-resolver-rules
route53resolver list-tags-for-resource
route53resolver put-firewall-rule-group-policy
route53resolver put-resolver-query-log-config-policy
route53resolver put-resolver-rule-policy
route53resolver tag-resource
route53resolver untag-resource
route53resolver update-firewall-config
route53resolver update-firewall-domains
route53resolver update-firewall-rule
route53resolver update-firewall-rule-group-association
route53resolver update-resolver-config
route53resolver update-resolver-dnssec-config
route53resolver update-resolver-endpoint
route53resolver update-resolver-rule
