s3control create-access-point
s3control create-access-point-for-object-lambda
s3control create-bucket
s3control create-job
s3control create-multi-region-access-point
s3control delete-access-point
s3control delete-access-point-for-object-lambda
s3control delete-access-point-policy
s3control delete-access-point-policy-for-object-lambda
s3control delete-bucket
s3control delete-bucket-lifecycle-configuration
s3control delete-bucket-policy
s3control delete-bucket-tagging
s3control delete-job-tagging
s3control delete-multi-region-access-point
s3control delete-public-access-block
s3control delete-storage-lens-configuration
s3control delete-storage-lens-configuration-tagging
s3control describe-job
s3control describe-multi-region-access-point-operation
s3control get-access-point
s3control get-access-point-configuration-for-object-lambda
s3control get-access-point-for-object-lambda
s3control get-access-point-policy
s3control get-access-point-policy-for-object-lambda
s3control get-access-point-policy-status
s3control get-access-point-policy-status-for-object-lambda
s3control get-bucket
s3control get-bucket-lifecycle-configuration
s3control get-bucket-policy
s3control get-bucket-tagging
s3control get-job-tagging
s3control get-multi-region-access-point
s3control get-multi-region-access-point-policy
s3control get-multi-region-access-point-policy-status
s3control get-public-access-block
s3control get-storage-lens-configuration
s3control get-storage-lens-configuration-tagging
s3control help
s3control list-access-points
s3control list-access-points-for-object-lambda
s3control list-jobs
s3control list-multi-region-access-points
s3control list-regional-buckets
s3control list-storage-lens-configurations
s3control put-access-point-configuration-for-object-lambda
s3control put-access-point-policy
s3control put-access-point-policy-for-object-lambda
s3control put-bucket-lifecycle-configuration
s3control put-bucket-policy
s3control put-bucket-tagging
s3control put-job-tagging
s3control put-multi-region-access-point-policy
s3control put-public-access-block
s3control put-storage-lens-configuration
s3control put-storage-lens-configuration-tagging
s3control update-job-priority
s3control update-job-status
