sagemaker add-association
sagemaker add-tags
sagemaker associate-trial-component
sagemaker batch-describe-model-package
sagemaker create-action
sagemaker create-algorithm
sagemaker create-app
sagemaker create-app-image-config
sagemaker create-artifact
sagemaker create-auto-ml-job
sagemaker create-code-repository
sagemaker create-compilation-job
sagemaker create-context
sagemaker create-data-quality-job-definition
sagemaker create-device-fleet
sagemaker create-domain
sagemaker create-edge-packaging-job
sagemaker create-endpoint
sagemaker create-endpoint-config
sagemaker create-experiment
sagemaker create-feature-group
sagemaker create-flow-definition
sagemaker create-human-task-ui
sagemaker create-hyper-parameter-tuning-job
sagemaker create-image
sagemaker create-image-version
sagemaker create-inference-recommendations-job
sagemaker create-labeling-job
sagemaker create-model
sagemaker create-model-bias-job-definition
sagemaker create-model-explainability-job-definition
sagemaker create-model-package
sagemaker create-model-package-group
sagemaker create-model-quality-job-definition
sagemaker create-monitoring-schedule
sagemaker create-notebook-instance
sagemaker create-notebook-instance-lifecycle-config
sagemaker create-pipeline
sagemaker create-presigned-domain-url
sagemaker create-presigned-notebook-instance-url
sagemaker create-processing-job
sagemaker create-project
sagemaker create-studio-lifecycle-config
sagemaker create-training-job
sagemaker create-transform-job
sagemaker create-trial
sagemaker create-trial-component
sagemaker create-user-profile
sagemaker create-workforce
sagemaker create-workteam
sagemaker delete-action
sagemaker delete-algorithm
sagemaker delete-app
sagemaker delete-app-image-config
sagemaker delete-artifact
sagemaker delete-association
sagemaker delete-code-repository
sagemaker delete-context
sagemaker delete-data-quality-job-definition
sagemaker delete-device-fleet
sagemaker delete-domain
sagemaker delete-endpoint
sagemaker delete-endpoint-config
sagemaker delete-experiment
sagemaker delete-feature-group
sagemaker delete-flow-definition
sagemaker delete-human-task-ui
sagemaker delete-image
sagemaker delete-image-version
sagemaker delete-model
sagemaker delete-model-bias-job-definition
sagemaker delete-model-explainability-job-definition
sagemaker delete-model-package
sagemaker delete-model-package-group
sagemaker delete-model-package-group-policy
sagemaker delete-model-quality-job-definition
sagemaker delete-monitoring-schedule
sagemaker delete-notebook-instance
sagemaker delete-notebook-instance-lifecycle-config
sagemaker delete-pipeline
sagemaker delete-project
sagemaker delete-studio-lifecycle-config
sagemaker delete-tags
sagemaker delete-trial
sagemaker delete-trial-component
sagemaker delete-user-profile
sagemaker delete-workforce
sagemaker delete-workteam
sagemaker deregister-devices
sagemaker describe-action
sagemaker describe-algorithm
sagemaker describe-app
sagemaker describe-app-image-config
sagemaker describe-artifact
sagemaker describe-auto-ml-job
sagemaker describe-code-repository
sagemaker describe-compilation-job
sagemaker describe-context
sagemaker describe-data-quality-job-definition
sagemaker describe-device
sagemaker describe-device-fleet
sagemaker describe-domain
sagemaker describe-edge-packaging-job
sagemaker describe-endpoint
sagemaker describe-endpoint-config
sagemaker describe-experiment
sagemaker describe-feature-group
sagemaker describe-flow-definition
sagemaker describe-human-task-ui
sagemaker describe-hyper-parameter-tuning-job
sagemaker describe-image
sagemaker describe-image-version
sagemaker describe-inference-recommendations-job
sagemaker describe-labeling-job
sagemaker describe-lineage-group
sagemaker describe-model
sagemaker describe-model-bias-job-definition
sagemaker describe-model-explainability-job-definition
sagemaker describe-model-package
sagemaker describe-model-package-group
sagemaker describe-model-quality-job-definition
sagemaker describe-monitoring-schedule
sagemaker describe-notebook-instance
sagemaker describe-notebook-instance-lifecycle-config
sagemaker describe-pipeline
sagemaker describe-pipeline-definition-for-execution
sagemaker describe-pipeline-execution
sagemaker describe-processing-job
sagemaker describe-project
sagemaker describe-studio-lifecycle-config
sagemaker describe-subscribed-workteam
sagemaker describe-training-job
sagemaker describe-transform-job
sagemaker describe-trial
sagemaker describe-trial-component
sagemaker describe-user-profile
sagemaker describe-workforce
sagemaker describe-workteam
sagemaker disable-sagemaker-servicecatalog-portfolio
sagemaker disassociate-trial-component
sagemaker enable-sagemaker-servicecatalog-portfolio
sagemaker get-device-fleet-report
sagemaker get-lineage-group-policy
sagemaker get-model-package-group-policy
sagemaker get-sagemaker-servicecatalog-portfolio-status
sagemaker get-search-suggestions
sagemaker help
sagemaker list-actions
sagemaker list-algorithms
sagemaker list-app-image-configs
sagemaker list-apps
sagemaker list-artifacts
sagemaker list-associations
sagemaker list-auto-ml-jobs
sagemaker list-candidates-for-auto-ml-job
sagemaker list-code-repositories
sagemaker list-compilation-jobs
sagemaker list-contexts
sagemaker list-data-quality-job-definitions
sagemaker list-device-fleets
sagemaker list-devices
sagemaker list-domains
sagemaker list-edge-packaging-jobs
sagemaker list-endpoint-configs
sagemaker list-endpoints
sagemaker list-experiments
sagemaker list-feature-groups
sagemaker list-flow-definitions
sagemaker list-human-task-uis
sagemaker list-hyper-parameter-tuning-jobs
sagemaker list-image-versions
sagemaker list-images
sagemaker list-inference-recommendations-jobs
sagemaker list-labeling-jobs
sagemaker list-labeling-jobs-for-workteam
sagemaker list-lineage-groups
sagemaker list-model-bias-job-definitions
sagemaker list-model-explainability-job-definitions
sagemaker list-model-metadata
sagemaker list-model-package-groups
sagemaker list-model-packages
sagemaker list-model-quality-job-definitions
sagemaker list-models
sagemaker list-monitoring-executions
sagemaker list-monitoring-schedules
sagemaker list-notebook-instance-lifecycle-configs
sagemaker list-notebook-instances
sagemaker list-pipeline-execution-steps
sagemaker list-pipeline-executions
sagemaker list-pipeline-parameters-for-execution
sagemaker list-pipelines
sagemaker list-processing-jobs
sagemaker list-projects
sagemaker list-studio-lifecycle-configs
sagemaker list-subscribed-workteams
sagemaker list-tags
sagemaker list-training-jobs
sagemaker list-training-jobs-for-hyper-parameter-tuning-job
sagemaker list-transform-jobs
sagemaker list-trial-components
sagemaker list-trials
sagemaker list-user-profiles
sagemaker list-workforces
sagemaker list-workteams
sagemaker put-model-package-group-policy
sagemaker query-lineage
sagemaker register-devices
sagemaker render-ui-template
sagemaker retry-pipeline-execution
sagemaker search
sagemaker send-pipeline-execution-step-failure
sagemaker send-pipeline-execution-step-success
sagemaker start-monitoring-schedule
sagemaker start-notebook-instance
sagemaker start-pipeline-execution
sagemaker stop-auto-ml-job
sagemaker stop-compilation-job
sagemaker stop-edge-packaging-job
sagemaker stop-hyper-parameter-tuning-job
sagemaker stop-inference-recommendations-job
sagemaker stop-labeling-job
sagemaker stop-monitoring-schedule
sagemaker stop-notebook-instance
sagemaker stop-pipeline-execution
sagemaker stop-processing-job
sagemaker stop-training-job
sagemaker stop-transform-job
sagemaker update-action
sagemaker update-app-image-config
sagemaker update-artifact
sagemaker update-code-repository
sagemaker update-context
sagemaker update-device-fleet
sagemaker update-devices
sagemaker update-domain
sagemaker update-endpoint
sagemaker update-endpoint-weights-and-capacities
sagemaker update-experiment
sagemaker update-image
sagemaker update-model-package
sagemaker update-monitoring-schedule
sagemaker update-notebook-instance
sagemaker update-notebook-instance-lifecycle-config
sagemaker update-pipeline
sagemaker update-pipeline-execution
sagemaker update-project
sagemaker update-training-job
sagemaker update-trial
sagemaker update-trial-component
sagemaker update-user-profile
sagemaker update-workforce
sagemaker update-workteam
sagemaker wait
