schemas create-discoverer
schemas create-registry
schemas create-schema
schemas delete-discoverer
schemas delete-registry
schemas delete-resource-policy
schemas delete-schema
schemas delete-schema-version
schemas describe-code-binding
schemas describe-discoverer
schemas describe-registry
schemas describe-schema
schemas export-schema
schemas get-code-binding-source
schemas get-discovered-schema
schemas get-resource-policy
schemas help
schemas list-discoverers
schemas list-registries
schemas list-schema-versions
schemas list-schemas
schemas list-tags-for-resource
schemas put-code-binding
schemas put-resource-policy
schemas search-schemas
schemas start-discoverer
schemas stop-discoverer
schemas tag-resource
schemas untag-resource
schemas update-discoverer
schemas update-registry
schemas update-schema
schemas wait
