secretsmanager cancel-rotate-secret
secretsmanager create-secret
secretsmanager delete-resource-policy
secretsmanager delete-secret
secretsmanager describe-secret
secretsmanager get-random-password
secretsmanager get-resource-policy
secretsmanager get-secret-value
secretsmanager help
secretsmanager list-secret-version-ids
secretsmanager list-secrets
secretsmanager put-resource-policy
secretsmanager put-secret-value
secretsmanager remove-regions-from-replication
secretsmanager replicate-secret-to-regions
secretsmanager restore-secret
secretsmanager rotate-secret
secretsmanager stop-replication-to-replica
secretsmanager tag-resource
secretsmanager untag-resource
secretsmanager update-secret
secretsmanager update-secret-version-stage
secretsmanager validate-resource-policy
