servicecatalog-appregistry associate-attribute-group
servicecatalog-appregistry associate-resource
servicecatalog-appregistry create-application
servicecatalog-appregistry create-attribute-group
servicecatalog-appregistry delete-application
servicecatalog-appregistry delete-attribute-group
servicecatalog-appregistry disassociate-attribute-group
servicecatalog-appregistry disassociate-resource
servicecatalog-appregistry get-application
servicecatalog-appregistry get-associated-resource
servicecatalog-appregistry get-attribute-group
servicecatalog-appregistry help
servicecatalog-appregistry list-applications
servicecatalog-appregistry list-associated-attribute-groups
servicecatalog-appregistry list-associated-resources
servicecatalog-appregistry list-attribute-groups
servicecatalog-appregistry list-tags-for-resource
servicecatalog-appregistry sync-resource
servicecatalog-appregistry tag-resource
servicecatalog-appregistry untag-resource
servicecatalog-appregistry update-application
servicecatalog-appregistry update-attribute-group
