serverlessrepo create-application
serverlessrepo create-application-version
serverlessrepo create-cloud-formation-change-set
serverlessrepo create-cloud-formation-template
serverlessrepo delete-application
serverlessrepo get-application
serverlessrepo get-application-policy
serverlessrepo get-cloud-formation-template
serverlessrepo help
serverlessrepo list-application-dependencies
serverlessrepo list-application-versions
serverlessrepo list-applications
serverlessrepo put-application-policy
serverlessrepo unshare-application
serverlessrepo update-application
