servicediscovery create-http-namespace
servicediscovery create-private-dns-namespace
servicediscovery create-public-dns-namespace
servicediscovery create-service
servicediscovery delete-namespace
servicediscovery delete-service
servicediscovery deregister-instance
servicediscovery discover-instances
servicediscovery get-instance
servicediscovery get-instances-health-status
servicediscovery get-namespace
servicediscovery get-operation
servicediscovery get-service
servicediscovery help
servicediscovery list-instances
servicediscovery list-namespaces
servicediscovery list-operations
servicediscovery list-services
servicediscovery list-tags-for-resource
servicediscovery register-instance
servicediscovery tag-resource
servicediscovery untag-resource
servicediscovery update-http-namespace
servicediscovery update-instance-custom-health-status
servicediscovery update-private-dns-namespace
servicediscovery update-public-dns-namespace
servicediscovery update-service
