sesv2 create-configuration-set
sesv2 create-configuration-set-event-destination
sesv2 create-contact
sesv2 create-contact-list
sesv2 create-custom-verification-email-template
sesv2 create-dedicated-ip-pool
sesv2 create-deliverability-test-report
sesv2 create-email-identity
sesv2 create-email-identity-policy
sesv2 create-email-template
sesv2 create-import-job
sesv2 delete-configuration-set
sesv2 delete-configuration-set-event-destination
sesv2 delete-contact
sesv2 delete-contact-list
sesv2 delete-custom-verification-email-template
sesv2 delete-dedicated-ip-pool
sesv2 delete-email-identity
sesv2 delete-email-identity-policy
sesv2 delete-email-template
sesv2 delete-suppressed-destination
sesv2 get-account
sesv2 get-blacklist-reports
sesv2 get-configuration-set
sesv2 get-configuration-set-event-destinations
sesv2 get-contact
sesv2 get-contact-list
sesv2 get-custom-verification-email-template
sesv2 get-dedicated-ip
sesv2 get-dedicated-ips
sesv2 get-deliverability-dashboard-options
sesv2 get-deliverability-test-report
sesv2 get-domain-deliverability-campaign
sesv2 get-domain-statistics-report
sesv2 get-email-identity
sesv2 get-email-identity-policies
sesv2 get-email-template
sesv2 get-import-job
sesv2 get-suppressed-destination
sesv2 help
sesv2 list-configuration-sets
sesv2 list-contact-lists
sesv2 list-contacts
sesv2 list-custom-verification-email-templates
sesv2 list-dedicated-ip-pools
sesv2 list-deliverability-test-reports
sesv2 list-domain-deliverability-campaigns
sesv2 list-email-identities
sesv2 list-email-templates
sesv2 list-import-jobs
sesv2 list-suppressed-destinations
sesv2 list-tags-for-resource
sesv2 put-account-dedicated-ip-warmup-attributes
sesv2 put-account-details
sesv2 put-account-sending-attributes
sesv2 put-account-suppression-attributes
sesv2 put-configuration-set-delivery-options
sesv2 put-configuration-set-reputation-options
sesv2 put-configuration-set-sending-options
sesv2 put-configuration-set-suppression-options
sesv2 put-configuration-set-tracking-options
sesv2 put-dedicated-ip-in-pool
sesv2 put-dedicated-ip-warmup-attributes
sesv2 put-deliverability-dashboard-option
sesv2 put-email-identity-configuration-set-attributes
sesv2 put-email-identity-dkim-attributes
sesv2 put-email-identity-dkim-signing-attributes
sesv2 put-email-identity-feedback-attributes
sesv2 put-email-identity-mail-from-attributes
sesv2 put-suppressed-destination
sesv2 send-bulk-email
sesv2 send-custom-verification-email
sesv2 send-email
sesv2 tag-resource
sesv2 test-render-email-template
sesv2 untag-resource
sesv2 update-configuration-set-event-destination
sesv2 update-contact
sesv2 update-contact-list
sesv2 update-custom-verification-email-template
sesv2 update-email-identity-policy
sesv2 update-email-template
