shield associate-drt-log-bucket
shield associate-drt-role
shield associate-health-check
shield associate-proactive-engagement-details
shield create-protection
shield create-protection-group
shield create-subscription
shield delete-protection
shield delete-protection-group
shield delete-subscription
shield describe-attack
shield describe-attack-statistics
shield describe-drt-access
shield describe-emergency-contact-settings
shield describe-protection
shield describe-protection-group
shield describe-subscription
shield disable-application-layer-automatic-response
shield disable-proactive-engagement
shield disassociate-drt-log-bucket
shield disassociate-drt-role
shield disassociate-health-check
shield enable-application-layer-automatic-response
shield enable-proactive-engagement
shield get-subscription-state
shield help
shield list-attacks
shield list-protection-groups
shield list-protections
shield list-resources-in-protection-group
shield list-tags-for-resource
shield tag-resource
shield untag-resource
shield update-application-layer-automatic-response
shield update-emergency-contact-settings
shield update-protection-group
shield update-subscription
