signer add-profile-permission
signer cancel-signing-profile
signer describe-signing-job
signer get-signing-platform
signer get-signing-profile
signer help
signer list-profile-permissions
signer list-signing-jobs
signer list-signing-platforms
signer list-signing-profiles
signer list-tags-for-resource
signer put-signing-profile
signer remove-profile-permission
signer revoke-signature
signer revoke-signing-profile
signer start-signing-job
signer tag-resource
signer untag-resource
signer wait
