sms create-app
sms create-replication-job
sms delete-app
sms delete-app-launch-configuration
sms delete-app-replication-configuration
sms delete-app-validation-configuration
sms delete-replication-job
sms delete-server-catalog
sms disassociate-connector
sms generate-change-set
sms generate-template
sms get-app
sms get-app-launch-configuration
sms get-app-replication-configuration
sms get-app-validation-configuration
sms get-app-validation-output
sms get-connectors
sms get-replication-jobs
sms get-replication-runs
sms get-servers
sms help
sms import-app-catalog
sms import-server-catalog
sms launch-app
sms list-apps
sms notify-app-validation-output
sms put-app-launch-configuration
sms put-app-replication-configuration
sms put-app-validation-configuration
sms start-app-replication
sms start-on-demand-app-replication
sms start-on-demand-replication-run
sms stop-app-replication
sms terminate-app
sms update-app
sms update-replication-job
