snowball cancel-cluster
snowball cancel-job
snowball create-address
snowball create-cluster
snowball create-job
snowball create-long-term-pricing
snowball create-return-shipping-label
snowball describe-address
snowball describe-addresses
snowball describe-cluster
snowball describe-job
snowball describe-return-shipping-label
snowball get-job-manifest
snowball get-job-unlock-code
snowball get-snowball-usage
snowball get-software-updates
snowball help
snowball list-cluster-jobs
snowball list-clusters
snowball list-compatible-images
snowball list-jobs
snowball list-long-term-pricing
snowball update-cluster
snowball update-job
snowball update-job-shipment-state
snowball update-long-term-pricing
