sns add-permission
sns check-if-phone-number-is-opted-out
sns confirm-subscription
sns create-platform-application
sns create-platform-endpoint
sns create-sms-sandbox-phone-number
sns create-topic
sns delete-endpoint
sns delete-platform-application
sns delete-sms-sandbox-phone-number
sns delete-topic
sns get-endpoint-attributes
sns get-platform-application-attributes
sns get-sms-attributes
sns get-sms-sandbox-account-status
sns get-subscription-attributes
sns get-topic-attributes
sns help
sns list-endpoints-by-platform-application
sns list-origination-numbers
sns list-phone-numbers-opted-out
sns list-platform-applications
sns list-sms-sandbox-phone-numbers
sns list-subscriptions
sns list-subscriptions-by-topic
sns list-tags-for-resource
sns list-topics
sns opt-in-phone-number
sns publish
sns publish-batch
sns remove-permission
sns set-endpoint-attributes
sns set-platform-application-attributes
sns set-sms-attributes
sns set-subscription-attributes
sns set-topic-attributes
sns subscribe
sns tag-resource
sns unsubscribe
sns untag-resource
sns verify-sms-sandbox-phone-number
