sqs add-permission
sqs change-message-visibility
sqs change-message-visibility-batch
sqs create-queue
sqs delete-message
sqs delete-message-batch
sqs delete-queue
sqs get-queue-attributes
sqs get-queue-url
sqs help
sqs list-dead-letter-source-queues
sqs list-queue-tags
sqs list-queues
sqs purge-queue
sqs receive-message
sqs remove-permission
sqs send-message
sqs send-message-batch
sqs set-queue-attributes
sqs tag-queue
sqs untag-queue
