ssm add-tags-to-resource
ssm associate-ops-item-related-item
ssm cancel-command
ssm cancel-maintenance-window-execution
ssm create-activation
ssm create-association
ssm create-association-batch
ssm create-document
ssm create-maintenance-window
ssm create-ops-item
ssm create-ops-metadata
ssm create-patch-baseline
ssm create-resource-data-sync
ssm delete-activation
ssm delete-association
ssm delete-document
ssm delete-inventory
ssm delete-maintenance-window
ssm delete-ops-metadata
ssm delete-parameter
ssm delete-parameters
ssm delete-patch-baseline
ssm delete-resource-data-sync
ssm deregister-managed-instance
ssm deregister-patch-baseline-for-patch-group
ssm deregister-target-from-maintenance-window
ssm deregister-task-from-maintenance-window
ssm describe-activations
ssm describe-association
ssm describe-association-execution-targets
ssm describe-association-executions
ssm describe-automation-executions
ssm describe-automation-step-executions
ssm describe-available-patches
ssm describe-document
ssm describe-document-permission
ssm describe-effective-instance-associations
ssm describe-effective-patches-for-patch-baseline
ssm describe-instance-associations-status
ssm describe-instance-information
ssm describe-instance-patch-states
ssm describe-instance-patch-states-for-patch-group
ssm describe-instance-patches
ssm describe-inventory-deletions
ssm describe-maintenance-window-execution-task-invocations
ssm describe-maintenance-window-execution-tasks
ssm describe-maintenance-window-executions
ssm describe-maintenance-window-schedule
ssm describe-maintenance-window-targets
ssm describe-maintenance-window-tasks
ssm describe-maintenance-windows
ssm describe-maintenance-windows-for-target
ssm describe-ops-items
ssm describe-parameters
ssm describe-patch-baselines
ssm describe-patch-group-state
ssm describe-patch-groups
ssm describe-patch-properties
ssm describe-sessions
ssm disassociate-ops-item-related-item
ssm get-automation-execution
ssm get-calendar-state
ssm get-command-invocation
ssm get-connection-status
ssm get-default-patch-baseline
ssm get-deployable-patch-snapshot-for-instance
ssm get-document
ssm get-inventory
ssm get-inventory-schema
ssm get-maintenance-window
ssm get-maintenance-window-execution
ssm get-maintenance-window-execution-task
ssm get-maintenance-window-execution-task-invocation
ssm get-maintenance-window-task
ssm get-ops-item
ssm get-ops-metadata
ssm get-ops-summary
ssm get-parameter
ssm get-parameter-history
ssm get-parameters
ssm get-parameters-by-path
ssm get-patch-baseline
ssm get-patch-baseline-for-patch-group
ssm get-service-setting
ssm help
ssm label-parameter-version
ssm list-association-versions
ssm list-associations
ssm list-command-invocations
ssm list-commands
ssm list-compliance-items
ssm list-compliance-summaries
ssm list-document-metadata-history
ssm list-document-versions
ssm list-documents
ssm list-inventory-entries
ssm list-ops-item-events
ssm list-ops-item-related-items
ssm list-ops-metadata
ssm list-resource-compliance-summaries
ssm list-resource-data-sync
ssm list-tags-for-resource
ssm modify-document-permission
ssm put-compliance-items
ssm put-inventory
ssm put-parameter
ssm register-default-patch-baseline
ssm register-patch-baseline-for-patch-group
ssm register-target-with-maintenance-window
ssm register-task-with-maintenance-window
ssm remove-tags-from-resource
ssm reset-service-setting
ssm resume-session
ssm send-automation-signal
ssm send-command
ssm start-associations-once
ssm start-automation-execution
ssm start-change-request-execution
ssm start-session
ssm stop-automation-execution
ssm terminate-session
ssm unlabel-parameter-version
ssm update-association
ssm update-association-status
ssm update-document
ssm update-document-default-version
ssm update-document-metadata
ssm update-maintenance-window
ssm update-maintenance-window-target
ssm update-maintenance-window-task
ssm update-managed-instance-role
ssm update-ops-item
ssm update-ops-metadata
ssm update-patch-baseline
ssm update-resource-data-sync
ssm update-service-setting
ssm wait
