stepfunctions create-activity
stepfunctions create-state-machine
stepfunctions delete-activity
stepfunctions delete-state-machine
stepfunctions describe-activity
stepfunctions describe-execution
stepfunctions describe-state-machine
stepfunctions describe-state-machine-for-execution
stepfunctions get-activity-task
stepfunctions get-execution-history
stepfunctions help
stepfunctions list-activities
stepfunctions list-executions
stepfunctions list-state-machines
stepfunctions list-tags-for-resource
stepfunctions send-task-failure
stepfunctions send-task-heartbeat
stepfunctions send-task-success
stepfunctions start-execution
stepfunctions start-sync-execution
stepfunctions stop-execution
stepfunctions tag-resource
stepfunctions untag-resource
stepfunctions update-state-machine
