storagegateway activate-gateway
storagegateway add-cache
storagegateway add-tags-to-resource
storagegateway add-upload-buffer
storagegateway add-working-storage
storagegateway assign-tape-pool
storagegateway associate-file-system
storagegateway attach-volume
storagegateway cancel-archival
storagegateway cancel-retrieval
storagegateway create-cached-iscsi-volume
storagegateway create-nfs-file-share
storagegateway create-smb-file-share
storagegateway create-snapshot
storagegateway create-snapshot-from-volume-recovery-point
storagegateway create-stored-iscsi-volume
storagegateway create-tape-pool
storagegateway create-tape-with-barcode
storagegateway create-tapes
storagegateway delete-automatic-tape-creation-policy
storagegateway delete-bandwidth-rate-limit
storagegateway delete-chap-credentials
storagegateway delete-file-share
storagegateway delete-gateway
storagegateway delete-snapshot-schedule
storagegateway delete-tape
storagegateway delete-tape-archive
storagegateway delete-tape-pool
storagegateway delete-volume
storagegateway describe-availability-monitor-test
storagegateway describe-bandwidth-rate-limit
storagegateway describe-bandwidth-rate-limit-schedule
storagegateway describe-cache
storagegateway describe-cached-iscsi-volumes
storagegateway describe-chap-credentials
storagegateway describe-file-system-associations
storagegateway describe-gateway-information
storagegateway describe-maintenance-start-time
storagegateway describe-nfs-file-shares
storagegateway describe-smb-file-shares
storagegateway describe-smb-settings
storagegateway describe-snapshot-schedule
storagegateway describe-stored-iscsi-volumes
storagegateway describe-tape-archives
storagegateway describe-tape-recovery-points
storagegateway describe-tapes
storagegateway describe-upload-buffer
storagegateway describe-vtl-devices
storagegateway describe-working-storage
storagegateway detach-volume
storagegateway disable-gateway
storagegateway disassociate-file-system
storagegateway help
storagegateway join-domain
storagegateway list-automatic-tape-creation-policies
storagegateway list-file-shares
storagegateway list-file-system-associations
storagegateway list-gateways
storagegateway list-local-disks
storagegateway list-tags-for-resource
storagegateway list-tape-pools
storagegateway list-tapes
storagegateway list-volume-initiators
storagegateway list-volume-recovery-points
storagegateway list-volumes
storagegateway notify-when-uploaded
storagegateway refresh-cache
storagegateway remove-tags-from-resource
storagegateway reset-cache
storagegateway retrieve-tape-archive
storagegateway retrieve-tape-recovery-point
storagegateway set-local-console-password
storagegateway set-smb-guest-password
storagegateway shutdown-gateway
storagegateway start-availability-monitor-test
storagegateway start-gateway
storagegateway update-automatic-tape-creation-policy
storagegateway update-bandwidth-rate-limit
storagegateway update-bandwidth-rate-limit-schedule
storagegateway update-chap-credentials
storagegateway update-file-system-association
storagegateway update-gateway-information
storagegateway update-gateway-software-now
storagegateway update-maintenance-start-time
storagegateway update-nfs-file-share
storagegateway update-smb-file-share
storagegateway update-smb-file-share-visibility
storagegateway update-smb-local-groups
storagegateway update-smb-security-strategy
storagegateway update-snapshot-schedule
storagegateway update-vtl-device-type
