swf count-closed-workflow-executions
swf count-open-workflow-executions
swf count-pending-activity-tasks
swf count-pending-decision-tasks
swf deprecate-activity-type
swf deprecate-domain
swf deprecate-workflow-type
swf describe-activity-type
swf describe-domain
swf describe-workflow-execution
swf describe-workflow-type
swf get-workflow-execution-history
swf help
swf list-activity-types
swf list-closed-workflow-executions
swf list-domains
swf list-open-workflow-executions
swf list-tags-for-resource
swf list-workflow-types
swf poll-for-activity-task
swf poll-for-decision-task
swf record-activity-task-heartbeat
swf register-activity-type
swf register-domain
swf register-workflow-type
swf request-cancel-workflow-execution
swf respond-activity-task-canceled
swf respond-activity-task-completed
swf respond-activity-task-failed
swf respond-decision-task-completed
swf signal-workflow-execution
swf start-workflow-execution
swf tag-resource
swf terminate-workflow-execution
swf undeprecate-activity-type
swf undeprecate-domain
swf undeprecate-workflow-type
swf untag-resource
