transfer create-access
transfer create-server
transfer create-user
transfer create-workflow
transfer delete-access
transfer delete-server
transfer delete-ssh-public-key
transfer delete-user
transfer delete-workflow
transfer describe-access
transfer describe-execution
transfer describe-security-policy
transfer describe-server
transfer describe-user
transfer describe-workflow
transfer help
transfer import-ssh-public-key
transfer list-accesses
transfer list-executions
transfer list-security-policies
transfer list-servers
transfer list-tags-for-resource
transfer list-users
transfer list-workflows
transfer send-workflow-step-state
transfer start-server
transfer stop-server
transfer tag-resource
transfer test-identity-provider
transfer untag-resource
transfer update-access
transfer update-server
transfer update-user
