transcribe create-call-analytics-category
transcribe create-language-model
transcribe create-medical-vocabulary
transcribe create-vocabulary
transcribe create-vocabulary-filter
transcribe delete-call-analytics-category
transcribe delete-call-analytics-job
transcribe delete-language-model
transcribe delete-medical-transcription-job
transcribe delete-medical-vocabulary
transcribe delete-transcription-job
transcribe delete-vocabulary
transcribe delete-vocabulary-filter
transcribe describe-language-model
transcribe get-call-analytics-category
transcribe get-call-analytics-job
transcribe get-medical-transcription-job
transcribe get-medical-vocabulary
transcribe get-transcription-job
transcribe get-vocabulary
transcribe get-vocabulary-filter
transcribe help
transcribe list-call-analytics-categories
transcribe list-call-analytics-jobs
transcribe list-language-models
transcribe list-medical-transcription-jobs
transcribe list-medical-vocabularies
transcribe list-tags-for-resource
transcribe list-transcription-jobs
transcribe list-vocabularies
transcribe list-vocabulary-filters
transcribe start-call-analytics-job
transcribe start-medical-transcription-job
transcribe start-transcription-job
transcribe tag-resource
transcribe untag-resource
transcribe update-call-analytics-category
transcribe update-medical-vocabulary
transcribe update-vocabulary
transcribe update-vocabulary-filter
