voice-id create-domain
voice-id delete-domain
voice-id delete-fraudster
voice-id delete-speaker
voice-id describe-domain
voice-id describe-fraudster
voice-id describe-fraudster-registration-job
voice-id describe-speaker
voice-id describe-speaker-enrollment-job
voice-id evaluate-session
voice-id help
voice-id list-domains
voice-id list-fraudster-registration-jobs
voice-id list-speaker-enrollment-jobs
voice-id list-speakers
voice-id list-tags-for-resource
voice-id opt-out-speaker
voice-id start-fraudster-registration-job
voice-id start-speaker-enrollment-job
voice-id tag-resource
voice-id untag-resource
voice-id update-domain
