waf-regional associate-web-acl
waf-regional create-byte-match-set
waf-regional create-geo-match-set
waf-regional create-ip-set
waf-regional create-rate-based-rule
waf-regional create-regex-match-set
waf-regional create-regex-pattern-set
waf-regional create-rule
waf-regional create-rule-group
waf-regional create-size-constraint-set
waf-regional create-sql-injection-match-set
waf-regional create-web-acl
waf-regional create-web-acl-migration-stack
waf-regional create-xss-match-set
waf-regional delete-byte-match-set
waf-regional delete-geo-match-set
waf-regional delete-ip-set
waf-regional delete-logging-configuration
waf-regional delete-permission-policy
waf-regional delete-rate-based-rule
waf-regional delete-regex-match-set
waf-regional delete-regex-pattern-set
waf-regional delete-rule
waf-regional delete-rule-group
waf-regional delete-size-constraint-set
waf-regional delete-sql-injection-match-set
waf-regional delete-web-acl
waf-regional delete-xss-match-set
waf-regional disassociate-web-acl
waf-regional get-byte-match-set
waf-regional get-change-token
waf-regional get-change-token-status
waf-regional get-geo-match-set
waf-regional get-ip-set
waf-regional get-logging-configuration
waf-regional get-permission-policy
waf-regional get-rate-based-rule
waf-regional get-rate-based-rule-managed-keys
waf-regional get-regex-match-set
waf-regional get-regex-pattern-set
waf-regional get-rule
waf-regional get-rule-group
waf-regional get-sampled-requests
waf-regional get-size-constraint-set
waf-regional get-sql-injection-match-set
waf-regional get-web-acl
waf-regional get-web-acl-for-resource
waf-regional get-xss-match-set
waf-regional help
waf-regional list-activated-rules-in-rule-group
waf-regional list-byte-match-sets
waf-regional list-geo-match-sets
waf-regional list-ip-sets
waf-regional list-logging-configurations
waf-regional list-rate-based-rules
waf-regional list-regex-match-sets
waf-regional list-regex-pattern-sets
waf-regional list-resources-for-web-acl
waf-regional list-rule-groups
waf-regional list-rules
waf-regional list-size-constraint-sets
waf-regional list-sql-injection-match-sets
waf-regional list-subscribed-rule-groups
waf-regional list-tags-for-resource
waf-regional list-web-acls
waf-regional list-xss-match-sets
waf-regional put-logging-configuration
waf-regional put-permission-policy
waf-regional tag-resource
waf-regional untag-resource
waf-regional update-byte-match-set
waf-regional update-geo-match-set
waf-regional update-ip-set
waf-regional update-rate-based-rule
waf-regional update-regex-match-set
waf-regional update-regex-pattern-set
waf-regional update-rule
waf-regional update-rule-group
waf-regional update-size-constraint-set
waf-regional update-sql-injection-match-set
waf-regional update-web-acl
waf-regional update-xss-match-set
