waf create-byte-match-set
waf create-geo-match-set
waf create-ip-set
waf create-rate-based-rule
waf create-regex-match-set
waf create-regex-pattern-set
waf create-rule
waf create-rule-group
waf create-size-constraint-set
waf create-sql-injection-match-set
waf create-web-acl
waf create-web-acl-migration-stack
waf create-xss-match-set
waf delete-byte-match-set
waf delete-geo-match-set
waf delete-ip-set
waf delete-logging-configuration
waf delete-permission-policy
waf delete-rate-based-rule
waf delete-regex-match-set
waf delete-regex-pattern-set
waf delete-rule
waf delete-rule-group
waf delete-size-constraint-set
waf delete-sql-injection-match-set
waf delete-web-acl
waf delete-xss-match-set
waf get-byte-match-set
waf get-change-token
waf get-change-token-status
waf get-geo-match-set
waf get-ip-set
waf get-logging-configuration
waf get-permission-policy
waf get-rate-based-rule
waf get-rate-based-rule-managed-keys
waf get-regex-match-set
waf get-regex-pattern-set
waf get-rule
waf get-rule-group
waf get-sampled-requests
waf get-size-constraint-set
waf get-sql-injection-match-set
waf get-web-acl
waf get-xss-match-set
waf help
waf list-activated-rules-in-rule-group
waf list-byte-match-sets
waf list-geo-match-sets
waf list-ip-sets
waf list-logging-configurations
waf list-rate-based-rules
waf list-regex-match-sets
waf list-regex-pattern-sets
waf list-rule-groups
waf list-rules
waf list-size-constraint-sets
waf list-sql-injection-match-sets
waf list-subscribed-rule-groups
waf list-tags-for-resource
waf list-web-acls
waf list-xss-match-sets
waf put-logging-configuration
waf put-permission-policy
waf tag-resource
waf untag-resource
waf update-byte-match-set
waf update-geo-match-set
waf update-ip-set
waf update-rate-based-rule
waf update-regex-match-set
waf update-regex-pattern-set
waf update-rule
waf update-rule-group
waf update-size-constraint-set
waf update-sql-injection-match-set
waf update-web-acl
waf update-xss-match-set
