wafv2 associate-web-acl
wafv2 check-capacity
wafv2 create-ip-set
wafv2 create-regex-pattern-set
wafv2 create-rule-group
wafv2 create-web-acl
wafv2 delete-firewall-manager-rule-groups
wafv2 delete-ip-set
wafv2 delete-logging-configuration
wafv2 delete-permission-policy
wafv2 delete-regex-pattern-set
wafv2 delete-rule-group
wafv2 delete-web-acl
wafv2 describe-managed-rule-group
wafv2 disassociate-web-acl
wafv2 get-ip-set
wafv2 get-logging-configuration
wafv2 get-managed-rule-set
wafv2 get-permission-policy
wafv2 get-rate-based-statement-managed-keys
wafv2 get-regex-pattern-set
wafv2 get-rule-group
wafv2 get-sampled-requests
wafv2 get-web-acl
wafv2 get-web-acl-for-resource
wafv2 help
wafv2 list-available-managed-rule-group-versions
wafv2 list-available-managed-rule-groups
wafv2 list-ip-sets
wafv2 list-logging-configurations
wafv2 list-managed-rule-sets
wafv2 list-regex-pattern-sets
wafv2 list-resources-for-web-acl
wafv2 list-rule-groups
wafv2 list-tags-for-resource
wafv2 list-web-acls
wafv2 put-logging-configuration
wafv2 put-managed-rule-set-versions
wafv2 put-permission-policy
wafv2 tag-resource
wafv2 untag-resource
wafv2 update-ip-set
wafv2 update-managed-rule-set-version-expiry-date
wafv2 update-regex-pattern-set
wafv2 update-rule-group
wafv2 update-web-acl
