wellarchitected associate-lenses
wellarchitected create-lens-share
wellarchitected create-lens-version
wellarchitected create-milestone
wellarchitected create-workload
wellarchitected create-workload-share
wellarchitected delete-lens
wellarchitected delete-lens-share
wellarchitected delete-workload
wellarchitected delete-workload-share
wellarchitected disassociate-lenses
wellarchitected export-lens
wellarchitected get-answer
wellarchitected get-lens
wellarchitected get-lens-review
wellarchitected get-lens-review-report
wellarchitected get-lens-version-difference
wellarchitected get-milestone
wellarchitected get-workload
wellarchitected help
wellarchitected import-lens
wellarchitected list-answers
wellarchitected list-lens-review-improvements
wellarchitected list-lens-reviews
wellarchitected list-lens-shares
wellarchitected list-lenses
wellarchitected list-milestones
wellarchitected list-notifications
wellarchitected list-share-invitations
wellarchitected list-tags-for-resource
wellarchitected list-workload-shares
wellarchitected list-workloads
wellarchitected tag-resource
wellarchitected untag-resource
wellarchitected update-answer
wellarchitected update-lens-review
wellarchitected update-share-invitation
wellarchitected update-workload
wellarchitected update-workload-share
wellarchitected upgrade-lens-review
