wisdom create-assistant
wisdom create-assistant-association
wisdom create-content
wisdom create-knowledge-base
wisdom create-session
wisdom delete-assistant
wisdom delete-assistant-association
wisdom delete-content
wisdom delete-knowledge-base
wisdom get-assistant
wisdom get-assistant-association
wisdom get-content
wisdom get-content-summary
wisdom get-knowledge-base
wisdom get-recommendations
wisdom get-session
wisdom help
wisdom list-assistant-associations
wisdom list-assistants
wisdom list-contents
wisdom list-knowledge-bases
wisdom list-tags-for-resource
wisdom notify-recommendations-received
wisdom query-assistant
wisdom remove-knowledge-base-template-uri
wisdom search-content
wisdom search-sessions
wisdom start-content-upload
wisdom tag-resource
wisdom untag-resource
wisdom update-content
wisdom update-knowledge-base-template-uri
