workdocs abort-document-version-upload
workdocs activate-user
workdocs add-resource-permissions
workdocs create-comment
workdocs create-custom-metadata
workdocs create-folder
workdocs create-labels
workdocs create-notification-subscription
workdocs create-user
workdocs deactivate-user
workdocs delete-comment
workdocs delete-custom-metadata
workdocs delete-document
workdocs delete-folder
workdocs delete-folder-contents
workdocs delete-labels
workdocs delete-notification-subscription
workdocs delete-user
workdocs describe-activities
workdocs describe-comments
workdocs describe-document-versions
workdocs describe-folder-contents
workdocs describe-groups
workdocs describe-notification-subscriptions
workdocs describe-resource-permissions
workdocs describe-root-folders
workdocs describe-users
workdocs get-current-user
workdocs get-document
workdocs get-document-path
workdocs get-document-version
workdocs get-folder
workdocs get-folder-path
workdocs get-resources
workdocs help
workdocs initiate-document-version-upload
workdocs remove-all-resource-permissions
workdocs remove-resource-permission
workdocs update-document
workdocs update-document-version
workdocs update-folder
workdocs update-user
