workspaces-web associate-browser-settings
workspaces-web associate-network-settings
workspaces-web associate-trust-store
workspaces-web associate-user-settings
workspaces-web create-browser-settings
workspaces-web create-identity-provider
workspaces-web create-network-settings
workspaces-web create-portal
workspaces-web create-trust-store
workspaces-web create-user-settings
workspaces-web delete-browser-settings
workspaces-web delete-identity-provider
workspaces-web delete-network-settings
workspaces-web delete-portal
workspaces-web delete-trust-store
workspaces-web delete-user-settings
workspaces-web disassociate-browser-settings
workspaces-web disassociate-network-settings
workspaces-web disassociate-trust-store
workspaces-web disassociate-user-settings
workspaces-web get-browser-settings
workspaces-web get-identity-provider
workspaces-web get-network-settings
workspaces-web get-portal
workspaces-web get-portal-service-provider-metadata
workspaces-web get-trust-store
workspaces-web get-trust-store-certificate
workspaces-web get-user-settings
workspaces-web help
workspaces-web list-browser-settings
workspaces-web list-identity-providers
workspaces-web list-network-settings
workspaces-web list-portals
workspaces-web list-tags-for-resource
workspaces-web list-trust-store-certificates
workspaces-web list-trust-stores
workspaces-web list-user-settings
workspaces-web tag-resource
workspaces-web untag-resource
workspaces-web update-browser-settings
workspaces-web update-identity-provider
workspaces-web update-network-settings
workspaces-web update-portal
workspaces-web update-trust-store
workspaces-web update-user-settings
