workspaces associate-connection-alias
workspaces associate-ip-groups
workspaces authorize-ip-rules
workspaces copy-workspace-image
workspaces create-connect-client-add-in
workspaces create-connection-alias
workspaces create-ip-group
workspaces create-tags
workspaces create-updated-workspace-image
workspaces create-workspace-bundle
workspaces create-workspaces
workspaces delete-connect-client-add-in
workspaces delete-connection-alias
workspaces delete-ip-group
workspaces delete-tags
workspaces delete-workspace-bundle
workspaces delete-workspace-image
workspaces deregister-workspace-directory
workspaces describe-account
workspaces describe-account-modifications
workspaces describe-client-properties
workspaces describe-connect-client-add-ins
workspaces describe-connection-alias-permissions
workspaces describe-connection-aliases
workspaces describe-ip-groups
workspaces describe-tags
workspaces describe-workspace-bundles
workspaces describe-workspace-directories
workspaces describe-workspace-image-permissions
workspaces describe-workspace-images
workspaces describe-workspace-snapshots
workspaces describe-workspaces
workspaces describe-workspaces-connection-status
workspaces disassociate-connection-alias
workspaces disassociate-ip-groups
workspaces help
workspaces import-workspace-image
workspaces list-available-management-cidr-ranges
workspaces migrate-workspace
workspaces modify-account
workspaces modify-client-properties
workspaces modify-selfservice-permissions
workspaces modify-workspace-access-properties
workspaces modify-workspace-creation-properties
workspaces modify-workspace-properties
workspaces modify-workspace-state
workspaces reboot-workspaces
workspaces rebuild-workspaces
workspaces register-workspace-directory
workspaces restore-workspace
workspaces revoke-ip-rules
workspaces start-workspaces
workspaces stop-workspaces
workspaces terminate-workspaces
workspaces update-connect-client-add-in
workspaces update-connection-alias-permission
workspaces update-rules-of-ip-group
workspaces update-workspace-bundle
workspaces update-workspace-image-permission
