xray batch-get-traces
xray create-group
xray create-sampling-rule
xray delete-group
xray delete-sampling-rule
xray get-encryption-config
xray get-group
xray get-groups
xray get-insight
xray get-insight-events
xray get-insight-impact-graph
xray get-insight-summaries
xray get-sampling-rules
xray get-sampling-statistic-summaries
xray get-sampling-targets
xray get-service-graph
xray get-time-series-service-statistics
xray get-trace-graph
xray get-trace-summaries
xray help
xray list-tags-for-resource
xray put-encryption-config
xray put-telemetry-records
xray put-trace-segments
xray tag-resource
xray untag-resource
xray update-group
xray update-sampling-rule
